html {
  background-color: var(--color-body-bg);
  scroll-behavior: smooth;
  min-height: 100%;
  height: 100%;
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
}

.page {
  .iframe-modal & {
    padding: calc(var(--size-ds-unit) * 2);
  }
}

.wrapper {
  flex: 1 0 auto;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  // IE11 chokes on nested calc() expressions, so while the margin-top
  // below *should* be calc(var(--size-logo-height) + 2rem), we have to hard-
  // code the value of --size-logo-height (which equates to 30px)
  margin-top: calc(30px + 2rem);

  @media (min-width: $break-lg) {
    flex-direction: row;
    margin-top: 0;
  }
}

.wrapper>*:first-child {
  margin-top: 0;
}

.error-page {
  text-align: center;

  .error-splash {
    max-width: 100%;
    width: 50rem;
    display: block;
    margin: 0 auto;
  }
}

.content {
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  padding: 0;

  @media (min-width: $break-lg) {
    padding: 5rem;
  }
}

.content-header {
  padding: 1rem;

  @media (min-width: $break-lg) {
    padding: 0rem;
  }
}

.content-body, 
.content-footer {
  padding: 0 1rem;

  @media (min-width: $break-lg) {
    padding: 0rem;
  }
}

.no-results {
  padding: 2rem;

  @media (min-width: $break-lg) {
    padding: 0rem;
  }
}

.aside {
  display: flex;
  align-items: center;

  h1 {
    flex-grow: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
  }
}

.data-form {
  background-color: #fff;
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);
  padding: 2rem;
  margin-bottom: 2.5rem;
}

.table {
  border-collapse: collapse;
  min-width: 45rem;

  tr {
    border-bottom: 1px solid #bbb;

    td,
    th {
      vertical-align: top;
    }

    td {
      padding: 0 1em;
    }

    th {
      padding: 1em;
    }
  }

  tbody tr:last-child {
    border-bottom: 0;
  }

  &-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }

}