/* Generic styling */
@import 'vars';
@import 'base';
@import 'layout';
@import '../fonts/inter/inter.css';
@import '../fonts/materialicons/materialicons.css';
@import 'typography';

@import 'ie-support';
@import 'bugfixes';

/* Areas */
@import 'components/banner';
@import 'components/logo';
@import 'components/navigation';
@import 'components/user';
@import 'components/breadcrumb';
@import 'components/footer';

/* Single components */
@import 'components/alerts';
@import 'components/analysis';
@import 'components/buttons';
@import 'components/dashboard-widgets';
@import 'components/datatable';
@import 'components/dropdown-treeview';
@import 'components/filter-options';
@import 'components/filters';
@import 'components/forms';
@import 'components/handle-match';
@import 'components/hit-links';
@import 'components/icons';
@import 'components/indicator';
@import 'components/login';
@import 'components/modal';
@import 'components/options';
@import 'components/organizations';
@import 'components/pagination';
@import 'components/recurrence';
@import 'components/scanner-status';
@import 'components/select-rules';
@import 'components/sensitivity-chart';
@import 'components/statistics';
@import 'components/tabs';
@import 'components/toc';