{% extends 'partials/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static "3rdparty/jquery.modal.js" %} "></script>
    <script src="{% static "dist/bundle.min.js" %}"></script>
    <script src="{% static 'js/options.js' %}"></script>
{% endblock %}

{% block body %}
    <main class="wrapper">
        <!-- override with empty block to remove header -->
        {% block header %}
            {% include 'partials/header.html' %}
        {% endblock %}
        <!-- override with empty block to remove sidebar navigation -->
        {% block sidenav %}
            <section class="sidemenu">
                <!-- TODO: does it make sense to separate the tag from the rest? -->
                {% include "components/navigation.html" with active_tab="organizations" %}
            </section>
        {% endblock %}

        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </main>
{% endblock %}
