{% extends 'organizations/base.html' %}
{% load i18n %}

{% block title %}
  {% trans "add organization"|capfirst %}
{% endblock %}

{% block content %}
 
  <div class="content-header">
    {% include "partials/breadcrumb.html" with page="organization"  %}

    <h1>{% trans 'add organization'|capfirst %}</h1>
  </div>

  <form class="form" role="form" method="post">
    {% csrf_token %}
    <section class="data-form">
      <fieldset class="form__fieldset">
        {{ form.as_table }}
      </fieldset>
    </section>
    <div class="content-footer">
      <div class="form__group last-btn">
        <button type="submit"
                class="button button--cta"
                name="save"
                value="{% trans 'create new organization'|capfirst %}">
          {% trans "create new organization"|capfirst %}
        </button>
      </div>
    </div>
  </form>
{% endblock %}
