{% extends 'organizations/base.html' %}
{% load static %}
{% load i18n %}
{% load tz %}

{% block title %}{% trans "organizations"|capfirst %}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'js/ldapSync.js' %}"></script>
{% endblock %}

{% block content %}

{%  for client in client_list %}
    <div class="aside">
        <h1 class="page-title">
            {% trans 'organizations for'|capfirst %} {{ client }}
        </h1>
        <div class="btn">
            <a
            class="button button--cta"
            href="{% url 'add-organization-for' client_id=client.pk %}"
            title="{% trans 'Add new organization' %}">
              <svg class="icon icon--white">
                <use xlink:href="/static/svg/symbol-defs.svg#icon-plus"></use>
              </svg>
              <span>
                {% trans "Add new organization" %}
              </span>
            </a>
        </div>
    </div>

    <div class="datatable-wrapper card xl">
        <table class="datatable">
            <colgroup>
                <col class="datatable__column--name">
                <col class="datatable__column--info">
                <col class="datatable__column--info">
                {% if FEATURES.IMPORT_SERVICES in client.enabled_features %}
                    <col class="datatable__column--btn">
                {% endif %}
            </colgroup>
            <thead>
                <tr>
                    <th class="datatable__column--name">{% trans "name"|capfirst %}</th>
                    <th class="datatable__column--info">{% trans "email"|capfirst %}</th>
                    <th class="datatable__column--info">{% trans "phone"|capfirst %}</th>
                    <!-- TODO: add conditional columns for users and units dependent on FEATURES.ORG_STRUCTURE (see below) -->
                    {% if FEATURES.IMPORT_SERVICES in client.enabled_features %}
                        <th class="datatable__column--btn">{% trans "import service"|capfirst %}</th>
		    {% elif FEATURES.IMPORT_SERVICES_MS_GRAPH in client.enabled_features %}
			<th class="datatable__column--btn">{% trans "Import service (Microsoft Graph)" %}</th>
		    {% endif %}
                </tr>
            </thead>
            {% if client.organizations.all %}
            <tbody>
                {% for organization in client.organizations.all %}
                <tr>
                    <td class="datatable__column--name"><a href="{% url 'edit-organization' slug=organization.slug %}">{{ organization.name }}</a></td>
                    <td class="datatable__column--info">
                        {{ organization.contact_email|default_if_none:"-" }}
                    </td>
                    <td class="datatable__column--info">
                        {{ organization.contact_phone|default_if_none:"-" }}
                    </td>
                    <!-- TODO: add conditional columns for users and units dependent on FEATURES.ORG_STRUCTURE (see below) -->
                    {% if FEATURES.IMPORT_SERVICES in client.enabled_features %}
                    <td class="datatable__column--btn">
                        <div class="flex flex--icon">
                            <!-- NB: importservice is in one word because a reverse name was not specified on the ImportService model's relation to Organization and this is the default -->
                            {% if not organization.importservice %}
                            <a
                                href="{% url 'add-ldap' org_id=organization.pk %}"
                                id="button-add-configuration"
                                type="button"
                                class="button button--transparent">
                                <i id="library_add" title="Tilføj LDAP konfiguration" class="material-icons">library_add</i>
                            </a>
                            {% else %}
                            <a
                                href="{% url 'edit-ldap' pk=organization.pk %}"
                                id="button-add-configuration"
                                type="button"
                                class="button button--transparent">
                                <i id="library_add_check" title="Redigér LDAP konfiguration" class="material-icons">library_add_check</i>
                            </a>
                            <a
                                href="{% url 'import-ldap' pk=organization.pk %}"
                                type="button"
                                title="{% trans 'sync'|capfirst %}"
                                class="button button--transparent button--transparent--text btn-text"
                                data-sync-for="{{ organization.pk }}">
                                {% trans "sync"|capfirst %}
                            </a>
                            <div class="flex">
                                <div class="response">
                                    {% if organization.realm.importjob %}
                                        {% with exec_state_value=organization.realm.importjob.first.exec_state.value %}
                                            {% if exec_state_value == "finished" %}
                                                <span class="response-icon response-icon--success" data-sync-for="{{ organization.pk }}"><i class="material-icons">check</i></span>
                                            {% elif exec_state_value == "failed" %}
                                                <span class="response-icon response-icon--error" data-sync-for="{{ organization.pk }}"><i class="material-icons">error</i></span>
                                            {% elif exec_state_value == "waiting" or exec_state_value == "running" %}
                                                <span class="response-icon response-icon--waiting" data-sync-for="{{ organization.pk }}"><i class="material-icons">hourglass_top</i></span>
                                            {% endif %}
                                            <span class="response-text" data-sync-for="{{ organization.pk }}">
                                                {% if exec_state_value == "finished" %}
                                                    {% trans 'last updated'|capfirst %},
                                                {% else %}
                                                    {{ organization.realm.importjob.first.exec_state.label|capfirst  }},
                                                {% endif %}
    <!--                                            {# XXX: remove this hardcoded timezone once #39963 is fixed #}-->
                                                {{ organization.realm.importjob.first.changed_at|timezone:"Europe/Paris"|date:'d-m-Y H:i'}}
                                            </span>
                                        {% endwith %}
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </td>
		    {% elif FEATURES.IMPORT_SERVICES_MS_GRAPH in client.enabled_features %}
                    <td class="datatable__column--btn">
                        <div class="flex flex--icon">
                            {% if not organization.importservice %}
                            <a
                                href="{% url 'add-msgraph' org_id=organization.pk %}"
                                id="button-add-msgraph-configuration"
                                type="button"
                                class="button button--transparent">
                                <i id="library_add" title="Tilføj Microsoft Graph konfiguration" class="material-icons">library_add</i>
                            </a>
			    {% else %}
			    <a
				href="{% url 'edit-msgraph' pk=organization.pk %}"
                                id="button-add-msgraph-configuration"
                                type="button"
                                class="button button--transparent">
                                <i id="library_add_check" title="Redigér Microsoft Graph konfiguration" class="material-icons">library_add_check</i>
			    </a>
                            <a
                                href="{% url 'import-msgraph' pk=organization.pk %}"
                                type="button"
                                title="{% trans 'sync'|capfirst %}"
                                class="button button--transparent button--transparent--text btn-text"
                                data-sync-for="{{ organization.pk }}">
                                {% trans "sync"|capfirst %}
                            </a>
			    {% endif %}
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    {% if not client.organizations.all %}
        <p>
            {% trans "no organization added"|capfirst %}
        </p>
    {% endif %}
{% endfor %}
{% endblock %}
