{% extends 'organizations/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "add organization"|capfirst %}{% endblock %}

{% block content %}
    {% include "partials/breadcrumb.html" with page="organization"  %}

    <div class="aside">
        <h1>{% trans 'add organization'|capfirst %}</h1>
    </div>

    <form class="form" role="form" method="post">{% csrf_token %}
        <section class="data-form">
            {{ form.as_table }}
        </section>
        <div class="form__group last-btn">
            <button type="submit" class="button button--cta" name="save" value="{% trans "create new organization"|capfirst %}">
                {% trans "create new organization"|capfirst %}
            </button>
        </div>
    </form>
{% endblock %}
