{% extends 'organizations/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
  {% trans "update organization"|capfirst %}
{% endblock %}

{% block content %}
  {% include "partials/breadcrumb.html" with page="organization_update" %}

  <div class="aside">
    <h1>{{ object.name }}</h1>
  </div>

  <form class="form" role="form" method="post">
    {% csrf_token %}
    <section class="data-form">
      <fieldset class="form__fieldset">
        {{ form.as_table }}
      </fieldset>
    </section>

    <div class="form__group last-btn">
      <button type="submit" class="button button--cta" name="save">{% trans "update organization"|capfirst %}</button>
    </div>
    <script src="{% static "js/snackBars.js" %}"></script><script src="{% static "js/snackBars.js" %}"></script>
  </form>

  <script src="{% static "js/organizationForm.js" %}"></script>

  <!--
        TODO: add boxes with user and unit counts here (dependent on feature flag)
        <div class="flex-org">
          <section class="data-form data-org">
            <div class="blue-box">
              <i id="person" class="material-icons">person</i>
            </div>
              Org units
          </section>

          <section class="data-form data-org">
            <div class="blue-box">
              <i id="people" class="material-icons">people</i>
            </div>
              integrated users
          </section>
        </div>
        -->
{% endblock %}
