{% extends 'organizations/base.html' %}
{% load static %}
{% load i18n %}
{% load tz %}

{% block title %}{% trans "organizations"|capfirst %}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/jsi18n/"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static 'js/ldapSync.js' %}"></script>
    <script type="text/javascript" src="{% static '3rdparty/htmx.min.js' %}"></script>
{% endblock %}

{% block content %}

    <svg class="page-indicator" id="organization-page-indicator" viewbox="0 0 100 100">
        <circle id="circle" cx="50" cy="50" r="45"></circle>
    </svg>

    <div class="org-table">
    {% include "organizations/org_table.html" %}
    </div>


{% endblock %}
