{% extends 'organizations/base.html' %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% trans "organizational hierarchy"|capfirst %}{% endblock %}

{% block content %}
{% if orgunit_list.exists %}
<div class="orgunit-list" hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>

    <h2>{% trans "organizational hierarchy for"|capfirst %} {{ organization }}</h2>
    <form name="orgunit_filters"
          class="orgunit_filtering_wrapper"
          onsubmit="return false"
          hx-get="{% url "orgunit-list" organization.slug %}"
          hx-trigger="change"
          hx-swap="outerHTML"
          hx-select=".root"
          hx-target=".root"
            >
        <div class="orgunit_input_wrapper search_field_wrapper">
            <input type="search" 
                    name="search_field" 
                    id="search_field" 
                    placeholder="{% trans "Search for organizational unit" %}" 
                    value="{{ request.GET.search_field }}"/>
        </div>
        <div class="orgunit_input_wrapper">
            <input type="checkbox"
                name="show_empty"
                id="show_empty"
                value="on"/>
            <label for="show_empty">{% trans "Show empty units" %}</label>
        </div>
    </form>
    <ul class="root">
        {% recursetree orgunit_list %}
            <li class="orgunit-list-element {% if not node.is_leaf_node and children %}has_children{% endif %}">
                <span class="orgunit_name">{{ node.name }}</span>
                <span class="orgunit_members">{{ node.members_associated }} {% trans "accounts associated." %}</span>
                <span class="orgunit_managers">{% trans "Managers" %}:
                    <ul id="managers__{{ node.pk }}">
                        {% for manager_pos in node.managers %}
                        <li class="manager_li"
                            hx-post="{% url "orgunit-list" organization.slug %}"
                            hx-swap="outerHTML"
                            hx-target="#managers__{{ node.pk }}"
                            hx-select="#managers__{{ node.pk }}"
                            hx-trigger="click"
                            hx-vals='{"orgunit": "{{ node.pk }}", "rem-manager": "{{ manager_pos.account.uuid }}"}'
                            hx-confirm="{% trans "Are you sure you want to remove" %} {{ manager_pos.account.get_full_name }} {% trans "as manager of" %} {{ node }}?">
                            {{ manager_pos.account.get_full_name }}
                        </li>
                        {% endfor %}
                        <li class="add_manager">
                            <button type="button" class="add_manager_button button button--small">
                                <svg class="icon">
                                    <use xlink:href="/static/svg/symbol-defs.svg#icon-plus"></use>
                                </svg>
                            </button>
                            <select class="select_manager" name="add-manager" hidden
                                    hx-post="{% url "orgunit-list" organization.slug %}"
                                    hx-swap="outerHTML"
                                    hx-target="#managers__{{ node.pk }}"
                                    hx-select="#managers__{{ node.pk }}"
                                    hx-trigger="change"
                                    hx-vals='{"orgunit": "{{ node.pk }}"}'>
                                <option value="">{% trans "Choose new manager" %}</option>
                                {% for account in accounts %}
                                <option value="{{ account.uuid }}">{{ account.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                    </ul>
                </span>
                {% if not node.is_leaf_node and children %}
                    <ul class="children" hidden>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
</div>
{% else %}
<span class="root orgunit-list">{% trans "No organizational units."%}</span>
{% endif %}
{% endblock %}
