[Unit]
Description=OS2datascanner pipeline: SERVICE_NAME %i
After=rabbitmq-server.service
Requires=rabbitmq-server.service

[Service]
ProtectSystem=strict
PrivateTmp=true
DynamicUser=true
StandardOutput=journal
SyslogIdentifier=OS2ds-SERVICE_SHORTNAME%i
ExecStart=COMMAND_LINE
Restart=on-failure
