password.py
/.secret
*.pyc
/python-env*
/.test-results.xml
*.komodoproject
django-os2webscanner/build
django-os2webscanner/django.os2webscanner.egg-info
*.egg-info
/webscanner_site/webscanner/local_settings.py
/scrapy-webscanner/scanner/local_settings.py
.ropeproject
*.log
._*
**DS_Store
var/prometheus/*.json
local_settings.py
db.sqlite3
node_modules
src/os2datascanner/projects/static/dist
src/os2datascanner/projects/uploads/
src/os2datascanner/projects/report/media/images/*
.vscode

# Translations
*.mo
*.pot
