# Settings for Django.

# WARNING: DO NOT USE THIS for anything other than `collectstatic` and after you
# have read the comment below and understood why this bad workaround is needed.

# It is unsafe to add insecure defaults anywhere inside the production-ready
# docker image. They have a tendency to be used knowingly or unknowingly as
# fallback values. Given a misconfiguration, like a typo, this could result in a
# insecure production system. Normally all secrets and unsafe defaults should
# relegated to `dev-environment`.
#
# Unfortunately, Django requires settings to run `collectstatic`. We run
# `collectstatic` on build-time in `Dockerfile`. This settings file is included
# to be able to set the setting to something while `collectstatic` is running.
# We delete in the docker image afterwards.
#
# If you find this file inside a container not in a devlopment environment, it
# is a bug.


SECRET_KEY = "insecure"


[amqp]
AMQP_HOST = "insecure"
AMQP_USER = "insecure"
AMQP_PWD = "insecure"


[DATABASES]
    [DATABASES.default]
    ENGINE = "django.db.backends.postgresql_psycopg2"
    NAME = "insecure"
    USER = "insecure"
    PASSWORD = "insecure"
    HOST = "insecure"
