{% extends 'components/common/base.html' %}

{% load i18n %}

{%  block title %}
  {% trans "Change password" %}
{% endblock %}

{% block body_class %}login-bg{% endblock %}

{% block body %}
  <section class="login-card">
    <form class="form" method="post" action="{% url 'password_change' %}">
      {% csrf_token %}
      <h2>{% trans "Change password" %}</h2>
      <fieldset>
        <div class="form__group{% if form.old_password.errors %} has-error{% endif %}">
          <label for="id_{{ form.old_password.name }}">{{ form.old_password.label }}</label>
          <input type="password"
                 name="{{ form.old_password.name }}"
                 id="id_{{ form.old_password.name }}"
                 autofocus
                 {% if form.old_password.value %}value="{{ form.old_password.value }}"{% endif %}>
          <label>
            {% if form.old_password.errors %}{{ form.old_password.errors }}{% endif %}
          </label>
        </div>

        <div class="form__group{% if form.new_password1.errors %} has-error{% endif %}">
          <label for="id_{{ form.new_password1.name }}">{{ form.new_password1.label }}</label>
          <input type="password"
                 name="{{ form.new_password1.name }}"
                 id="id_{{ form.new_password1.name }}"
                 {% if form.new_password1.value %}value="{{ form.new_password1.value }}"{% endif %}>
          <label>
            {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
          </label>
        </div>

        <div class="form__group{% if form.new_password2.errors %} has-error{% endif %}">
          <label for="id_{{ form.new_password2.name }}">{{ form.new_password2.label }}</label>
          <input type="password"
                 name="{{ form.new_password2.name }}"
                 id="id_{{ form.new_password2.name }}"
                 {% if form.new_password2.value %}value="{{ form.new_password2.value }}"{% endif %}>
          <label>
            {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
          </label>
        </div>

        {% for error in form.non_field_errors %}<div class="form__error">{{ error }}</div>{% endfor %}

        <div class="form__group">
          <button class="login-btn" type="submit">{% trans "Change password" %}</button>
        </div>

        <div class="form__group logo">{% include "components/common/logo-o.html" %}</div>
      </fieldset>
    </form>
  </section>
{% endblock %}

{% block heading %}Indstillinger for bruger <strong>{{ user.username }}</strong>{% endblock %}
