{% extends "components/common/base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block body_class %}login-bg{% endblock %}

{% block heading %}<h1>{{ title }}</h1>{% endblock %}

{% block body %}
  <section class="login-card">
    {% if validlink %}
      <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

      <form action="" method="post" class="form">
        {% csrf_token %}
        <div class="form__group{% if form.new_password1.errors %} has-error{% endif %}">
          <label for="id_{{ form.new_password1.name }}">{{ form.new_password1.label }}</label>
          <input type="password"
                 name="{{ form.new_password1.name }}"
                 id="id_{{ form.new_password1.name }}"
                 {% if form.new_password1.value %}value="{{ form.new_password1.value }}"{% endif %}>
          <label>
            {% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
          </label>
        </div>

        <div class="form__group{% if form.new_password2.errors %} has-error{% endif %}">
          <label for="id_{{ form.new_password2.name }}">{{ form.new_password2.label }}</label>
          <input type="password"
                 name="{{ form.new_password2.name }}"
                 id="id_{{ form.new_password2.name }}"
                 {% if form.new_password2.value %}value="{{ form.new_password2.value }}"{% endif %}>
          <label>
            {% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
          </label>
        </div>

        {% for error in form.non_field_errors %}<div class="form__error">{{ error }}</div>{% endfor %}

        <div class="form__group">
          <button class="login-btn" type="submit">{% trans "Change password" %}</button>
        </div>

        <div class="form__group logo">{% include "components/common/logo-o.html" %}</div>
      </form>
    {% else %}
      <p>
        {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
      </p>
    {% endif %}
  </section>

{% endblock %}
