{% extends 'components/common/base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block body_class %}login-bg{% endblock %}

{% block heading %}<h1>{{ title }}</h1>{% endblock %}

{% block body %}

  <section class="login-card">
    <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>

    <p>
      <a href="{{ login_url }}">{% trans 'Log in' %}</a>
    </p>

    <div class="form__group logo">{% include "components/common/logo-o.html" %}</div>
  </section>
{% endblock %}
