.banner {
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-header-bg);
  box-shadow: var(--box-shadow);
  display: grid;
  grid-template-columns: var(--size-logo-width) 1fr;
  grid-template-areas: "banner-logo banner-user";
  line-height: 1;
  transition: background-color 0.2s ease-in-out;
  z-index: var(--z-index-navigation);
}

.banner .logo {
  grid-area: banner-logo;
  height: var(--size-logo-height);
  width: var(--size-logo-width);
}

.banner .user {
  grid-area: banner-user;
  margin-right: 1rem;
  text-align: right;
}
