.button {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem;
  text-decoration: none;
  transition: var(--transition-default);

  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  &--cta {
    background-color: var(--color-icon-primary);
    color: var(--color-text-white);
    border-radius: var(--border-radius-default);
    padding: 0.75rem;
    font-weight: 600;

    &:focus,
    &:hover {
      background-color: var(--color-primary-dark);
      color: var(--color-text-white);
    }

  }

  &--danger {
    background-color: var(--color-error);
    color: var(--color-text-white);
    font-weight: bold;

    &:focus,
    &:hover {
      background-color: var(--color-error-dark);
      color: var(--color-text-white);
    }
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: rgba(0, 0, 0, 0.2);
    }
  }

  &--small {
    padding: 0.5rem;
  }

  &--modal-close {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
  }
}

.button svg {
  pointer-events: none;
  vertical-align: bottom;
}

.button svg + span, 
.button span + svg {
    margin-left: 0.5rem;
}

.last-btn {
  margin-bottom: 3rem;
}