:root {
  --datatable-cell-padding: 2rem;
}

.datatable {
  background-color: #fff;
  border-collapse: collapse;
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);
  max-width: 90rem;
  table-layout: fixed;
  width: calc(100% - 2rem);
  margin-bottom: 3rem;

  &--wide {
    max-width: none;
  }

  &__column {
    &--name {
      max-width: 15rem;
    }

    &--org {
      max-width: 15rem;
    }

    &--expression {
      max-width: 11rem;
    }

    &--sensitivity {
      width: 12rem;
    }

    &--drive {
      min-width: 6rem;
    }

    &--validated {
      min-width: 10rem;
    }

    &--automatic {
      min-width: 12rem;
    }

    &--actions {
      width: 15rem;
    }

    &--info {
      max-width: 15rem;
    }

    &--btn {
      width: 28rem;
    }
  }

  .domain-url {
    text-overflow: ellipsis;
    word-break: break-all;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-primary);

    &:hover {
      color: var(--color-primary-dark);
    }
  }
}

.datatable tr:hover {
  td {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &+.expandable-row td {
    background-color: rgba(0, 0, 0, 0.05);
  }
    
  .hit-link {
    opacity: 1;
  }

}

@supports(display: grid) {
  // We use CSS Grid to detect IE11, as "tr:focus" breaks the whole selector in IE11
  .datatable tr:focus, 
  .datatable tr:focus-within, 
  .datatable tr:hover {
    td {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &+.expandable-row td {
      background-color: rgba(0, 0, 0, 0.05);
    }
  
    .hit-link {
      opacity: 1;
    }
  }
}

.datatable th,
.datatable td {
  line-height: 1;
  padding: var(--datatable-cell-padding) calc(var(--datatable-cell-padding) / 2);
  vertical-align: top;

  &:first-child {
    padding-left: var(--datatable-cell-padding);
  }

  &:last-child {
    padding-right: var(--datatable-cell-padding);
  }
}

.datatable tr:last-child {

  td:hover:first-child {
    border-radius: 0 0 0 1.25rem;
  }

  td:hover:last-child  {
    border-radius: 0 0 1.25rem 0;
  }
}

.datatable th {
  font-size: 1.25rem;
  font-weight: 600;
}

.datatable td {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

/* .datatable--click-rows, start */
.datatable--click-rows td {
  padding: 0;

  &:first-child {
    padding-left: inherit;
  }

  &:last-child {
    padding-right: inherit;
  }
}

.datatable--click-rows a {
  color: inherit;
  display: block;
  padding: 2rem;
  text-decoration: none;
}
/* .datatable--click-rows, stop */

/* Icons and text in datatable  */
.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: .5rem;

  &--icon {
    margin-top: -.25rem;
  }

  &--character {
    margin-top: 1.25rem;
    margin-left: 1rem;
    margin-right: .25rem;
  }

  &--bottom {
    margin-bottom: .25rem;
  }

  &--width {
    margin-right: .75rem;
    height: 1.2rem;
    max-width: 1.5rem;

    &--icon {
      height: auto;
      max-width: 1.5rem;
      color: #222222;
    }
  }

  svg {
    height: 100%;
    width: auto;
  }

  .btn-text {
    color: var(--color-text-main);
    font-weight: 400;

    &:hover {
      color: var(--color-text-main);
    }
  }

  .text {
    color: var(--color-text-secondary);
    font-size: .75rem;
    line-height: 1rem;
  }
}

/* expression in datatable  */
.code-grey {
  background-color: #e0e0e0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-button);
  padding: .5rem;
}

.scan {
  &__item-title {
    display: block;
  }

  &__item-meta {
    margin-top: var(--size-ds-unit);

    span {
      display: inline-block;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      opacity: 0.75;
    }
  }

  // nested tables, start
.datatable--nested {
  border-collapse: collapse;
  box-shadow: initial;
  table-layout: fixed;
  width: 100%;
  border-top: none;

  td,
  td:first-child,
  td:last-child {
    border-top: none;
    padding: var(--size-ds-unit) 0;
  }
}
// nested tables, end

}
