.login-bg {
  width: 100%;
  min-height: 100%;
  background: transparent linear-gradient(180deg, #5CA4CD 0%, #21759C 100%) 0% 0% no-repeat padding-box;
}

.login-form {
  max-width: 35rem;
  max-height: 45rem;
  background-color: var(--color-widget-bg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  padding: 4rem 6rem 6rem;
  box-shadow: var(--box-shadow-login);
  border-radius: var(--border-radius-widget);
  
  h2 {
    color: var(--color-text-main);
    margin-bottom: 2rem;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;

    .line-height {
      line-height: 2;
    }
  }

  .flex {
    display: flex;
  
    .width {
      margin-left: .5rem;
    }
  }

  .login-btn {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    background-color: var(--color-primary);
    color: var(--color-text-white);
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 0.25rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition-default);
  }

  .login-btn:hover {
    background-color: var(--color-primary-dark);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }

  .info {
    text-align: center;
    height: auto;
  }

  .link {
    color: var(--color-primary-dark);
  }
  .link:hover {
    color: var(--color-text-main);
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    margin-right: .5rem;
  }
}

.logout-content {
  max-width: 45rem;
  min-height: 45rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  padding: 6rem;
  font-size: 1.5rem;

  &__reset {
    font-size: 1rem;
  }

  a {
    color: var(--color-text-white);
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: var(--color-primary-dark);
  }
}

.reset-content {
  background-color: var(--color-widget-bg);
  max-width: 23rem;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;
  top: 10rem;
  padding: 3rem;
  font-size: 1rem;
  box-shadow: var(--box-shadow-login);
  border-radius: var(--border-radius-widget);

  .reset-btn {
    width: 11.4rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
    font-size: .9rem;
    line-height: 1;
    border-radius: 0.25rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition-default);
  }

  .reset-btn:hover {
    background-color: var(--color-hover);
    color: var(--color-text-main);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }
}