.logo {}

.logo a {
  display: block;
}

.logo svg {
  height: 2rem;
  vertical-align: middle;
}

.logo .cls-1 {
  fill: #3a69b4;
}

.logo .cls-2 {
  fill: #222;
}

.os2o {
  display: inline-block;
}
