.modal {
  display: none;
  height: 40rem;
  max-height: calc(100vh - 2rem);
  max-width: 60rem;
  width: calc(100% - 2rem);
  z-index: var(--z-index-modal);
  border-radius: var(--border-radius-widget);

  &__backdrop {
    align-items: center;
    background-color: #22222299;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: calc(var(--z-index-modal) - 1);
  }

  &__heading {
    line-height: 1;
    padding: 1rem;
    margin: 0;
  }

  & > iframe {
    height: calc(100% - 3rem);
    width: 100%;
    border-radius: var(--border-radius-widget);
  }
} 

.runner-container {
  margin-top: 3rem;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;

  .runner-content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
  
    .icon {
      width: 15rem;
      height: auto;
    }
  }

  .detail-content {
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    width: 100%;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 0.25rem;

    .detail-toggle {
      cursor: pointer;
      width: 100%;

      .flex {
        display: flex;
        align-items: flex-start;

        .text {
          padding-top: 0.4rem;
          margin-left: 1rem;
          font-weight: 600;
          width: 100%;
        }
        
        .material-icons {
          color: #222222;
          font-size: 2rem;
        }
      }
      
      pre {
        display: flex;
        align-items: flex-start;
        background-color: transparent;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: none;
        border-left: none;
        border-right: none;
        width: 100%;
      }
    }
  }
}

.close-modal {
  display: inline-block;
  line-height: 1;
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg {
    fill: #222222;
    height: 1rem;
    vertical-align: middle;
    width: 1rem;
  }
}

.modal-spinner {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 12px 16px;
  border-radius: 5px;
  background-color: #111;
  height: 20px;

  & > div {
    border-radius: 100px;
    background-color: #fff;
    height: 20px;
    width: 2px;
    margin: 0 1px;
    display: inline-block;
  
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .rect2 {
    animation-delay: -1.1s;
  }

  .rect3 {
    animation-delay: -1.0s;
  }

  .rect4 {
    animation-delay: -0.9s;
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.5);
  }

  20% {
    transform: scaleY(1.0);
  }
}
