.sidemenu {
  position: fixed;
  z-index: 10;
  top: 4.5rem;
  left: 0;
  width: 15rem;
  min-height: 100%;
  background: transparent linear-gradient(180deg, var(--color-primary-light) 0%, var(--color-primary) 100%) 0% 0% no-repeat padding-box;
}

.navi {
  margin-left: 1rem;
  font-size: 1rem;
}

.navi ul {
  padding-top: 5rem;
  list-style-type: none;
}

.navi li {
  margin-top: 1.8rem;
  text-decoration: none;
}

.navi a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 13rem;
  height: 3.9rem;
  padding-left: 1rem;
  color: var(--color-text-white);
  text-decoration: none;
  font-weight: 700;

  svg {
    fill: var(--color-widget-bg);
    width: 2rem;
    height: auto;
  }

  .width {
    margin-left: 1rem;
  }
}

.navi a:hover {
  color: var(--color-primary-dark);

  svg {
    fill: var(--color-primary-dark);
  }

  .st1,.st2,.st3 {
    stroke: var(--color-primary-dark);
    fill: none;
  }
}

.navi a.active {
  color: var(--color-primary-dark);
  font-weight: 700;
  background-color: var(--color-body-bg);
  border-radius: 10px 0px 0px 10px;

  svg {
    fill: var(--color-primary-dark);
  }

  .st1,.st2,.st3 {
    stroke: var(--color-primary-dark);
    fill: none;
  }
}

@media screen {
  .navi li a.active::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    background-image: url("../svg/navigation_corner.svg");
    transform: rotate(90deg);
    position: absolute;
    top: -10px;
    right: 0;
  }
  .navi li a.active::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    background-image: url("../svg/navigation_corner.svg");
    position: absolute;
    bottom: -10px;
    right: 0;
  }
}