.scanner-status {
  background-color: var(--color-widget-bg);
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);
  padding: 2rem;
  margin-bottom: 2rem;
  max-width: 90rem;
  width: calc(100% - 2rem);
}

.scan-time {
  color: var(--color-text-secondary);
  font-size: 1rem;
  margin-bottom: .5rem;

  &--bullet {
    margin-left: .5rem;
  }

  &--blue {
    color: var(--color-primary-dark);
    font-weight: bold;
    margin-left: .5rem;
  }

  &--width {
    margin-left: .5rem;
  }

  &--icon {
    display: flex;
    justify-content: flex-end;
    color: var(--color-ok-dark);
    margin-top: -1.5rem;
  }
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 2.5rem;
  border-radius: 20px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 20px;
}

progress::-webkit-progress-value {
  border: none;
  background-image:
  -webkit-linear-gradient(-45deg, 
                          transparent 33%, rgba(0, 0, 0, .1) 33%, 
                          rgba(0,0, 0, .1) 66%, transparent 0%),
  -webkit-linear-gradient(top, 
                          rgba(255, 255, 255, .25), 
                          rgba(0, 0, 0, .25)),
  -webkit-linear-gradient(left, var(--color-primary-light), var(--color-icon-primary));
  border-radius: 20px 0px 0px 20px;
  background-size: 75px 40px, 100% 100%, 100% 100%;
}

progress::-moz-progress-bar {
  background-color: #eee;
  border-radius: 20px;
}

progress[value]::-moz-progress-bar { 
  background-image:
    -moz-linear-gradient(-45deg, 
    transparent 33%, rgba(0, 0, 0, .1) 33%, 
    rgba(0,0, 0, .1) 66%, transparent 0%),
    -moz-linear-gradient(top, 
    rgba(255, 255, 255, .25), 
    rgba(0, 0, 0, .25)),
    -moz-linear-gradient(left, var(--color-primary-light), var(--color-icon-primary));
  border-radius: 20px 0px 0px 20px;
  background-size: 75px 40px, 100% 100%, 100% 100%;
}

// Completed icon
.completed_icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    fill: #4a9d86;
  }

  .width {
    margin-left: .5rem;
  }
}