.select-rules,
.select-employees {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr .03fr 1fr;
  grid-template-areas: "available icon selected";
  line-height: 1;
  padding-bottom: 0.25rem;

  &__available {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    grid-area: available;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
  }

  &__selected {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    grid-area: selected;
    padding: 0.5rem;
  }

  .select-rules-title,
  .select-employees-title {
    width: 100%;
    margin-bottom: .5rem;
    padding: .5rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
    font-weight: 600;
    font-size: .9rem;
  }

  .material-icons {
    display: flex;
    align-items: center;
    grid-area: icon;
    font-size: 3rem;
    padding-right: .25rem;
    color: #9E9E9E;
  }

}

.rule,
.employee {
  background-color: #e9e9e9;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: var(--border-radius-small);
  display: block;
  margin: 0;
  padding: 0.5rem;
  transition: var(--transition-default);

  &:focus:not([data-disabled]),
  &:hover:not([data-disabled]) {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  a {
    color: #222;
    text-decoration: none;
  }

  & + & {
    margin-top: 0.5rem;
  }
}

.remove-rule-button,
.remove-employee-button {
  float: right;
  background: no-repeat 50%/50% 50%;
  background-image: url("../svg/clear.svg");
  height: 2.5rem;
  width: 2.5rem;
  margin-right: .5rem;
  margin-top: -.75rem;

  &.disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
  }
}

//Filter
.employee-filter {
  padding: .5rem !important;
  margin-bottom: 1rem;
  background-position: 1rem .5rem;
  background-image: url('../svg/search.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  text-indent: 2rem;
}
