.breadcrumb {
  display: flex;
  align-items: center;
  max-width: 80rem;
  width: calc(100% - 2rem);

  .link-color {
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
  }
  a:hover {
    color: var(--color-primary-dark);
  }

  .text-grey {
    color: var(--color-text-secondary);
  }

  .material-icons {
    color: var(--color-text-secondary);
    fill: var(--color-text-secondary);
    height: 100%;
    width: auto;
  }
}