.dropdown-group {
  margin-top: 1rem;
}

.dropdown {
  width: 100%;
  font-size: 1rem;
}

.dropdown select {
  display: none;
}

label+.dropdown {
  margin-top: .25rem;
}

/* style the selected item */
.select2-selection,
.select-selected {
  background-color: var(--color-widget-bg) ;
  //select2 will override this if not important
  border: none !important;
  border-radius: var(--border-radius-small) !important;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: .75rem;
  transition: var(--transition-default);
  width: 100%;
  color: var(--color-text-main);
  cursor: pointer;
  user-select: none;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

/* style the arrow inside the select element */
.select2-selection:after,
.select-selected:after {
  position: absolute;
  content: "";
  top: 1rem;
  right: 1rem;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #9e9e9e transparent transparent transparent;
}

/* point the arrow upwards when the select box is open (active) */
.select2-selection[aria-expanded="true"]:after,
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #9e9e9e transparent;
  top: 7px;
}

/* style the items (options) */
.select-items div {
  color: var(--color-text-main);
  padding: 8px 16px;
  margin-left: .7rem;
  margin-right: .7rem;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items div:first-child {
  margin-top: .7rem;
}
.select-items div:last-child {
  margin-bottom: .7rem;
}

/* style items (options) */
.select-items {
  position: absolute;
  width: 100%;
  background-color: var(--color-widget-bg);
  border: none;
  border-radius: var(--border-radius-small);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

/* hide the items when the select box is closed */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #5ca4cd40;
}