{% load staticfiles %}

<div class="breadcrumb">
    <a href="/" class="link-color">Scannerjob</a>

    <i id="chevron_right" class="material-icons">chevron_right</i>

    {% if form.sitemap %}
    <a href="/webscanners/" class="link-color">Webscanner</a>
    {% endif %}
        
    {% if form.domain %}
    <a href="/filescanners/" class="link-color">Filscanner</a>
    {% endif %}
        
    {% if form.userlist %}
    <a href="/exchangescanners/" class="link-color">Exchangescanner</a>
    {% endif %}

    <i id="chevron_right" class="material-icons">chevron_right</i>

    {% if view.edit %}
    <span class="text-grey">Rediger scannerjob</span>
    {% endif %}

    {% if not view.edit %}
    <span class="text-grey">Opret nyt scannerjob</span>
    {% endif %}
</div>