-r requirements-common.in

ipython
Django==2.2.10
django-model-utils
django-settings-export
django-structlog
psycopg2-binary

# At the moment only used during development:
django_extensions

# Hard dependencies through engine2 imports:
dropbox
exchangelib
olefile
PyPDF2
pdfrw
pysmbc
python-magic
regex

# Needed to avoid model loading issue:
beautifulsoup4
Pillow
