# Admin
pycryptodome
pytest-django
python-dateutil
tenacity

# API
gunicorn
gunicorn[gevent]

# Common
colorama
click
google-api-python-client
oauth2client
parameterized
pika==1.2.0
sortedcontainers
structlog
toml

# Engine
chardet
defusedxml
dropbox==10.3.0
exchangelib==4.8.0  # Brittle API; do /not/ bump without checking for changes!
lxml
odfpy
olefile
openpyxl
os2ds-rules==0.1.0
pandas
Pillow
prometheus_client
PyNaCl
pypdf
pysmbc
pytest
pytest-xdist
pytest-benchmark
python-dateutil
python-magic
pytz
regex
requests
xattr
xlrd
click

# Lint
pycodestyle

# Report
mozilla-django-oidc
faker
git+https://github.com/magenta-aps/django-saml2-auth.git@2.3.0
psutil
pytest-django
pysaml2>=5.3.0,<6.0.0
python3-saml
randomtimestamp
termplotlib

# Test
coverage
unittest-xml-reporting

# Django
ipython
Django==3.2.11
django-model-utils
django-mptt
django-prometheus
django-recurrence
django-settings-export
django-storages[google]
django-structlog
gunicorn
uvicorn[standard]
psycopg2-binary
whitenoise
djangorestframework
channels
channels_redis
cryptography>=3.2
email-validator

# At the moment only used during development:
django_extensions
django-debug-toolbar
