-r requirements-common.in

ipython
Django==2.2.18
django-model-utils
django-settings-export
django-storages[google]
django-structlog
gunicorn
psycopg2-binary
whitenoise

# At the moment only used during development:
django_extensions

# Hard dependencies through engine2 imports:
dropbox
exchangelib
olefile
PyPDF2
pysmbc
python-magic
regex

# Needed to avoid model loading issue:
beautifulsoup4
Pillow
