-r requirements-common.in

ipython
Django==3.2.11
django-model-utils
django-mptt
django-prometheus
django-recurrence
django-settings-export
django-storages[google]
django-structlog
gunicorn
uvicorn[standard]
psycopg2-binary
whitenoise
djangorestframework
channels
channels_redis
cryptography>=3.2
email-validator

# At the moment only used during development:
django_extensions
django-debug-toolbar

# Hard dependencies through engine2 imports:
dropbox
exchangelib
olefile
PyPDF2
pysmbc
python-magic
regex

# Needed to avoid model loading issue:
Pillow
