SECRET_KEY = "DUMMYKEY(for development)DUMMYKEY(for development)"
DECRYPTION_HEX = "4b8930847cba7196a46ede3456fe33df564427a30910dd1ef9bc805f26559aeb"

# [mode]
DEBUG = true

# [site]
# The URL of this site, used in links in emails and in the redirect URL for
# OAuth 2.0 services. (This value should end with a forward slash.)
SITE_URL = "http://localhost:8020/"
SESSION_COOKIE_NAME = "admin_sessionid"

# [keycloak]
KEYCLOAK_BASE_URL = "http://localkeycloak.os2datascanner:8090"
KEYCLOAK_ADMIN_SECRET = "thisIsNotASecret"

# [installation]
OPTIONAL_APPS = [
    'debug_toolbar',
    'django_extensions',
]
OPTIONAL_MIDDLEWARE = [
    'debug_toolbar.middleware.DebugToolbarMiddleware',
]

# [scans]
ENABLE_FILESCAN = true
ENABLE_WEBSCAN = true
ENABLE_EXCHANGESCAN = true
ENABLE_GOOGLEDRIVESCAN = true
ENABLE_GMAILSCAN = true
ENABLE_MSGRAPH_MAILSCAN = true
ENABLE_MSGRAPH_FILESCAN = true
ENABLE_SBSYSSCAN = true

# [email]
DEFAULT_FROM_EMAIL = "os2datascanner@magenta.dk"
ADMIN_EMAIL = "os2datascanner@magenta.dk"

# https://django-debug-toolbar.readthedocs.io/en/latest/configuration.html#debug-toolbar-config
[DEBUG_TOOLBAR_CONFIG]
SHOW_COLLAPSED = true
# by setting a callback function it is not needed to set @INTERNAL_IPS
SHOW_TOOLBAR_CALLBACK = "os2datascanner.projects.utils.debug.debug_toolbar_callback"

[amqp]
# Nested amqp settings are picked up by the common amqp utility module
AMQP_HOST = "queue"
AMQP_USER = "os2ds"
AMQP_PWD = "os2ds"

[DATABASES]

    [DATABASES.default]
    ENGINE = "django.db.backends.postgresql_psycopg2"
    NAME = "os2datascanner_admin"
    USER = "os2datascanner_admin_dev"
    PASSWORD = "os2datascanner_admin_dev"
    HOST = "db"
