SECRET_KEY = "DUMMYKEY(for testing)DUMMYKEY(for testing)"
DECRYPTION_HEX = "09b40bd0633d09e77da00a2397869da69e53850abf72c29aaa11c622c2525729"

[DATABASES]

    [DATABASES.default]
    ENGINE = "django.db.backends.postgresql_psycopg2"
    NAME = "os2datascanner"
    USER = "os2datascanner"
    PASSWORD = "os2datascanner"
    HOST = "postgres"

[dirs]
# These are the settings for various directories.
# Paths relative to the project directory should start with "*" while
# absolute paths should start with "/"
BUILD_DIR = ["*", "build"]
VAR_DIR = ["*", "var"]
LOGS_DIR = ["*", "var", "logs"]
MEDIA_ROOT = ["*", "uploads", "admin"]
TEST_OUTPUT_FILE_NAME = ["*", "build", "test-results.xml"]

[amqp]
# Nested amqp settings are picked up by the common amqp utility module
AMQP_HOST = "rabbitmq"
AMQP_USER = "guest"
AMQP_PWD = "guest"
