.button {
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5em;
  text-decoration: none;
  transition: var(--transition-default);
  transition-property: background-color;
  border-radius: var(--border-radius-button);
  word-break: normal;
  > .material-icons {
    line-height: 1rem;
    vertical-align: top;
  }

  &:focus:not([disabled]),
  &:hover:not([disabled]) {
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  &--round {
    border-radius: 50%;
  }

  &--rounded {
    border-radius: 3px;
  }

  &--cta {
    background-color: var(--color-primary-dark);
    color: #fff;
    font-weight: bold;
    padding: 1em;

    &:focus,
    &:hover {
      background-color: var(--color-primary-dark);
      color: #fff;
    }
  }

  &--danger {
    background-color: var(--color-error);
    color: #fff;
    font-weight: bold;

    &:focus,
    &:hover {
      background-color: var(--color-error);
      color: #fff;
    }
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: rgba(0, 0, 0, 0.2);
    }
  }

  &--small {
    padding: 0.5em;
  }

  &--modal-close {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
  }

  &--submit {
    margin-left: .5rem;
    padding: .4rem .6rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
    font-weight: bold;

    &:focus,
    &:hover {
      color: var(--color-text-main);
    }
  }
}

.toggle {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: none;
  color: currentColor;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: .5em .5em .5em 3.5em;
  border-radius: var(--border-radius-button);
  &::before,
  &::after {
    position: absolute;
    left: .5em;
    top: .5em;
    box-shadow: 0 0 0 3px #aaa;
    border-radius: .5em;
    transition: var(--transition-default);
  }
  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    box-shadow: 0 0 0 3px var(--color-primary);
  }
  &::before {
    color: #aaa;
    font-weight: bold;
    font-family: "Material Icons";
    width: 2.25em;
    height: 1em;
  }
  &::after {
    background-color: #fff;
    content: "";
    width: 1em;
    height: 1em;
  }
  &[aria-pressed=false] {
    &::before {
      content: "clear";
      color: var(--color-error);
      background-color: #f7b0b0;
      padding-left: 1em;
    }
  }
  &[aria-pressed=true] {
    &::before {
      content: "done";
      color: var(--color-ok-dark);
      background-color: #cbf7e3;
      padding-right: calc(1em + 3px);
    }
    &::after {
      transform: translate(1.25em);
    }
  }
}

.button-group {
  .button {
    margin: 0 .2rem .2rem 0;
    vertical-align: middle;
    display: inline-block;
  }
}
