:root {
  --datatable-cell-padding: 2rem;
}

.datatable {
  background-color: var(--color-widget-bg);
  border-collapse: collapse;
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);
  max-width: 90rem;
  table-layout: fixed;
  width: calc(100% - 2rem);
  margin-bottom: 1.5rem;

  &__column {
    &--label {
      width: auto;
    }

    &--count {
      text-align: right;
      width: 15rem;
    }

    &--status {
      text-align: right;
      width: 8rem;
    }

    &--filetype-icon {
      width: 5rem;
    }

    &--item {
      width: 25%;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--match {
      max-width: 12.5%;
    }

    &--probability {
      max-width: 12.5%;
      word-wrap: break-word;
    }

    &--handle {
      width: auto;
    }

    &--context {
      max-width: 25%;
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
      border-bottom: none;
    }
  }
}

.matches {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-text-secondary);
}

.probability {
  margin-left: 5rem;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: var(--border-radius-button);
  color: var(--color-text-white);
  text-align: center;
  max-width: 3.5rem;
  padding: 0.5rem;

  &--red {
    background-color: var(--color-error);
  }
  &--orange {
    background-color: var(--color-problem);
  }
  &--green {
    background-color: var(--color-ok-dark);
  }
}

.pagination {
  margin-bottom: 1.5rem;

  a {
    font-weight: bold;
    color: var(--color-primary-dark);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.datatable tr:hover {

  td{
    background-color: var(--color-hover);
  }

  .hit-link {
    opacity: 1;
  }
}

@supports(display: grid) {
  // We use CSS Grid to detect IE11, as "tr:focus" breaks the whole selector in IE11
  .datatable tr:focus, 
  .datatable tr:focus-within, 
  .datatable tr:hover {
    td {
      background-color: var(--color-hover);
    }
      
    .hit-link {
      opacity: 1;
    }
  }
}

.datatable th,
.datatable td {
  line-height: 1;
  padding: var(--datatable-cell-padding) calc(var(--datatable-cell-padding) / 2);
  vertical-align: top;

  &:first-child {
    padding-left: var(--datatable-cell-padding);
  }

  &:last-child {
    padding-right: var(--datatable-cell-padding);
  }
}

.datatable th {
  font-size: 1rem;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 4.5rem;
  z-index: 2;
  background-color: #e5e5e5;

  &:first-child {
    border-radius: 1.25rem 0 0 0;
  }

  &:last-child {
    border-radius: 0 1.25rem 0 0;
  }
}

.datatable td {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.datatable th.scrollActive {
  border-radius: 0;
  background-color: #e5e5e5;
}

/* .datatable--click-rows, start */
.datatable--click-rows td {
  padding: 0;

  &:first-child {
    padding-left: inherit;
  }

  &:last-child {
    padding-right: inherit;
  }
}

.datatable--click-rows a {
  color: inherit;
  display: block;
  padding: 2rem;
  text-decoration: none;
}
/* .datatable--click-rows, stop */

/* Nested tables, start */
.datatable--nested {
  border-collapse: collapse;
  box-shadow: initial;
  table-layout: fixed;
  width: 100%;
  border-top: none;

  td,
  td:first-child,
  td:last-child {
    border-top: none;
    padding: var(--size-ds-unit) 0;
  }
}
/* Nested tables, stop */

.scan {
  &__item-title {
    display: block;
    word-break: break-all;
  }

  &__item-count {
    display: block;
    margin-top: var(--size-ds-unit);
  }

  &__item-meta {
    margin-top: var(--size-ds-unit);

    span {
      display: inline-block;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      opacity: 0.75;
    }
  }
}