:root {
  --datatable-cell-padding: 2rem;
}

.dashboard_wrapper {
  display: flex;
  max-width: 85%;
  min-height: 9.5rem;
  margin-bottom: 3.5rem;

  .link {
    height: 0;
    color: var(--color-text-main);
    text-decoration: none;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: 0.5fr 12fr 2fr;
  grid-template-areas: "sensitivity text-content material-icons";
  background-color: var(--color-widget-bg);
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);

  .sensitivity {
    width: 1rem;
    min-height: 9.5rem;
    border-radius: var(--border-radius-sensitivity);

      &--critical {
        display: block;
        background-color: var(--color-error);
      }
      
      &--problem {
        display: block;
        background-color: var(--color-problem);
      }

      &--warning {
        display: block;
        background-color: var(--color-warning);
      }

      &--notification {
        display: block;
        background-color: var(--color-notification);
      }
  }

  .text-content {
    grid-area: text-content;
    padding: 2rem;
  }

  .material-icons {
    grid-area: material-icons;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #9e9e9e59;
    font-size: 5rem;

    &--hidden {
      visibility: hidden;
    }
  }

}

.datatable {
  background-color: var(--color-widget-bg);
  border-collapse: collapse;
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);
  max-width: 80rem;
  table-layout: fixed;
  width: calc(100% - 2rem);
  margin-bottom: 1.5rem;

  &__column {
    &--label {
      width: auto;
    }

    &--count {
      text-align: right;
      width: 15rem;
    }

    &--status {
      text-align: right;
      width: 8rem;
    }

    &--filetype-icon {
      width: 5rem;
    }

    &--item {
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &--match {
      width: 10rem;
    }

    &--probability {
      width: 12rem;
    }

    &--handle {
      width: auto;
    }

    &--context {
      word-break: break-all;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.matches {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-primary-dark);

  &--width {
    color: var(--color-text-secondary);
    margin-left: .5rem;
  }
}

.probability {
  margin-left: 5rem;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: var(--border-radius-button);
  color: var(--color-text-white);
  text-align: center;
  max-width: 3.5rem;
  padding: 0.5rem;

  &--red {
    background-color: var(--color-error);
  }
  &--orange {
    background-color: var(--color-problem);
  }
  &--green {
    background-color: var(--color-ok-dark);
  }
}

.pagination {
  margin-bottom: 1.5rem;

  a {
    font-weight: bold;
    color: var(--color-primary-dark);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.datatable tr:hover {

  td{
    background-color: var(--color-hover);
  }

  .hit-link {
    opacity: 1;
  }
}

@supports(display: grid) {
  // We use CSS Grid to detect IE11, as "tr:focus" breaks the whole selector in IE11
  .datatable tr:focus, 
  .datatable tr:focus-within, 
  .datatable tr:hover {
    td {
      background-color: var(--color-hover);
    }
      
    .hit-link {
      opacity: 1;
    }
  }
}

.datatable th,
.datatable td {
  line-height: 1;
  padding: var(--datatable-cell-padding) calc(var(--datatable-cell-padding) / 2);
  vertical-align: top;

  &:first-child {
    padding-left: var(--datatable-cell-padding);
  }

  &:last-child {
    padding-right: var(--datatable-cell-padding);
  }
}

.datatable th {
  font-size: 1rem;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.datatable td {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.datatable th.scrollActive {
  color: var(--color-text-white);
  background: transparent linear-gradient(180deg, var(--color-primary-light) 0%, var(--color-icon-primary) 100%) 0% 0% no-repeat padding-box;
}

/* .datatable--click-rows, start */
.datatable--click-rows td {
  padding: 0;

  &:first-child {
    padding-left: inherit;
  }

  &:last-child {
    padding-right: inherit;
  }
}

.datatable--click-rows a {
  color: inherit;
  display: block;
  padding: 2rem;
  text-decoration: none;
}
/* .datatable--click-rows, stop */

/* Nested tables, start */
.datatable--nested {
  border-collapse: collapse;
  box-shadow: initial;
  table-layout: fixed;
  width: 100%;

  td,
  td:first-child,
  td:last-child {
    border-top: none;
    padding: var(--size-ds-unit) 0;
  }
}
/* Nested tables, stop */

.scan {
  &__item-title {
    display: block;
    word-break: break-all;
  }

  &__item-count {
    display: block;
    margin-top: var(--size-ds-unit);
  }

  &__item-meta {
    margin-top: var(--size-ds-unit);

    span {
      display: inline-block;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      opacity: 0.75;
    }
  }
}
