.no-results {
  float: left;
  clear: both;
  margin-top: 0;
}

.match_filtering_wrapper {
  float:left;
  margin-top: 1rem;
  max-width: 100%;
}

.match_filtering_clear_button {
  cursor:pointer;
  float:right;
  margin-right: 2rem;
  margin-top: .5rem;
  border:none;
  background: none;
  color: var(--color-primary-dark);
  font-size: small;
}

.match_filtering_label {
  display: block;
  font-weight: bold;
  float:left;
}

.match_filtering {
  width: 12.5rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-size: .9rem;
}

.match_filtering select {
  display: none;
}

/* style the selected item */
.select-selected {
  background-color: var(--color-widget-bg);
  border-radius: var(--border-radius-filter);
  box-shadow: var(--box-shadow-filter);
  margin-bottom: 1rem;
  z-index: 10;
  color: var(--color-text-main);
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* style the arrow inside the select element */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--color-icon) transparent transparent transparent;
}

/* point the arrow upwards when the select box is open (active) */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--color-icon) transparent;
  top: 7px;
}

/* style the items (options) */
.select-items div {
  color: var(--color-text-main);
  padding: 8px 16px;
  margin-left: .7rem;
  margin-right: .7rem;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items div:first-child {
  margin-top: .7rem;
}
.select-items div:last-child {
  margin-bottom: .7rem;
}

/* style items (options) */
.select-items {
  position: absolute;
  max-width: 21rem;
  background-color: var(--color-widget-bg);
  border-radius: var(--border-radius-filter);
  box-shadow: var(--box-shadow-filter);
  margin-top: .5rem;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

/* hide the items when the select box is closed */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* style checkbox */
.checkbox_wrapper {
  float:left;
  clear: left;
  max-width: 100%;
  margin-bottom: 2rem;
}

.ds-checkbox {
  line-height: 1.3;
  font-size: 1.2em;
  margin-right: 2em;
  input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  input + label {
    cursor: pointer;
    padding-left: 1.75em;
    margin-top: 0;
  }

  input[type="checkbox"] + label {
    &::before,
    &::after {
      :root {
        --transition-property: opacity;
      }

      content: "";
      display: block;
      height: 1em;
      width: 1em;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: content-box;
      background-color: transparent;
      cursor: pointer;
      transition: var(--transition-default);
    }

    &::before {
      border: 2px solid rgba(0, 0, 0, 0.4);
      border-radius: 3px;
    }

    &::after {
      background-size: 90% auto;
      background-position: center;
      background-repeat: no-repeat;
      border: 2px solid transparent; // match alignment of ::before element
      background-image: url("../images/done.svg");
      opacity: 0;
      transition: var(--transition-default);
    }
  }

  input[type=checkbox]:focus + label::before {
    border-color: #12496e;
  }

  &:hover {
    input[type="checkbox"] + label {
      &::before {
        border-color: #12496e;
      }
    }
  }

  input[type="checkbox"]:checked + label {
    &::before {
      background-color: #12496e;
      border-color: transparent;
    }

    &::after {
      opacity: 1;
    }
  }

  input[type="checkbox"]:disabled + label {
    opacity: 0.5;

    &::before {
      border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }
}
