.form {
  line-height: 1;

  fieldset {
    border: none;
  }

  .form__legend {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
    text-align: left;
  }

  .form__group {
    display: block;
  }

  .form__group + .form__group {
    margin-top: 1rem;
  }

  label {
    display: block;
    font-size: 0.75em;
    user-select: none;
    color: var(--color-text-main);
  }

  label + input {
    margin-top: 0.25rem;
  }

  input[type=checkbox] + label {
    display: flex;
  }

  // input [type=text],[type=password]
  input[type=text],
  input[type=password] {
    background-color: #fff;
    border: none;
    border-radius: var(--border-radius-small);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1;
    outline: none;
    padding: .75rem;
    transition: var(--transition-default);
    width: 100%;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    box-shadow: inset 0 0 0 4px #5ca4cd40;
  }
}

.form__error {
  background-color: var(--color-error);
  border: 1px solid var(--color-error);
  color: #fff;
  font-size: 0.75rem;
  line-height: 1;
  margin-top: 1rem;
  padding: 0.5rem;
}
