.view-options {
  float: right;
}

.handle-match-wrapper {
  display: flex;
  align-items: center;
  min-width: 38rem;
  float:left;

  button {
    margin-left: 0;
    height: 2rem;
    font-weight: bold;
    border: none;
    border-radius: var(--border-radius-button);
    font-size: 1rem;
    line-height: 1;
    padding: 0.5em;
    text-decoration: none;
    word-break: normal;
    cursor: pointer;
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
    &[disabled] {
      cursor: default;
      background-color: rgba(0,0,0,.07);
      color: rgba(0,0,0,.35);
    }

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      color: var(--color-text-main);
      background-color: rgba(0, 0, 0, 0.2);
      text-decoration: none;
      transition: background-color 0.2s ease-in-out;
    }
  }

  .selected-cb {
    margin-left: 1.5rem;
    font-size: .9rem;
    font-weight: normal;
    color: var(--color-text-secondary);
  }
}
