.hit-link {
  display: block;
  margin-top: 1rem;
  // opacity: 0;
  transition: opacity 0.1s ease-in-out 0.1s;
}

.phantom {
  display: none;
}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
  color: var(--color-text-main);
  font-weight: bold;
}