.hit-link {
  display: block;
  margin-top: 1rem;
  transition: opacity 0.1s ease-in-out 0.1s;

  &__handle {
    margin-top: .5rem;
  }
}

.phantom {
  display: none;
}

.morecontent span {
  display: none;
}
.morelink {
  display: block;
  color: var(--color-text-main);
  font-weight: bold;
}