.logo {
  height: var(--size-logo-height);
  width: var(--size-logo-width);
}

.logo > a {
  display: block;
  height: 100%;
}

.logo svg {
  height: var(--size-logo-height);
  max-height: 100%;
  display: block;
  max-width: 100%;
  min-width: calc(var(--size-logo-width) / 2);
}

.logo .cls-1 {
  fill: var(--color-logo-mark);
}

.logo .cls-2 {
  fill: var(--color-logo-text);
}
