.login-bg {
  width: 100%;
  height: 100%;
  background: transparent linear-gradient(180deg, #5CA4CD 0%, #21759C 100%) 0% 0% no-repeat padding-box;
}

.login-form {
  max-width: 35rem;
  min-height: 45rem;
  background-color: var(--color-widget-bg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  padding: 6rem;
  box-shadow: var(--box-shadow-login);
  border-radius: var(--border-radius-widget);
  
  h2 {
    color: var(--color-text-main);
    margin-bottom: 4rem;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
  }

  .flex {
    display: flex;
  
    .width {
      margin-left: .5rem;
    }
  }

  .login-btn {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    background-color: var(--color-primary-dark);
    color: var(--color-text-white);
    font-size: 1.2rem;
    line-height: 1;
    border-radius: 0.25rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition-default);
  
  }

  .login-btn:hover {
    background-color: var(--color-hover);
    color: var(--color-text-main);
  }

  .info {
    text-align: center;
  }

  .link {
    color: var(--color-primary-dark);
  }
  .link:hover {
    color: var(--color-text-main);
  }

  .logo {
    margin-top: 3.5rem;
    margin-right: .5rem;
  }
}