.sidemenu {
  max-width: 18.75rem;
  min-height: 60rem;
  background: transparent linear-gradient(180deg, var(--color-primary-light) 0%, var(--color-icon-primary) 100%) 0% 0% no-repeat padding-box;
}

.navigation {
  margin-left: 2.25rem;
  font-size: 1rem;
}

.navigation ul {
  padding-top: 14rem;
  list-style-type: none;
}

.navigation li {
  margin-top: 1.8rem;
  text-decoration: none;
}

.navigation a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 16.5rem;
  height: 3.9rem;
  padding-left: 1.5rem;
  color: var(--color-text-white);
  text-decoration: none;

  svg {
    fill: var(--color-widget-bg);
    height: 50%;
    width: auto;
  }

  .width {
    margin-left: 1.5rem;
  }
}

.navigation a:hover {
  color: var(--color-primary-dark);
  font-weight: bold;
  background-color: var(--color-body-bg);
  border-radius: 10px 0px 0px 10px;

  svg {
    fill: var(--color-primary-dark);
  }
}

.navigation a.active {
  color: var(--color-primary-dark);
  font-weight: bold;
  background-color: var(--color-body-bg);
  border-radius: 10px 0px 0px 10px;

  svg {
    fill: var(--color-primary-dark);
  }
}

.navigation li a.active::before,
.navigation li a:hover::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: radial-gradient(closest-side, transparent calc(100% - 0.5px), var(--color-body-bg) 100%);
  position: absolute;
  top: -20px;
  right: 0;
  clip: rect(10px, 20px, 20px, 10px);
}
.navigation li a.active::after,
.navigation li a:hover::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: radial-gradient(closest-side, transparent calc(100% - 0.5px), var(--color-body-bg) 100%);
  position: absolute;
  bottom: -20px;
  right: 0;
  clip: rect(0, 20px, 10px, 10px);
}
