.get-results {
  font-size: .9rem;
  font-weight: normal;
  min-width: 10rem;
  margin-left: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius-button);
}

.get-results select {
  display: none;
}

/* style the selected item */
.select-page {
  background-color: var(--color-widget-bg);
  border-radius: var(--border-radius-button);
  z-index: 9;
  color: var(--color-text-main);
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

/* style the arrow inside the select element */
.select-page:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--color-icon) transparent transparent transparent;
}

/* point the arrow upwards when the select box is open (active) */
.select-page.select-page-arrow-active:after {
  border-color: transparent transparent var(--color-icon) transparent;
  top: 7px;
}

/* style the items (options) */
.select-page-items div {
  color: var(--color-text-main);
  padding: 8px 16px;
  margin-left: .7rem;
  margin-right: .7rem;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-page-items div:first-child {
  margin-top: .7rem;
}
.select-page-items div:last-child {
  margin-bottom: .7rem;
}

/* style items (options) */
.select-page-items {
  position: absolute;
  max-width: 21rem;
  background-color: var(--color-widget-bg);
  border-radius: var(--border-radius-button);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: .5rem;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

/* hide the items when the select box is closed */
.select-page-hide {
  display: none;
}

.select-page-items div:hover, .same-as-selected-page {
  background-color: rgba(0, 0, 0, 0.1);
}