.sensitivity-chart {
  background-color: #fff;
  box-shadow: var(--box-shadow-large);
  margin: 1rem 0;
  max-width: 80rem;
  padding: 2rem;
  width: calc(100% - 2rem);
  cursor: pointer;
  
  ol {
    margin-left: 2rem;
  }
}

.sensitivity-chart:hover {
  background-color: var(--color-body-bg);
}