.statistic_wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 90rem;
	width: calc(100% - 2rem);
}

.statistic {
	background-color: var(--color-widget-bg);
	-webkit-box-shadow: var(--box-shadow-widget);
	box-shadow: var(--box-shadow-widget);
	border-radius: var(--border-radius-widget);
	padding: 2rem;
	margin-bottom: 3.5rem;

	&--one {
		width: 50rem;
		min-height: 28rem;
	}

	&--two {
		margin-left: 3.5rem;
		width: 40rem;
		min-height: 28rem;
	}

	&--three {
		width: 40rem;
		min-height: 28rem;
	}

	&--four {
		margin-left: 3.5rem;
		width: 50rem;
		min-height: 28rem;
	}

	.statistic_header {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 2fr 1fr;
		grid-template-columns: 2fr 1fr;
		grid-gap: 1rem;
		margin-bottom: 1rem;

		.statistic_header_nav {
			-ms-grid-columns: 1fr 10fr;
		}

		> div {
			display: -ms-grid;
			display: grid;
			-ms-grid-rows: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}
		div:nth-child(1) {
			-ms-grid-column: 1;

			:nth-child(2),
			:nth-child(3) {
				-ms-grid-row: 2;
			}
		}

		div:nth-child(2) {
			-ms-grid-column: 2;
			div:nth-child(2) {
				-ms-grid-row: 2;
			}
		}
	}

	p {
		margin: 0;
		font-size: 1rem;
		color: var(--color-text-secondary);
	}
	// Overwriting predefined a-tag from "_typography.css"
	// because the color from the prototype is different
	a {
		text-align: right;
		color: var(--color-primary);
		-ms-grid-column-align: end;
		justify-self: end;
		height: 0;
	}
}

// Chart css

canvas {
	width: 100% !important;
}

// Pie chart CSS

.pie_chart_container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 4fr 2fr;
	grid-template-columns: 4fr 2fr;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;

	div:nth-child(2) {
		-ms-grid-column: 2;
		display: flex;
		align-items: flex-end;
	}
}

.pie_legend_list {
	list-style: none;
	bottom: 0;
	margin: 0;
	padding-left: 3.125rem;
}

li > span {
	color: var(--color-text-secondary);
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	cursor: pointer;
}

#bullet {
	content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	font-weight: bold;
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1rem; /* Also needed for space (tweak if needed)  */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
	font-size: 2rem;
	line-height: 1;
}

// Doughnut

.doughnut_charts_container {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 1fr 3rem 1fr;
	grid-template-rows: 1fr 1fr;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 2rem;
}

// Doughnut

.doughnut_charts_container > :nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

// Doughnut

.doughnut_charts_container > :nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

// Doughnut

.doughnut_charts_container > :nth-child(3) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

// Doughnut

.doughnut_charts_container > :nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
}

.doughnut_chart_container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: end;

	h4 {
		font-weight: 600;
	}

	.doughnut_info_box {
		font-size: 1rem;
		line-height: 1;
		margin-left: 1rem;
		-ms-grid-column: 2;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-end;
	}
}
.margin-2-5 {
	margin-top: 2.5rem;
}

// LINE

#line-chart-new-matches-tooltip {
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

// Hidden class

.hidden {
	display: none !important;
}

// select

/*Styling Selectbox*/
.dropdown {
	outline: none;
	display: inline-block;
	border: 0.063rem solid var(--color-text-secondary);
	border-radius: 0.25rem;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	position: relative;
	font-size: 0.875rem;
	color: var(--color-text-secondary);
	text-align: left;
	line-height: 1;
	height: 2.1rem;
}
.dropdown .select {
	cursor: pointer;
	display: block;
	padding: 0.625rem;
}

.dropdown .select > i {
	font-family: "Material Icons";
	font-size: 1rem;
	color: var(--color-text-secondary);
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	float: right;
}

.dropdown.active .select > i {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.dropdown .dropdown-menu {
	position: absolute;
	border: 0.063rem solid var(--color-text-secondary);
	border-radius: 0.25rem;
	background-color: #fff;
	width: 100%;
	left: 0;
	overflow: hidden;
	display: none;
	overflow-y: auto;
	z-index: 9;
}
.dropdown .dropdown-menu li {
	padding: 0.625rem;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.dropdown .dropdown-menu {
	padding: 0;
	list-style: none;
}
.dropdown .dropdown-menu li:hover {
	background-color: var(--color-hover);
}
