.statistic_wrapper {
	display: flex;
	max-width: 80rem;
}

.statistic {
	background-color: var(--color-widget-bg);
	box-shadow: var(--box-shadow-widget);
	border-radius: var(--border-radius-widget);
	padding: 2rem;
	margin-bottom: 3.5rem;

	&--one {
		width: 43rem;
		min-height: 28rem;
	}

	&--two {
		margin-left: 3.5rem;
		width: 33rem;
		min-height: 28rem;
	}

	&--three {
		width: 33rem;
		min-height: 28rem;
	}

	&--four {
		margin-left: 3.5rem;
		width: 43rem;
		min-height: 28rem;
	}

	&--one,
	&--four {
		.statistic_header {
			display: grid;
			grid-template-columns: 2fr 1fr;
		}
	}

	&--two,
	&--three {
		.statistic_header {
			display: grid;
			grid-template-columns: 2fr 1fr;
		}
	}

	.statistic_header {
		grid-gap: 1rem;

		> div {
			display: grid;
			grid-template-rows: 1fr 2fr;
		}
	}

	p {
		margin: 0;
		font-size: 1rem;
		color: var(--color-text-secondary);
	}
	// Overwriting predefined a-tag from "_typography.css"
	// because the color from the prototype is different
	a {
		text-align: right;
		color: var(--color-icon-primary);
		justify-self: end;
		height: 0;
	}
}

// Chart css

canvas {
	width: 100% !important;
}

// Pie chart CSS

.pie_chart_container {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: end;
}

.pie_legend_list {
	list-style: none;
	bottom: 0;
	margin: 0;
	padding-left: 50px;
}

li > span {
	color: var(--color-text-secondary);
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

#bullet {
	content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1rem; /* Also needed for space (tweak if needed)  */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
	font-size: 2rem;
	line-height: 1;
}

// Doughnut

.doughnut_charts_container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 2rem;
}

.doughnut_chart_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: end;

	.doughtnut_info_box {
		line-height: 1;
		p {
			font-size: 0.7rem;
		}
	}
}

// select

/*Styling Selectbox*/
.dropdown {
	outline: none;
	display: inline-block;
	border: 1px solid var(--color-text-secondary);
	border-radius: 4px;
	transition: all 0.5s ease;
	position: relative;
	font-size: 14px;
	color: var(--color-text-secondary);
	text-align: left;
	line-height: 1;
	height: 2.1rem;
}
.dropdown .select {
	cursor: pointer;
	display: block;
	padding: 10px;
}

.dropdown .select > i {
	font-family: "Material Icons";
	font-size: 1rem;
	color: var(--color-text-secondary);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	float: right;
}

.dropdown.active .select > i {
	transform: rotate(180deg);
}
.dropdown .dropdown-menu {
	position: absolute;
	border: 1px solid var(--color-text-secondary);
	border-radius: 4px;
	background-color: #fff;
	width: 100%;
	left: 0;
	overflow: hidden;
	display: none;
	overflow-y: auto;
	z-index: 9;
}
.dropdown .dropdown-menu li {
	padding: 10px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.dropdown .dropdown-menu {
	padding: 0;
	list-style: none;
}
.dropdown .dropdown-menu li:hover {
	background-color: var(--color-hover);
}

.hidden {
	display: none !important;
}
