.user {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.user a {
  color: inherit;
  text-decoration: none;
}

.user__name {
  color: inherit;
}

.user__avatar {
  border-radius: 50%;
  margin-right: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  box-shadow: var(--box-shadow-widget);

  > svg {
    fill: #fff;
    height: 100%;
    width: 100%;
  }
}

.user__border {
  border-right: 2px solid #bfbfbf;
  margin-right: 2rem;
  height: 3rem;
  opacity: 1;
}

.user__notify {
  margin-right: 2rem;
  height: 2.1rem;
  width: 2.1rem;

  > svg {
    fill: var(--color-primary-dark);
    height: 100%;
    width: 100%;
  }
}
