.pagination {
  background-color: var(--color-widget-bg);
  border-collapse: collapse;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 90rem;
  table-layout: fixed;
  width: calc(100% - 2rem);
  margin-bottom: 2rem;

  &__column {
    &--page {
      width: 11rem;
      border-radius: 0 0 0 1.25rem;
    }

    &--pages {
      width: 45rem;
    }
  }

  tr:hover {
    td {
      background-color: #fff;
    }
  }

  td {
    border-top: none;
    line-height: 1;
    padding: var(--datatable-cell-padding) calc(var(--datatable-cell-padding) / 2);
    vertical-align: top;
  }
  
  .flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 1rem;
  }

  .page_of_pages {
    padding-left: 1rem;
    color: var(--color-text-secondary);
  }

  .link {
    font-weight: normal;
    color: var(--color-primary-dark);
    text-decoration: none;

    &--pre {
      margin-right: 1rem;
    }

    &--next {
      margin-left: 1rem;
    }
  }

  .disabled {
    color: var(--color-text-secondary);
  }

  .page {
    padding: .25rem .75rem;
    margin-right: 0.5rem;
    color: var(--color-text-main);
    text-decoration: none;

    &--dot {
      font-weight: normal;
      color: var(--color-text-main);
    }

    &:hover {
      font-weight: 600;
      color: var(--color-primary-dark);
    }

    &--active {
      font-weight: 600;
      color: var(--color-text-white);
      background-color: var(--color-primary-dark);
      border-radius: var(--border-radius-button);

      &:hover {
        color: var(--color-text-white);
      }
    }
  }

  .line {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    height: 2.5rem;
    margin: 0 2rem;
  }

  .text {
    margin: 0 .5rem;
    color: var(--color-text-secondary);
    width: 5rem;
    font-size: .9rem;
  }

  input[type=number] {
    background-color: #fff;  
    border: none;
    border-radius: var(--border-radius-button);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    outline: none;
    padding: .35rem;
    width: 2.5rem;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]:focus {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.4);
  }
}
