.pagination {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  table-layout: fixed;
  width: 100%;
  margin-bottom: 2rem;

  td {
    border-top: none;
    line-height: 1;
    padding: var(--datatable-cell-padding);
    vertical-align: top;
  }

  .flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }

  .page_of_pages {
    color: var(--color-text-secondary);
    flex: 0 1 auto;
  }

  .pages {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    flex: 0 1 auto;
  }

  .link {
    font-weight: normal;
    color: var(--color-primary-dark);
    text-decoration: none;

    &--pre {
      margin-right: 1rem;
    }

    &--next {
      margin-left: 1rem;
    }
  }

  .disabled {
    color: var(--color-text-secondary);
  }

  .page {
    padding: .25rem .75rem;
    margin-right: 0.5rem;
    color: var(--color-text-main);
    text-decoration: none;

    &--dot {
      font-weight: normal;
      color: var(--color-text-main);
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      color: var(--color-primary-dark);
    }

    &--active {
      font-weight: 600;
      color: var(--color-text-white);
      background-color: var(--color-primary-dark);
      border-radius: var(--border-radius-button);
      transition: var(--transition-default);

      &:hover,
      &:focus {
        color: var(--color-text-main);
        text-decoration: none;
        background-color:rgba(0,0,0,.2)
      }
    }
  }

  .text {
    margin: 0 .5rem;
    color: var(--color-text-secondary);
    width: 5rem;
    font-size: .9rem;
  }

  input[type=number] {
    background-color: #fff;  
    border: none;
    border-radius: var(--border-radius-button);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    outline: none;
    padding: .35rem;
    width: 2.5rem;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]:focus {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.4);
  }
}
