<tr>
  <td class="datatable__column--name">{{ status.scanner.name }}</td>
  <td class="scan-stage stage-{{ status.stage.value }} datatable__column--org"
      id="scan-stage__{{ status.pk|unlocalize }}"
      {% if request.GET.reload == "#status_table_poll" %}hx-swap-oob="true"{% endif %}>
    {% if status.stage.value == 0 %}
      {% trans "Indexing data ..." %}
    {% elif status.stage.value == 1 %}
      {% trans "Scanning data (still indexing) ..." %}
    {% elif status.stage.value == 2 %}
      {% trans "Scanning data ..." %}

    {% elif status.stage.value == 3 %}
      {% trans "No objects to scan" %}
    {% endif %}
  </td>
</tr>
