{% extends 'partials/base.html' %}
{% load l10n %}
{% load i18n %}
{% load tz %}

{% block body %}
{% if not request.headers.hx_request %}
{% include "partials/header.html" %}
<main class="wrapper">
    {% include "partials/main.html" with active_tab="status" %}
    {% endif %}

    <div class="content" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        {% include "os2datascanner/scanner_tabs.html" with page="scan-status" %}

        <div class="aside">
            <h1 class="page-title">
                {% trans "Error Log" %}
            </h1>
        </div>

        {% if object_list  %}
        <div class="datatable-wrapper card lg" role="region" tabindex="0" aria-label="{% trans 'Error Log' %}">
          <table class="datatable">
            <colgroup>
              <col class="datatable__column--name">
              <col class="datatable__column--automatic">
              <col class="datatable__column--path">
              <col class="datatable__column--automatic">
              <col class="datatable__column--actions">
            </colgroup>
            <thead>
              <tr>
                <th class="datatable__column--name">
                  {% trans "Error" %}
                </th>
                <th class="datatable__column--automatic">
                  {% trans "Started"%}
                </th>
                <th class="datatable__column--path">
                  {% trans "Path" %}
                </th>
                <th class="datatable__column--automatic">
                  {% trans "Scan" %}
                </th>
                <th class="datatable__column--actions">
                  <button type="button" class="button" name="delete_all"
                          hx-post="" hx-swap="outerHTML" hx-trigger="click" hx-target=".content"
                          hx-confirm="{% trans "You are about to delete all error log messages. This action cannot be reverted. Are you sure?" %}"
                          >
                          {% trans "Delete all" %}
                        </button>
                  {% if new_error_logs > 0 %}
                  <button type="button" class="button" name="see_all"
                        hx-post="" hx-swap="outerHTML" hx-trigger="click" hx-target=".content"
                        hx-confirm="{% trans "You are about to mark all error log messages as seen. This action cannot be reverted. Are you sure?" %}"
                        >
                        {% trans "Mark all as seen" %}
                  </button>
                  {% endif %}
                </th>
              </tr>
            </thead>

            <tbody>
                {% for error_log in object_list %}
                    <tr
                    {% if error_log.is_new %}
                    class="highlighted"
                    {% endif %}
                    >
                        <td class="datatable__column--name">
                            {{ error_log.user_friendly_error_message }}
                            {% if error_log.is_new %} 
                            <span class="bubble">{% trans "New" %}</span>
                            {% endif %}
                        </td>
                        <td class="datatable__column--automatic">
                            {% timezone "Europe/Copenhagen" %}
                            {{ error_log.scan_status.start_time }}
                            {% endtimezone %}
                        <td class="datatable__column--path">
                            {{ error_log.path }}
                        </td>
                        <td class="datatable__column--automatic">
                            {{ error_log.scan_status.scanner.name }}
                        </td>
                        <td class="datatable__column--actions">
                          <button type="button" class="button" name="delete_errorlog"
                          hx-post="" hx-swap="outerHTML" hx-trigger="click" hx-target=".content" hx-vals='{"pk": "{{ error_log.pk|unlocalize }}"}'
                          >
                            {% trans "Delete" %}
                          </button>
                          {% if error_log.is_new %}
                          <button type="button" class="button" name="see_errorlog"
                          hx-post="" hx-swap="outerHTML" hx-trigger="click" hx-target=".content" hx-vals='{"pk": "{{ error_log.pk|unlocalize }}"}'
                          >
                            {% trans "Mark as seen" %}
                          </button>
                          {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            {% include "components/pagination.html" %}
        </table>
      </div>

      {% else %}
        <p>
          {% trans "no errors found."|capfirst %}
        </p>
        {% endif %}
    </div>
{% if not request.headers.hx_request %}
</main>
{% endif %}
{% endblock %}

