{% extends "partials/base.html" %}
{% load i18n %}

{% block rendertype %}regular{% endblock %}
{% block heading %}
  {% trans "Delete" %} {{ object }}?
{% endblock %}

{% block body %}
  <div class="container">
    <p>{% trans "This action cannot be undone. Are you sure you want to delete this rule?" %}</p>
    <p>
      {% trans "Please note that this rule is currently included in" %}
      {{ object.scanners.all.count }} {% trans "scannerjob and" %}
      {{ object.scans.all.count }} {% trans "reports." %}
    </p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary" type="submit" value="Ja" />
      <a class="btn btn-default" href="javascript:history.go(-1)">{% trans "No" %}</a>
    </form>
  </div>
{% endblock %}
