{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block scripts %}
<script src="{% static "3rdparty/jquery.modal.js" %} "></script>
  {% if not settings.DEBUG %}
    <script src="{% static "dist/bundle.min.js" %}"></script>
  {% else %}
    <script src="{% static "dist/bundle.js" %}"></script>
  {% endif %}
{% endblock %}

{% block body %}
<main class="wrapper">
  {% include "partials/main.html" with active_tab="rules" %}

  <div class="content">

  <div class="aside">
    <h1 class="page-title">
      {% trans "Rules" %}
    </h1>

    <div class="btn">
      <a
        class="button button--cta"
        href="/rules/regex/add/"
        title="{% trans 'Add rule' %}">
        <svg class="icon icon--white">
          <use xlink:href="/static/src/svg/symbol-defs.svg#icon-plus"></use>
        </svg>
        <span>
          {% trans "Add rule" %}
        </span>
      </a>
    </div>
  </div>

  <table class="datatable">
    <thead>
      <tr>
        <th class="datatable__column--name">
          {% trans "Name" %}
        </th>
        <th class="datatable__column--org">
          {% trans "Organization" %}
        </th>
        <th class="datatable__column--description">
          {% trans "Description" %}
        </th>
        <th class="datatable__column--expression">
          {% trans "Expression" %}
        </th>
        <th class="datatable__column--sensitivity">
          {% trans "Sensitivity" %}
        </th>
        <th class="datatable__column--actions">
          {% trans "Action" %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for rule in regexrule_list %}
      <tr tabindex="0">
        <td class="datatable__column--name">{{ rule.name }}</td>
        <td class="datatable__column--org">{{ rule.organization }}</td>
        <td class="datatable__column--description">{{ rule.description }}</td>

        <td class="datatable__column--expression">
          {% if rule.regexrule.patterns.all|length > 0 %}
          <button
            type="button"
            class="button button--grey button--small"
            title="{% trans 'Show expression' %}"
            data-toggle="#show-patterns-{{ forloop.counter }}">
            {% trans "Show expression" %}
          </button>
          {% endif %}
        </td>
        <td class="datatable__column--sensitivity">
          <span class="flex">
            <span class="flex--width">
              {% include "components/sensitivity-icon.html" %}
            </span>
            <span>{{ rule.get_sensitivity_display }}</span>
          </span>
        </td>
        <td class="datatable__column--actions">
          <a
            href="/rules/regex/{{rule.pk}}"
            class="button button--small button--grey"
            title="{% trans 'Edit' %}">
            <svg class="icon">
              <use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"></use>
            </svg>
          </a>

          <form action="/{{ view.type }}rules/regex/{{rule.pk}}/delete/" method="post" style="display: inline-block;">
            {% csrf_token %}
            {{ form.as_p }}
            <button
              type="submit"
              class="button button--small button--grey"
              onclick="return confirm('Ønsker du virkelig at slette denne regel?\n{{ rule.name }}\n\nHandlingen kan ikke fortrydes.')"
                    title="{% trans 'Delete' %}">
              <svg class="icon">
                <use xlink:href="/static/src/svg/symbol-defs.svg#icon-cross"></use>
              </svg>
            </button>
          </form>

        </td>
      </tr>
      <tr class="expandable-row" id="show-patterns-{{ forloop.counter }}" hidden>
        {% if user.is_superuser %}
        <td colspan="6">
        {% else %}
        <td colspan="5">
        {% endif %}
          {% if rule.regexrule.patterns.all|length > 0 %}
          {% for pattern in rule.regexrule.patterns.all %}
          <code class="code-grey">{{ pattern.pattern_string }}</code>
          {% endfor %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="aside">
    <h1 class="page-title">
      {% trans "System rules" %}
    </h1>
  </div>

  <table class="datatable">
    <thead>
      <tr>
        <th class="datatable__column--name">
          {% trans "Name" %}
        </th>
        <th class="datatable__column--org">
          {% trans "Organization" %}
        </th>
        <th class="datatable__column--description">
          {% trans "Description" %}
        </th>
        <th class="datatable__column--expression"></th>
        <th class="datatable__column--sensitivity">
          {% trans "Sensitivity" %}
        </th>
        <th class="datatable__column--actions"></th>
      </tr>
    </thead>

    <tbody>
      {% for rule in systemrule_list %}
      <tr tabindex="0">
        <td class="datatable__column--name">{{ rule.name }}</td>
        <td class="datatable__column--org">{{ rule.organization }}</td>
        <td class="datatable__column--description">{{ rule.description }}</td>
        <td class="datatable__column--expression"></td>
        <td class="datatable__column--sensitivity">
          <span class="flex">
            <span class="flex--width">
              {% include "components/sensitivity-icon.html" %}
            </span>
            <span>{{ rule.get_sensitivity_display }}</span>
          </span>
        </td>
        <td class="datatable__column--actions"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</main>
{% endblock %}

{% block modal %}
<div class="modal modal--small" id="delete-rule-modal" tabindex="-1" role="dialog" aria-labelledby="delete-rule-modal-title" aria-hidden="true" hidden>
  <h4 class="modal__heading" id="delete-rule-modal-title">
    {% trans "Delete rule" %}
  </h4>
  <iframe src="about:blank" frameborder="0"></iframe>
</div>

<div class="modal modal--small" id="delete-rule-modal" tabindex="-1" role="dialog" aria-labelledby="delete-rule-modal-title" aria-hidden="true" hidden>
  <h4 class="modal__heading" id="delete-rule-modal-title">
    {% trans "Delete rule" %}
  </h4>

  <div class="modal__content">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <p>
        {% trans "Do you want to delete" %} <em>{{ object }}</em>?
        {% trans "This action cannot be undone." %}
      </p>
      <p>
        {% trans "Please note that this rule is currently included in" %}
        <em>{{ object.scanners.all.count }}</em>
        {% trans "scannerjob and" %} <em>{{ object.scans.all.count }}</em>
        {% trans "reports." %}
      </p>

      <div class="form__group">
        <button class="button button--cta button--small btn btn-default" type="submit">
          {% trans "Yes" %}
        </button>
        <button class="button button--cta button--small btn btn-default" type="button" data-modal="modal:close">
          {% trans "No" %}
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block rules_active %}
class="active"
{% endblock %}
