{% extends 'partials/base.html' %}
{% load l10n %}
{% load i18n %}
{% load tz %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="/jsi18n/"></script>
{% endblock %}

{% block body %}
  {% include "partials/header.html" %}
  <main class="wrapper" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include "partials/main.html" with active_tab="status" %}

    <div class="content">

      {% include "os2datascanner/scanner_tabs.html" with page="scan-status"  %}

      <div class="content-header">
        <h1 class="page-title">{% trans "Scans in progress" %}</h1>
      </div>
 
      {% include "os2datascanner/scan_status_table.html" %}
 
 
    </div>
  </main>
  <script>
    /*
    var wsStart = window.location.protocol == 'https:' ? 'wss://' : 'ws://'
    var endpoint = wsStart + window.location.host + window.location.pathname

    var socket = new WebSocket(endpoint)

    socket.onopen = function(e){
      console.log("open", e);
    };

    socket.onmessage = function(e){
      console.log("message", e)
    };

    socket.onerror = function(e){
        console.log("error", e)
    };

    socket.onclose = function(e){
      console.log("close", e)
    };
    */
  </script>
{% endblock %}
