{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% block scripts %}
  <script src="{% static "3rdparty/jquery.modal.js" %} "></script>
  <script src="{% static "js/index.js" %}"></script>
  <script src="{% static '3rdparty/htmx.min.js' %}"></script>
{% endblock %}

{% block body %}
  <div class="cleanup-container"
       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="cleanup-content">
      <h1>{% trans "Clean up stale accounts" %}</h1>
      <p>
        {% trans "OS2datascanner has registered, that some users, which were previously scanned with this scanner job, are no longer covered. These accounts will no longer be scanned by the scanner job." %}
      </p>
      <p>{% trans "Delete the report results for the following users:" %}</p>
      <ul>
        {% for account in scanner.get_stale_accounts %}
          <li>{{ account.get_full_name }} ({{ account.username }})</li>
        {% endfor %}
      </ul>

      <div class="button-wrapper">
        <button class="button button--cta button--large"
                name="cleanup-button"
                type="button"
                hx-post="/{{ view.type }}scanners/{{ scanner.pk }}/cleanup_stale_accounts/"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target=".cleanup-container"
                hx-select=".cleanup-container">{% trans "Clean" %}</button>
      </div>
    </div>
  </div>
{% endblock %}
