<div class="tabs">
    {% if settings.ENABLE_WEBSCAN %}
    <a id="web" class="tabs__control" href='/webscanners/'">Webscanner</a>
    {% endif %}
    {% if settings.ENABLE_FILESCAN %}
    <a id="file" class="tabs__control" href='/filescanners/'">Filscanner</a>
    {% endif %}
    {% if settings.ENABLE_EXCHANGESCAN %}
    <a id="exchange" class="tabs__control" href='/exchangescanners/'">Exchangescanner</a>
    {% endif %}
    {% if settings.ENABLE_DROPBOXSCAN %}
    <a id="dropbox" title="Læg mærke til at Dropboxscan stadig er i test." class="tabs__control" href="/dropboxscanners/">Dropboxscanner (beta)</a>
    {% endif %}
    {% if settings.ENABLE_MSGRAPH_MAILSCAN %}
    <a id="msgraph-mail" title="Læg mærke til at Microsoft Graph-scannere stadig er i test." class="tabs__control" href="/msgraph-mailscanners/">Office 365 mailscanner (beta)</a>
    {% endif %}
    {% if settings.ENABLE_MSGRAPH_FILESCAN %}
    <a id="msgraph-file" title="Læg mærke til at Microsoft Graph-scannere stadig er i test." class="tabs__control" href="/msgraph-filescanners/">Office 365 OneDrive filscanner (beta)</a>
    {% endif %}
</div>

<script>
    // Menu tabs
    var web = document.getElementById("web")
    var file = document.getElementById("file")
    var exchange = document.getElementById("exchange")
    var dropbox = document.getElementById("dropbox")
    var msgraph_mail = document.getElementById("msgraph-mail")
    var msgraph_file = document.getElementById("msgraph-file")

    if (location.pathname === '/') {
        if (web) {
            window.location.href = "/webscanners/"
            web.classList.add('active')
        } else if (file) {
            window.location.href = "/filescanners/"
            file.classList.add('active')
        } else if (exchange) {
            window.location.href = "/exchangescanners/"
            exchange.classList.add('active')
        } else if (dropbox) {
            window.location.href = "/dropboxscanners/"
            dropbox.classList.add('active')
        } else if (msgraph_mail) {
            window.location.href = "/msgraph-mailscanners/"
            msgraph_mail.classList.add('active')
        } else if (msgraph_file) {
            window.location.href = "/msgraph-filescanners/"
            msgraph_file.classList.add('active')
        }
    }
    if (location.pathname === '/webscanners/') {
        web.classList.add('active')
    }
    if (location.pathname === '/filescanners/') {
        file.classList.add("active")
    }
    if (location.pathname === '/exchangescanners/') {
        exchange.classList.add("active")
    }
    if (location.pathname === '/dropboxscanners/') {
        dropbox.classList.add("active")
    }
    if (location.pathname === '/msgraph-mailscanners/') {
        msgraph_mail.classList.add("active")
    }
    if (location.pathname === '/msgraph-filescanners/') {
        msgraph_file.classList.add("active")
    }
</script>
