
  <div id="{{ field.auto_id }}_container" class="dropdown-group form__group{% if field.errors %} has-error{% endif %}">
    <label {% if required %}
            class="required-form"
           {% endif %}
           for="id_{{ field.name }}">{{ field.label }}</label>
    <div class="dropdown">
      <select
        name="{{ field.name }}"
        id="id_{{ field.name }}"
        {% if field.field.choices|length <= 1 %} disabled="disabled" {% endif %}>

        {% for value, tag in field.field.choices %}
        <option
          value="{{ value }}"
          {% if field.value|stringformat:"s"  == value|stringformat:"s" %}
          selected="selected"
          {% endif %}>
          {{ tag }}
        </option>
        {% if field.field.choices|length <= 1 %}
        <input type= "hidden" name="{{ field.name }}" value="{{ value }}">
        {% endif %}
        {% endfor %}
      </select>
    </div>

    {% if field.help_text %}
    <span class="form__help-text">{{ field.help_text }}</span>
    {% endif %}

    {% if field.errors %}
    {{ field.errors }}
    {% endif %}
  </div>
