{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% load mptt_tags %}

{% block extra_head_html %}
  <link href="{% static 'recurrence/css/recurrence.css' %}" rel="stylesheet" />
  <script type="text/javascript" src="/jsi18n/"></script>
  <!-- BEGIN Admin scripts and CSS to render filter_horizontal -->
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script src="{% static 'js/recurrence.js' %}"></script>
  <script src="{% static 'js/recurrence-widget.js' %}"></script>
  <script type="text/javascript"
          src="{% static 'recurrence/js/recurrence-widget.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'admin/css/widgets.css' %}" />
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'admin/css/forms.css' %}" />
  <!-- END   Admin scripts and CSS to render filter_horizontal -->
{% endblock %}

{% block jquery_script %}
  <script type="text/javascript">
  (function ($) {
    $(document).ready(function () {
      $("#id_{{ form.download_sitemap.name }}").change(function() {
        if( $(this).is(':checked')) {
          $("#{{ form.sitemap_url.auto_id }}_container").show();
          $("id_{{ form.sitemap_url.name }}").addClass("xyz");
        } else {
          $("#{{ form.sitemap_url.auto_id }}_container").hide();
        }
      });
    })
  })(jQuery);

  // Get file name - input[type="file"]
  {% if form.sitemap.name %}
    document.getElementById("id_{{ form.sitemap.name }}").onchange = function () {
      document.getElementById("upload-file").value = this.value;
    };
  {% elif form.service_account_file.name %}
    document.getElementById("id_{{ form.service_account_file.name }}").onchange = function () {
      document.getElementById("upload-file-service").value = this.value;
    };
    document.getElementById("id_{{ form.user_emails.name }}").onchange = function () {
      document.getElementById("upload-file-email").value = this.value;
    };
  {% elif form.userlist.name %}
    document.getElementById("id_{{ form.userlist.name }}").onchange = function () {
      document.getElementById("upload-file").value = this.value;
    };
  {% elif form.service_account_file_gmail %}
    document.getElementById("id_{{ form.service_account_file_gmail.name }}").onchange = function () {
      document.getElementById("upload-file-service").value = this.value;
    };
    document.getElementById("id_{{ form.user_emails_gmail.name }}").onchange = function () {
      document.getElementById("upload-file-email").value = this.value;
    };
  {% endif %}
  </script>

  <script type="text/javascript">
 function hideOrgUnits() {
     sel_1 = document.getElementById("sel_1");
     sel_1.setAttribute("disabled", "");
 }

 function showOrgUnits() {
     sel_1 = document.getElementById("sel_1");
     sel_1.removeAttribute("disabled");
 }
  </script>

  <!-- Available Employees widget -->
  <!-- <script type="text/javascript" src="{% static 'js/employeeSelector.js' %}"></script> -->
  <script src="{% static 'js/options.js' %}"></script>

  <!-- Tree view widget -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/css/select2.min.css"
        rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6/js/select2.min.js"></script>

  {% if form.org_unit %}
    <script src="{% static 'js/dropdowntree.js' %}"></script>
    <script src="{% static 'js/getOrgUnits.js' %}"></script>
  {% endif %}

{% endblock %}

{% block body %}
  {% include "partials/header.html" %}
  <div class="wrapper">
    {% include "partials/main.html" with active_tab="home" %}

    <div class="content">

      {% include "partials/breadcrumb.html" with page="scannerjob"  %}

      <div class="aside">
        {% if view.edit %}
          <h1 class="page-title">{% trans "Edit scannerjob" %}</h1>
        {% endif %}

        {% if not view.edit %}
          <h1 class="page-title">{% trans "Create new scannerjob" %}</h1>
        {% endif %}
      </div>

      {% if form.non_field_errors %}
        <div class="alert alert--warning" role="alert">
          <ul>
            {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        </div>
      {% endif %}

      <form class="form" role="form" method="post" enctype="multipart/form-data">
        <section class="data-form">
          {% csrf_token %}

          <fieldset class="form__fieldset">
            <h3>{% trans "General" %}</h3>

            {% include "os2datascanner/scanner_form_input_field.html" with field=form.name required="True" autofocus="True" placeholder="Navn på scannerjob" %}

            {% if form.url %}
              {% include "os2datascanner/scanner_form_input_field.html" with field=form.url required="True" placeholder=form.url.field.widget.attrs.placeholder %}
            {% endif %}

            {% if form.unc %}
              {% include "os2datascanner/scanner_form_input_field.html" with field=form.unc required="True" placeholder=form.unc.field.widget.attrs.placeholder %}
            {% endif %}

            {% if form.mail_domain %}
              {% include "os2datascanner/scanner_form_input_field.html" with field=form.mail_domain required="True" placeholder=form.mail_domain.field.widget.attrs.placeholder %}
            {% endif %}

            {% if form.service_endpoint %}
              {% include "os2datascanner/scanner_form_input_field.html" with field=form.service_endpoint placeholder="f.eks. https://example.com/EWS/Exchange.asmx" %}
            {% endif %}

            {% if form.alias %}
              {% include "os2datascanner/scanner_form_input_field.html" with field=form.alias placeholder="f.eks. P" %}
            {% endif %}

            {% if form.organization %}
              {% include "os2datascanner/scanner_form_select_option_field.html" with field=form.organization required="True" %}
            {% endif %}

            {% if form.validation_status %}
              {% include "os2datascanner/scanner_form_select_option_field.html" with field=form.validation_status %}
            {% endif %}
          </fieldset>
        </section>

        <section class="data-form">
          {% if not view.type == 'sbsys' %}
            <fieldset class="form__fieldset">
              {% if form.sitemap %}
                <h3>{% trans "Sitemap" %}</h3>
              {% endif %}

              {% if form.domain %}
                <h3>{% trans "User information" %}</h3>
              {% endif %}

              {% if form.userlist %}
                <h3>{% trans "User information" %}</h3>
              {% endif %}

              {% if form.service_account_file %}
                <h3>{% trans "User information" %}</h3>
              {% endif %}

              {% if form.service_account_file_gmail %}
                <h3>{% trans "User information" %}</h3>
              {% endif %}
              <!-- This is a user domain, used on Windows computers. -->
              {% if form.domain %}
                {% include "os2datascanner/scanner_form_input_field.html" with field=form.domain placeholder="f.eks. WORKGROUP" %}
              {% endif %}

              {% if form.token %}
                {% include "os2datascanner/scanner_form_input_field.html" with field=form.token placeholder="(Uændret)" password="True" required="True" %}
              {% endif %}

              {% if form.grant %}
                {% include "os2datascanner/scanner_form_select_option_field.html" with field=form.grant required="True" %}
              {% endif %}

              {% if form.username %}
                {% include "os2datascanner/scanner_form_input_field.html" with field=form.username %}
              {% endif %}

              {% if form.password %}
                {% include "os2datascanner/scanner_form_input_field.html" with field=form.password placeholder="(Uændret)" password="True" %}
              {% endif %}

              {% if form.scan_site_drives %}
                <div id="{{ form.scan_site_drives.auto_id }}_container"
                     class="form__group{% if form.scan_site_drives.errors %} has-error{% endif %}">
                  <div class="ds-checkbox">
                    <input type="checkbox"
                           class="checkbox"
                           id="id_{{ form.scan_site_drives.name }}"
                           name="{{ form.scan_site_drives.name }}"
                           value="{{ form.scan_site_drives.name }}"
                           {% if form.scan_site_drives.value %}checked="checked"{% endif %} />
                    <label for="id_{{ form.scan_site_drives.name }}" tabindex="0">{{ form.scan_site_drives.label }}</label>
                  </div>

                  {% if form.scan_site_drives.help_text %}
                    <span class="form__help-text">{{ form.scan_site_drives.help_text }}</span>
                  {% endif %}

                  {% if form.scan_site_drives.errors %}{{ form.scan_site_drives.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.scan_user_drives %}
                <div id="{{ form.scan_user_drives.auto_id }}_container"
                     class="form__group{% if form.scan_user_drives.errors %} has-error{% endif %}">
                  <div class="ds-checkbox">
                    <input type="checkbox"
                           class="checkbox"
                           id="id_{{ form.scan_user_drives.name }}"
                           name="{{ form.scan_user_drives.name }}"
                           value="{{ form.scan_user_drives.name }}"
                           {% if form.scan_user_drives.value %}checked="checked"{% endif %} />
                    <label for="id_{{ form.scan_user_drives.name }}" tabindex="0">{{ form.scan_user_drives.label }}</label>
                  </div>

                  {% if form.scan_user_drives.help_text %}
                    <span class="form__help-text">{{ form.scan_user_drives.help_text }}</span>
                  {% endif %}

                  {% if form.scan_user_drives.errors %}{{ form.scan_user_drives.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.download_sitemap %}
                <div id="{{ form.download_sitemap.auto_id }}_container"
                     class="form__group{% if form.download_sitemap.errors %} has-error{% endif %}">
                  <div class="ds-checkbox">
                    <input type="checkbox"
                           class="checkbox"
                           id="id_{{ form.download_sitemap.name }}"
                           name="{{ form.download_sitemap.name }}"
                           value="{{ form.download_sitemap.name }}"
                           {% if form.download_sitemap.value %}checked="checked"{% endif %} />
                    <label for="id_{{ form.download_sitemap.name }}">{{ form.download_sitemap.label }}</label>
                  </div>

                  {% if form.download_sitemap.help_text %}
                    <span class="form__help-text">{{ form.download_sitemap.help_text }}</span>
                  {% endif %}

                  {% if form.download_sitemap.errors %}{{ form.download_sitemap.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.reduce_communication %}
                <div id="{{ form.reduce_communication.auto_id }}_container"
                     class="form__group{% if form.reduce_communication.errors %} has-error{% endif %}">
                  <div class="ds-checkbox">
                    <input type="checkbox"
                           class="checkbox"
                           id="id_{{ form.reduce_communication.name }}"
                           name="{{ form.reduce_communication.name }}"
                           value="{{ form.reduce_communication.name }}"
                           {% if form.reduce_communication.value %}checked="checked"{% endif %} />
                    <label for="id_{{ form.reduce_communication.name }}">{{ form.reduce_communication.label }}</label>
                  </div>

                  {% if form.reduce_communication.help_text %}
                    <span class="form__help-text">{{ form.reduce_communication.help_text|capfirst }}</span>
                  {% endif %}

                  {% if form.reduce_communication.errors %}{{ form.reduce_communication.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.service_account_file_gmail %}
                <div class="form__group form__group--flex">
                  <label for="id_{{ form.service_account_file_gmail.name }}" class="block">
                    {% trans "Upload service account" %} (.json) *
                  </label>
                  <input id="upload-file-service"
                         placeholder="{% trans 'Select a file' %}"
                         disabled="disabled"
                         class="grow" />
                  <div class="fileUpload button button--grey button--upload">
                    <span>{% trans "Upload" %}</span>
                    <input class="upload"
                           id="id_{{ form.service_account_file_gmail.name }}"
                           name="{{ form.service_account_file_gmail.name }}"
                           type="file"
                           data-filename-placement="inside"
                           title="{% trans 'Click here to upload service account credentials (JSON FORMAT)' %}" />
                  </div>

                  {% if form.service_account_file_gmail.help_text %}
                    <span class="form__help-text">{{ form.service_account_file_gmail.help_text }}</span>
                  {% endif %}

                  {% if form.service_account_file_gmail.errors %}{{ form.service_account_file_gmail.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.service_account_file_gmail.value %}
                <div id="{{ form.service_account_file_gmail.auto_id }}_container"
                     class="form__group{% if form.service_account_file_gmail.errors %} has-error{% endif %}">
                  <label for="id_{{ form.service_account_file_gmail.name }}">{% trans "Service account" %}</label>
                  {% trans "Current file:" %} <code>{{ form.service_account_file_gmail.value }}</code>
                </div>
              {% endif %}

              {% if form.user_emails_gmail %}
                <div class="form__group form__group--flex">
                  <label for="id_{{ form.user_emails_gmail.name }}" class="block">{% trans "Upload list of accounts" %} (.csv) *</label>
                  <input id="upload-file-email"
                         placeholder="{% trans 'Select a file' %}"
                         disabled="disabled"
                         class="grow" />
                  <div class="fileUpload button button--grey button--upload">
                    <span>{% trans "Upload" %}</span>
                    <input class="upload"
                           id="id_{{ form.user_emails_gmail.name }}"
                           name="{{ form.user_emails_gmail.name }}"
                           type="file"
                           data-filename-placement="inside"
                           title="{% trans 'Click here to upload list of accounts (CSV FORMAT)' %}" />
                  </div>

                  {% if form.user_emails_gmail.help_text %}
                    <span class="form__help-text">{{ form.user_emails_gmail.help_text }}</span>
                  {% endif %}

                  {% if form.service_account_file_gmail.errors %}{{ form.user_emails_gmail.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.user_emails_gmail.value %}
                <div id="{{ form.user_emails_gmail.auto_id }}_container"
                     class="form__group{% if form.user_emails_gmail.errors %} has-error{% endif %}">
                  <label for="id_{{ form.user_emails_gmail.name }}">{% trans "List of accounts" %}</label>
                  {% trans "Current file:" %} <code>{{ form.user_emails_gmail.value }}</code>
                </div>
              {% endif %}


              {% if form.sitemap_url %}
                <div id="{{ form.sitemap_url.auto_id }}_container"
                     class="form__group{% if form.sitemap_url.errors %} has-error{% endif %}">
                  <label for="id_{{ form.sitemap_url.name }}">{{ form.sitemap_url.label }}</label>
                  <input type="text"
                         name="{{ form.sitemap_url.name }}"
                         id="id_{{ form.sitemap_url.name }}"
                         placeholder="{% trans 'e.g. /sitemap.xml' %}"
                         {% if form.sitemap_url.value %}value="{{ form.sitemap_url.value }}"{% endif %}>

                  {% if form.sitemap_url.help_text %}<span class="form__help-text">{{ form.sitemap_url.help_text }}</span>{% endif %}

                  {% if form.sitemap_url.errors %}{{ form.sitemap_url.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.sitemap.value %}
                <div id="{{ form.sitemap.auto_id }}_container"
                     class="form__group{% if form.sitemap.errors %} has-error{% endif %}">
                  <label for="id_{{ form.sitemap.name }}">{% trans "Sitemap" %}</label>
                  {% trans "Current:" %} <code>{{ form.sitemap.value }}</code>
                  <div class="ds-checkbox">
                    <input id="{{ form.sitemap.name }}-clear_id"
                           name="{{ form.sitemap.name }}-clear"
                           type="checkbox" />
                    <label for="{{ form.sitemap.name }}-clear_id">{% trans "Remove" %}</label>
                  </div>
                </div>
              {% endif %}

              {% if form.sitemap %}
                <div class="form__group form__group--flex">
                  <label for="id_{{ form.sitemap.name }}" class="block">{% trans "Upload sitemap" %}</label>
                  <input id="upload-file"
                         placeholder="{% trans 'Select a file' %}"
                         disabled="disabled"
                         class="grow" />
                  <div class="fileUpload button button--grey button--upload">
                    <span>{% trans "Upload" %}</span>
                    <input class="upload"
                           id="id_{{ form.sitemap.name }}"
                           name="{{ form.sitemap.name }}"
                           type="file"
                           data-filename-placement="inside"
                           title="{% trans 'Click here to upload sitemap.xml' %}" />
                  </div>

                  {% if form.sitemap.help_text %}<span class="form__help-text">{{ form.sitemap.help_text }}</span>{% endif %}

                  {% if form.sitemap.errors %}{{ form.sitemap.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.service_account_file %}
                <div class="form__group form__group--flex">
                  <label for="id_{{ form.service_account_file.name }}" class="block">
                    {% trans "Upload service account" %} (.json) *
                  </label>
                  <input id="upload-file-service"
                         placeholder="{% trans 'Select a file' %}"
                         disabled="disabled"
                         class="grow" />
                  <div class="fileUpload button button--grey button--upload">
                    <span>{% trans "Upload" %}</span>
                    <input class="upload"
                           id="id_{{ form.service_account_file.name }}"
                           name="{{ form.service_account_file.name }}"
                           type="file"
                           data-filename-placement="inside"
                           title="{% trans 'Click here to upload service account credentials (JSON FORMAT)' %}" />
                  </div>

                  {% if form.service_account_file.help_text %}
                    <span class="form__help-text">{{ form.service_account_file.help_text }}</span>
                  {% endif %}

                  {% if form.service_account_file.errors %}{{ form.service_account_file.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.service_account_file.value %}
                <div id="{{ form.service_account_file.auto_id }}_container"
                     class="form__group{% if form.service_account_file.errors %} has-error{% endif %}">
                  <label for="id_{{ form.service_account_file.name }}">{% trans "Service account" %}</label>
                  {% trans "Current file:" %} <code>{{ form.service_account_file.value }}</code>
                </div>
              {% endif %}

              {% if form.user_emails %}
                <div class="form__group form__group--flex">
                  <label for="id_{{ form.user_emails.name }}" class="block">{% trans "Upload list of accounts" %} (.csv) *</label>
                  <input id="upload-file-email"
                         placeholder="{% trans 'Select a file' %}"
                         disabled="disabled"
                         class="grow" />
                  <div class="fileUpload button button--grey button--upload">
                    <span>{% trans "Upload" %}</span>
                    <input class="upload"
                           id="id_{{ form.user_emails.name }}"
                           name="{{ form.user_emails.name }}"
                           type="file"
                           data-filename-placement="inside"
                           title="{% trans 'Click here to upload list of accounts (CSV FORMAT)' %}" />
                  </div>

                  {% if form.user_emails.help_text %}<span class="form__help-text">{{ form.user_emails.help_text }}</span>{% endif %}

                  {% if form.service_account_file.errors %}{{ form.user_emails.errors }}{% endif %}
                </div>
              {% endif %}

              {% if form.user_emails.value %}
                <div id="{{ form.user_emails.auto_id }}_container"
                     class="form__group{% if form.user_emails.errors %} has-error{% endif %}">
                  <label for="id_{{ form.user_emails.name }}">{% trans "List of accounts" %}</label>
                  {% trans "Current file:" %} <code>{{ form.user_emails.value }}</code>
                </div>
              {% endif %}
            </fieldset>
          {% endif %}
        </section>

        {% if form.userlist and form.org_unit %}
          <section class="data-form">
            <fieldset class="form__fieldset">
              <h3 class="required-form">{% trans "add users"|capfirst %}</h3>
              <p class="information">{% trans "select users from"|capfirst %}</p>
              <div class="form__group {% if form.org_unit.errors %}has-error{% endif %}">
                <label class="treeview-label {% if required %}required-form{% endif %}"
                       for="{{ form.org_unit.name }}">{% trans "organizational units"|capfirst %}</label>
                <select class="treeview"
                        id="sel_1"
                        name="{{ form.org_unit.name }}"
                        multiple
                        size="10"
                        url="{% url 'org-units-listing' %}"></select>
                {% if form.org_unit.errors %}{{ form.org_unit.errors }}{% endif %}
              </div>

              <p class="information">{% trans "or upload"|capfirst %}</p>

              {% if form.userlist %}
                <div id="{{ form.userlist.auto_id }}_container"
                     class="form__group form__group--flex{% if form.userlist.errors %} has-error{% endif %}">
                  <label class="control-label block" for="id_{{ form.userlist.name }}">{% trans "List of mail users" %}</label>
                  <input id="upload-file"
                         placeholder="{% trans 'Select a file' %}"
                         disabled="disabled"
                         class="grow" />
                  <div id="fileUpload" class="fileUpload button button--grey button--upload">
                    <span>{% trans "Upload" %}</span>
                    <input type="file"
                           class="upload"
                           name="{{ form.userlist.name }}"
                           id="id_{{ form.userlist.name }}"
                           {% if form.userlist.value %}value="{{ form.userlist.value }}"{% endif %}>
                  </div>
                  {% if form.userlist.value %}
                    <p>
                      <small>{% trans "Existing file:" %} {{ form.userlist.value }}</small>
                    </p>
                  {% endif %}

                  {% if form.userlist.help_text %}<span class="form__help-text">{{ form.userlist.help_text }}</span>{% endif %}

                  {% if form.userlist.errors %}{{ form.userlist.errors }}{% endif %}
                </div>
              {% endif %}

              <!-- Available Employees widget -->
              <!-- <p class="information">Vælg kun medarbejdere, som du ønsker at tilføje til scannerjobbet.</p>

          <div id="{% if view.edit %}messageColorId{% endif %}" class="form__group{% if form.rules.errors %} has-error{% endif %}">
            <div class="select-employees">

              <ul id="available_employees" class="select-employees__available">
                <div class="select-employees-title">{% trans "Available employees" %}</div>

                <input type="text" class="employee-filter" id="employee-filter" placeholder="Søg">

                {% for value, tag in form.org_unit.field.choices %}
                <li class="employee" data-employee-id="{{ value }}">
                  <a href="javascript:void(0);" class="add-employee-button" title="{{ description }}" role="button">{{ tag }}</a>
                </li>
                {% endfor %}
              </ul>

              <i id="chevron_right" class="material-icons">chevron_right</i>

              <div id="selected_employees" class="select-employees__selected">
                <div class="select-employees-title">{% trans "Selected employees" %}</div>
                <div id="employees_list"></div>
              </div>

            </div>
          </div> -->
            </fieldset>
          </section>
        {% endif %}

        {% if not form.userlist and form.org_unit %}
          <section class="data-form">
            <fieldset class="form__fieldset">
              <h3 class="required-form">{% trans "add users"|capfirst %}</h3>
 
              <label for="entire-org">{% trans "all users in this organization"|capfirst %}</label>
 
              <input type="radio"
                     name="show-org-units"
                     value="hide-org-units"
                     onclick="hideOrgUnits();"
                     id="entire-org"
                     checked />
 
              <label for="select-org-units">{% trans "select users from organizational units"|capfirst %}</label>
 
              <input type="radio"
                     name="show-org-units"
                     value="show-org-units"
                     onclick="showOrgUnits();"
                     id="select-org-units" />

              <p class="information" id="org-unit-info">{% trans "select users from"|capfirst %}</p>
              <div class="form__group {% if form.org_unit.errors %}has-error{% endif %}"
                   id="org-units">
                <label class="treeview-label {% if required %}required-form{% endif %}"
                       for="{{ form.org_unit.name }}">{% trans "organizational units"|capfirst %}</label>
                <select class="treeview"
                        id="sel_1"
                        name="{{ form.org_unit.name }}"
                        multiple
                        size="10"
                        url="{% url 'org-units-listing' %}"
                        disabled></select>
                {% if form.org_unit.errors %}{{ form.org_unit.errors }}{% endif %}
              </div>
 
	
            </fieldset>
          </section>

        {% endif %}


        <section class="data-form">
          <fieldset class="form__fieldset">
            <h3>{% trans "Scanner settings" %}</h3>
            <div class="form__group">
              <div id="select_scan_rules_container">

                {% if form.do_ocr %}
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.do_ocr %}
                  </div>
                {% endif %}
                {% if form.do_last_modified_check %}
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.do_last_modified_check %}
                  </div>
 
                {% endif %}
 
                {% if form.only_notify_superadmin %}
	
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.only_notify_superadmin %}
                  </div>
 
                {% endif %}

                {% if form.scan_deleted_items_folder %}
	
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.scan_deleted_items_folder %}
                  </div>
                {% endif %}

                {% if form.scan_syncissues_folder %}
	
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.scan_syncissues_folder %}
                  </div>
                {% endif %}
	
                {% if form.skip_super_hidden %}
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.skip_super_hidden %}
                  </div>
                {% endif %}

                {% if form.unc_is_home_root %}
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.unc_is_home_root %}
                  </div>
                {% endif %}

                {% if form.do_link_check %}
                  <div class="checkbox-group">
                    {% include "os2datascanner/scanner_form_checkbox_field.html" with field=form.do_link_check %}
                  </div>
                {% endif %}

                {% if form.exclude_urls %}
                  <div class="input-group">
                    {% include "os2datascanner/scanner_form_input_field.html" with field=form.exclude_urls placeholder=form.exclude_urls.field.widget.attrs.placeholder %}
                  </div>
                {% endif %}

              </div>
            </div>
          </fieldset>
        </section>

        {% include "components/rule-selector.html" with rules=form.rules is_required=True selector_id="rules" component_title="Add rule" changed_id="changed_rules" %}

        {% if settings.EXCLUSION_RULES %}

          {% include "components/rule-selector.html" with rules=form.exclusion_rules selector_id="exclusion_rules" component_title="Add exclusion rule" changed_id="changed_exclusion_rules" %}

        {% endif %}

        <section class="data-form">
          <fieldset class="form__fieldset">
            <h3>{% trans "Schedule scan" %}</h3>

            <div class="form__group">
              <div id="container">

                {% if form.schedule.help_text %}<span class="form__help-text">{{ form.schedule.help_text }}</span>{% endif %}

                <p>{% trans "Schedule your scan by creating a fixed interval or adding a date to complete the scannerjob." %}</p>

                {{ form.schedule }}

                <div id="{{ form.schedule.auto_id }}_errors">{{ form.schedule.errors }}</div>
              </div>

            </div>
          </fieldset>

          <fieldset class="form__fieldset">
            {% if object.pk %}
              <p>
                {% trans "The scanner will start at the following time for the selected days:" %}
                <br />
                {{ object.get_start_time }}
              </p>
            {% endif %}
          </fieldset>
        </section>

        <div class="form__group last-btn">
          <button type="submit" class="button button--cta" name="save">{% trans "Save changes" %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
