{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<div class="wrapper">
  {% include "partials/main.html" with active_tab="home" %}

  <div class="content">

    {% include "partials/breadcrumb.html" with page="scannerjob" %}

    <div class="aside">
      <h1 class="page-title">
        {% trans "Create new scannerjob" %}
      </h1>
    </div>

    <p>
        {% trans "To use this data source, credentials for SBSYS must be set up in OS2datascanner. These credentials are not currently in the system." %}
    </p>
  </div>
</div>
{% endblock %}
