{% extends 'partials/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block body %}
<div class="wrapper">
  {% include "partials/main.html" with active_tab="home" %}

  <div class="content">

    {% include "partials/breadcrumb.html" with page="scannerjob"  %}

    <div class="aside">
      <h1 class="page-title">Opret nyt scannerjob</h1>
    </div>

    <p>
      Dette scannerjobs datakilde ligger i skyen, og en eksterne tjeneste skal
      tillade OS2datascanner adgang til dens indhold.
    {% if auth_endpoint %}
    {% if error %}
    <p>
      Tjenesten nægtede at give OS2datascanner de nødvendige rettigheder:
    <pre class="alert alert--danger">{{ error_description }}</pre>
    <p>
      Klik på knappen nedenfor for at prøve igen.
    {% else %}
      Klik på knappen nedenfor for at blive videresendt til denne tjeneste.
    {% endif %}
    <p>
      <a href="{{ auth_endpoint }}"
          id="button-authenticate"
          type="button"
          class="button button--cta button--small btn btn-default">Fortsæt til {{ service_name }}</a>
    <p>
      Du bliver videresendt til oprettelsesformularen, efter tjenesten har
      udstedt de nødvendige rettigheder.

    {% else %}
    <p>
      De informationer, der peger OS2datascanner-systemet på denne tjeneste, mangler.
    {% endif %}
  </div>
</div>
{% endblock %}
