{% extends 'partials/base.html' %}
{% load staticfiles %}

{% block scripts %}
  <script src="{% static "3rdparty/jquery.modal.js" %} "></script>
  {% if not settings.DEBUG %}
    <script src="{% static "dist/bundle.min.js" %}"></script>
  {% else %}
    <script src="{% static "dist/bundle.js" %}"></script>
  {% endif %}
{% endblock %}

{% block body %}
<main class="wrapper">
  {% include "partials/main.html" with active_tab="home" %}

  <div class="content">

    <div class="aside">
      <h1 class="page-title">Scannerjob</h1>
      
      <div class="btn">
        <a 
        class="button button--cta" 
        href="/{{ view.type }}scanners/add/"
        title="Tilføj scannerjob">
        <svg class="icon icon--white">
          <use xlink:href="/static/src/svg/symbol-defs.svg#icon-plus"></use>
        </svg>
          <span>Tilføj scannerjob</span>
        </a>
      </div>
    </div>
    
    <table class="datatable">
      <thead>
        <tr>
          <th>Navn/URL</th>
          {% if user.is_superuser %}
          <th class="datatable__column--org">Organisation</th>
          {% endif %}
          {% if view.type == 'file' %}
          <th>Drev</th>
          {% endif %}
          <th class="datatable__column--validated">Godkendt</th>
          <th class="datatable__column--automatic">Automatisk</th>
          <th class="datatable__column--actions">Handling</th>
        </tr>
      </thead>
      
      <tbody>
        {% for scanner in scanner_list %}
        <tr tabindex="0">
          
          <td class="domain-url">
            <div>{{scanner.name}}</div>
            <div style="margin-top: 0.5rem;"><small>{{scanner.url}}</small></div>
          </td>
          {% if user.is_superuser %}
          <td class="scanner-organization datatable__column--org">{{scanner.organization}}</td>
          {% endif %}
          
          {% if view.type == 'file' %}
          <td class="domain-letter">
            {% if scanner.alias %}
            {{ scanner.alias }}:
            {% endif %}
          </td>
          {% endif %}
          
          <td class="domain-validation datatable__column--validated">
            {% if scanner.validation_status %}
            <span class="flex flex--icon">
              <span class="flex--width flex--width--icon">
                <i id="done" title="Er godkendt" class="material-icons">done</i>
              </span>
              <span>Ja</span>
            </span>
            {% else %}
            <span class="flex flex--icon">
              <span class="flex--width flex--width--icon">
                <i id="clear" title="Er ikke godkendt" class="material-icons">clear</i>
              </span>
              <span>Nej</span>
            </span>
            {% endif %}
          </td>
          
          <td class="scanner-runtime datatable__column--automatic">
            {{ scanner.schedule_description|truncatechars:20 }}
          </td>
          
          <td class="scanner-actions datatable__column--actions">
            <a 
            href="#run-scanner-modal" 
            data-modal="modal:open" 
            data-src="/{{ view.type }}scanners/{{scanner.pk}}/askrun/"
            class="button button--small button--grey"
            title="Kør">
              <svg class="icon">
                <use xlink:href="/static/src/svg/symbol-defs.svg#icon-play"></use>
              </svg>
            </a>
          
            <a 
            href="/{{ view.type }}scanners/{{scanner.pk}}"
            class="button button--small button--grey"
            title="Redigér">
              <svg class="icon">
                <use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"></use>
              </svg>
            </a>
        
            {% if not scanner.scans %}
            <form action="/{{ view.type }}scanners/{{scanner.pk}}/delete/" method="post" style="display: inline-block;">
              {% csrf_token %}
              {{ form.as_p }}
              <button 
              type="submit"
              class="button button--small button--grey"
              onclick="return confirm('Ønsker du virkelig at slette denne scanner?\n{{scanner.name}}\n\nHandlingen kan ikke fortrydes.')"
              title="Slet">
              <svg class="icon">
                <use xlink:href="/static/src/svg/symbol-defs.svg#icon-cross"></use>
              </svg>
            </button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}

{% block modal %}
<div class="modal" id="create-scanner-modal" tabindex="-1" role="dialog" aria-labelledby="create-scanner-modal-title" aria-hidden="true">
  <h4 class="modal__heading" id="create-scanner-modal-title">Opret nyt scannerjob</h4>
  <iframe src="about:blank" frameborder="0"></iframe>
</div>

<div class="modal" id="run-scanner-modal" tabindex="-1" role="dialog" aria-labelledby="run-scanner-modal-title" aria-hidden="true" data-href="/{{ view.type }}scanners/add/">
  <h4 class="modal__heading" id="run-scanner-modal-title">Kør scanner</h4>
  <iframe src="about:blank" frameborder="0"></iframe>
</div>

<div class="modal" id="edit-scanner-modal" tabindex="-1" role="dialog" aria-labelledby="edit-scanner-modal-title" aria-hidden="true" data-href="/{{ view.type }}scanners/add/">
  <h4 class="modal__heading" id="edit-scanner-modal-title">Rediger scannerjob</h4>
  <iframe src="about:blank" frameborder="0"></iframe>
</div>
{% endblock %}
