{% load l10n %}
{% load i18n %}
{% load tz %}

<div class="scan-status-table" name="status_table_poll"
        hx-get="{% url 'status' %}" 
        hx-target=".scan-status-table" 
        hx-swap="outerHTML" 
        hx-trigger="{{ delay }}">
{% if object_list %}
            <div class="datatable-wrapper card lg" role="region" tabindex="0" aria-label="{% trans 'Scans in progress' %}">
                <table class="datatable middle">
                    <colgroup>
                        <col class="datatable__column--name">
                        <col class="datatable__column--org">
                        <col class="datatable__column--info">
                        <col class="datatable__column--actions">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="datatable__column--name">
                                {% trans "Scannerjob" %}
                            </th>
                            <th class="datatable__column--org">
                                {% trans "Phase" %}
                            </th>
                            <th class="datatable__column--info">
                                {% trans "Status" %}
                            </th>
                            <th class="datatable__column--actions">
                                {% trans "Actions" %}
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for status in object_list %}
                            <tr>
                                <td class="datatable__column--name">
                                    {{ status.scanner.name }}
                                </td>
                                <td class="scan-stage stage-{{ status.stage.value }} datatable__column--org">
                                    {% if status.stage.value == 0 %}
                                        {% trans "Indexing data ..." %}
                                    {% elif status.stage.value == 1 %}
                                        {% trans "Scanning data (still indexing) ..." %}
                                    {% elif status.stage.value == 2 %}
                                        {% trans "Scanning data ..." %}
				                    {% elif status.stage.value == 3 %}
					                    {% trans "No objects to scan" %}
                                    {% endif %}
                                </td>
                                <td class="datatable__column--info">
                                    {% if status.stage.value == 0 %}
                                        {% trans "Building index" %}
                                    {% elif status.stage.value == 1 %}
                                        {% blocktranslate with obj=status.scanned_objects %}{{ obj }} objects scanned{% endblocktranslate %}
                                    {% elif status.stage.value == 2 %}
                                        {% blocktranslate with obj=status.scanned_objects total=status.total_objects %}{{ obj }} out of {{ total }} objects scanned {% endblocktranslate %}
                                        {% with frac=status.fraction_scanned %}
                                        <div class="progressbar-container">
                                            <div class="progressbar" id="pb__{{ status.pk }}"
                                                 style="width:{% widthratio frac 1 100 %}%"></div>
                                        </div>
                                        {% endwith %}
				                    {% elif status.stage.value == 3 %}
					                    {% trans "The sources do not contain any scannable objects" %}
                                    {% endif %}

                                    {# don't show number of bytes scanned as it's not very useful #}
                                    {# don't show estimated time as it's very imprecise #}
                                    {# don't show a progress bar to represent status, as "100%" can vary #}
                                </td>
                                <td class="datatable__column--actions">
                                    <div class="action-wrapper">
                                        <form action="/status/{{status.pk|unlocalize}}/delete/" method="post" class="status-delete">
                                            {% csrf_token %}
                                            {% trans "Do you really want to delete the status object for scanner '%(scanner_name)s'?" as r_u_sure %}
                                            <button
                                                type="submit"
                                                class="button button--small button--grey"
                                                onclick="return confirm(interpolate('{{ r_u_sure|escapejs }}', {'scanner_name': '{{ status.scanner.name|escapejs }}'}, true))"
                                                title="{% trans 'Delete' %}">
                                                <svg class="icon">
                                                    <use xlink:href="/static/svg/symbol-defs.svg#icon-cross"></use>
                                                </svg>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% if status.message and status.status_is_error %}
                              <tr class="error">
                                <td colspan="4">
                                  {{ status.message }}
                                </td>
                              </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
{% else %}
    <p>{% trans "no ongoing scans"|capfirst %}</p>
{% endif %}
{% comment %} <div class="progressbar-container">
    <div id="scanstatus-progressbar" class="progressbar" 
         style="width:50%"></div>
</div> {% endcomment %}
</div>

