{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block topnav %}{% endblock %}
{% block rendertype %}iframe-modal{% endblock %}

{% block scripts %}
  <script src="{% static "3rdparty/jquery.modal.js" %} "></script>
  <script src="{% static '3rdparty/htmx.min.js' %}"></script>
  <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block body %}
  <div class="cleanup-container centered"
       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="cleanup-content">
      {% if running %}
        <h1>{% trans "Scannerjob is running!" %}</h1>
        <span class="icon">{% include "components/svg-icons/scan_error.svg" %}</span>
        <div>
          {% trans "OS2datascanner was not able to delete the results from the stale accounts, since the scannerjob is currently running. Try again later." %}
        {% else %}
          <h1>{% trans "Stale accounts cleaned!" %}</h1>
          <span class="icon">{% include "components/svg-icons/scan_succes.svg" %}</span>
          <div>
            {% trans "Success! All results belonging to the stale accounts from this scannerjobs have been deleted!" %}
          {% endif %}
        </div>
      </div>
    {% endblock %}
