{% extends 'os2datascanner/base.html' %}
{% block rendertype %}iframe-modal{% endblock %}
{% block topnav %}{% endblock %}
{% block body %}

{% if scan_tag %}
<p class="lead">
  Scan-detaljer er blevet sendt til scannermotoren, og scan bliver udført
  snarest muligt.
</p>
<hr>
<p>
  Tekniske detaljer:
</p>
<pre>
{{ scan_tag }}
</pre>
{% elif engine2_error %}
<div class="alert alert--danger">
  <p>Kunne ikke åbne datakilden: {{ engine2_error }}</p>
</div>
{% elif pika_error %}
<div class="alert alert--danger">
  <p>Kunne ikke kommunikere med scannermotoren: {{ pika_error }}</p>
</div>
{% endif %}
{% endblock %}
