{% extends 'partials/base.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% load tz %}
{% load utility_tags %}

{% block scripts %}
  <script src="{% url 'jsi18n' %}"></script>
  <script src="{% static '3rdparty/htmx.min.js' %}"></script>
  <script src="{% static 'js/tableBehavior.js' %}"></script>
  <script src="{% static '3rdparty/chart-4.0.1.min.js' %}"></script>
  <script src="{% static '3rdparty/chartjs-plugin-datalabels.min.js' %}"></script>
  <script src="{% static 'js/statusTimelines.js' %}"></script>
{% endblock %}

{% block body %}
  {% if not request.headers.hx_request %}
    {% include "partials/header.html" %}
    <main class="wrapper"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-push-url="true">
      {% include "partials/main.html" with active_tab="status" %}
    {% endif %}
    <div class="content">

      {% include "os2datascanner/scanner_tabs.html" with page="scan-status" %}

      <div class="content-header">
        <h1 class="page-title">{% trans "Completed scans" %}</h1>
      </div>

      {% if object_list  %}
        <div class="datatable-wrapper card"
             role="region"
             tabindex="0"
             aria-label="{% trans 'Completed scans' %}">
          <form id="table_checkboxes">
            <table class="datatable">
              <colgroup>
                <col class="datatable__column--checkbox">
                <col class="datatable__column--name">
                <col class="datatable__column--starttime">
                <col class="datatable__column--objects">
                <col class="datatable__column--validated">
                <col class="datatable__column--status">
                {% if user.is_superuser %}<col class="datatable__column--delete">{% endif %}
              </colgroup>
              <thead>
                {% if user.is_superuser %}
                  <tr class="table-topbar topbar-stick sticky">
                    <th colspan="7">
                      {% include "components/resolve-status.html" %}
                      <div class="view-options button-group">
                        <button type="button"
                                class="button button--has-icon"
                                name="status-resolved-all"
                                hx-post=""
                                hx-swap="outerHTML"
                                hx-trigger="click"
                                hx-target=".content"
                                hx-select=".content"
                                hx-confirm="{% trans 'You are about to delete' %} {{ page_obj.paginator.count }}{% trans ' scan status data. This action cannot be reverted. Are you sure?' %}">
                          <svg class="icon">
                            <use xlink:href="/static/svg/symbol-defs.svg#icon-cross"></use>
                          </svg>
                          <span>{% trans "Delete all" %}</span>
                        </button>
                      </div>
                    </th>
                  </tr>
                {% endif %}
                <tr class="column-headings sticky">
                  <th class="datatable__column--checkbox">
                    <div class="ds-checkbox">
                      <input id="select-all" type="checkbox">
                      <label for="select-all" title="{% trans "Select all" %}">
                        <span class="screen-reader-only">{% trans 'Select all results' %}</span>
                      </label>
                    </div>
                  </th>
                  <th class="datatable__column--name">{% trans "Scannerjob" %}</th>
                  <th class="datatable__column--starttime">{% trans "Started" %}</th>
                  <th class="datatable__column--objects">{% trans "Objects" %}</th>
                  <th class="datatable__column--validated">{% trans "Results" %}</th>
                  <th class="datatable__column--status">{% trans "Status" %}</th>
                  {% if user.is_superuser %}
                    <th class="datatable__column--delete">{% trans "Actions" %}</th>
                  {% endif %}
                </tr>
              </thead>
 
              <tbody>
                {% for status in object_list %}
                  {% if status.finished == True %}
                    <tr data-type="scan-status">
                      <td class="datatable__column--checkbox">
                        <div class="ds-checkbox">
                          <input type="checkbox"
                                 id="table-checkbox-{{ status.pk|unlocalize }}"
                                 value="{{ status.pk|unlocalize }}"
                                 name="table-checkbox"
                                 class="datatable-checkbox"
                                 data-report-pk="{{ status.pk|unlocalize }}">
                          <label for="table-checkbox-{{ status.pk|unlocalize }}">
                            <span class="screen-reader-only">{% trans "Select result" %}</span>
                          </label>
                        </div>
                      </td>
                      <td class="datatable__column--name">{{ status.scanner.name }}</td>
                      <td class="datatable__column--starttime">
                        {% timezone "Europe/Copenhagen" %}
                        {{ status.start_time }}
                      {% endtimezone %}
                    </td>
                    <td class="datatable__column--objects">{{ status.total_objects }} {% trans "objects explored" %}</td>
                    <td class="datatable__column--validated">
                      {% if status.matches_found is None %}
                        {% trans "Not available" %}
                      {% else %}
                        {{ status.matches_found }}
                        {% if status.matches_found == 1 %}
                          {% trans "result" %}
                        {% else %}
                          {% trans "results" %}
                        {% endif %}
                      {% endif %}
                    </td>
                    <td class="datatable__column--status">
                      <span class="completed_icon">
                        {% include "components/svg-icons/check_circle_full.svg" %}
                        <span class="width">
                          {% with total_scan_times|get_item:status.pk as scan_time_item %}
                            {% if scan_time_item %}
                              {% trans "Finished in" %} {{ scan_time_item|unlocalize|format_timespan }}
                            {% else %}
                              {% trans "Finished" %}
                            {% endif %}
                          {% endwith %}
                        </span>
                      </span>
                    </td>
                    {% if user.is_superuser %}
                      <td class="datatable__column--delete">
                        <div class="action-wrapper">
                          <button type="button"
                                  class="button"
                                  name="status-resolved"
                                  hx-post=""
                                  hx-swap="outerHTML"
                                  hx-trigger="click"
                                  hx-target=".content"
                                  hx-vals='{"pk": "{{ status.pk|unlocalize }}"}'
                                  hx-indicator="closest tr"
                                  hx-select=".content">
                            <svg class="icon">
                              <use xlink:href="/static/svg/symbol-defs.svg#icon-cross"></use>
                            </svg>
                          </button>
                          <button class="timelines-expand button button-caret button--has-icon"
                                  title="{% trans 'Show/hide timeline' %}"
                                  type="button">
                            <i class="material-icons" aria-hidden="true">expand_more</i>
                          </button>
                        </div>
                      </td>
                    {% endif %}
                  </tr>
                  <tr class="statistic_row" hidden>
                    <td colspan="7"
                        hx-get="{% url 'status-timeline' status.pk %}"
                        hx-trigger="intersect"
                        hx-swap="outerHTML"
                        hx-target="this"
                        hx-push-url="false">
                      <div class="loading">
                        <svg class="relative page-indicator"
                             id="report-page-indicator"
                             viewbox="0 0 100 100">
                          <circle id="circle" cx="50" cy="50" r="45"></circle>
                        </svg>
                      </div>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
            {% include "components/pagination.html" %}
          </table>
        </form>
      </div>

    {% else %}
      <p>{% trans "no scans done"|capfirst %}</p>
    {% endif %}
  </div>
  {% if not request.headers.hx_request %}</main>{% endif %}

{% endblock %}
