{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block scripts %}
  <script src="{% static "3rdparty/jquery.modal.js" %} "></script>
  {% if not settings.DEBUG %}
    <script src="{% static "dist/bundle.min.js" %}"></script>
  {% else %}
    <script src="{% static "dist/bundle.js" %}"></script>
  {% endif %}
{% endblock %}

{% block body %}
<main class="wrapper">
  {% include "partials/main.html" with active_tab="home" %}

  <div class="content">

    {% include "os2datascanner/scanner_tabs.html" with page="scannerjob"  %}

    <div class="aside">
      <h1 class="page-title">
        {% trans "Scannerjob" %}
      </h1>
      
      <div class="btn">
        <a 
        class="button button--cta" 
        href="/{{ view.type }}scanners/add/"
        title="{% trans 'Add scannerjob' %}">
        <svg class="icon icon--white">
          <use xlink:href="/static/src/svg/symbol-defs.svg#icon-plus"></use>
        </svg>
          <span>
            {% trans "Add scannerjob" %}
          </span>
        </a>
      </div>
    </div>
    
    {% if scanner_list %}
    <table class="datatable">
      <thead>
        <tr>
          <th>
            {% trans "Name/URL" %}
          </th>
          {% if user.is_superuser %}
          <th class="datatable__column--org">
            {% trans "Organization" %}
          </th>
          {% endif %}
          {% if view.type == 'file' %}
          <th>
            {% trans "Drive" %}
          </th>
          {% endif %}
          <th class="datatable__column--validated">
            {% trans "Approved" %}
          </th>
          <th class="datatable__column--automatic">
            {% trans "Automatic" %}
          </th>
          <th class="datatable__column--actions">
            {% trans "Action" %}
          </th>
        </tr>
      </thead>
      
      <tbody>
        {% for scanner in scanner_list %}
        <tr tabindex="0">
          
          <td class="domain-url">
            <div>{{scanner.name}}</div>
            <div style="margin-top: 0.5rem;"><small>{{scanner.url}}</small></div>
          </td>
          {% if user.is_superuser %}
          <td class="scanner-organization datatable__column--org">{{scanner.organization}}</td>
          {% endif %}
          
          {% if view.type == 'file' %}
          <td class="domain-letter">
            {% if scanner.alias %}
            {{ scanner.alias }}:
            {% endif %}
          </td>
          {% endif %}
          
          <td class="domain-validation datatable__column--validated">
            {% if scanner.validation_status %}
            <span class="flex flex--icon">
              <span class="flex--width flex--width--icon">
                <i id="done" title="{% trans 'Is approved' %}" class="material-icons">done</i>
              </span>
              <span>
                {% trans "Yes" %}
              </span>
            </span>
            {% else %}
            <span class="flex flex--icon">
              <span class="flex--width flex--width--icon">
                <i id="clear" title="{% trans 'Is not approved' %}" class="material-icons">clear</i>
              </span>
              <span>
                {% trans "No" %}
              </span>
            </span>
            {% endif %}
          </td>
          
          <td class="scanner-runtime datatable__column--automatic">
            {{ scanner.schedule_description|truncatechars:20 }}
          </td>
          
          <td class="scanner-actions datatable__column--actions">
            <a 
            href="#run-scanner-modal" 
            data-modal="modal:open" 
            data-src="/{{ view.type }}scanners/{{scanner.pk}}/askrun/"
            class="button button--small button--grey"
            title="{% trans 'Run' %}">
              <svg class="icon">
                <use xlink:href="/static/src/svg/symbol-defs.svg#icon-play"></use>
              </svg>
            </a>
          
            <a 
            href="/{{ view.type }}scanners/{{scanner.pk}}"
            class="button button--small button--grey"
            title="{% trans 'Edit' %}">
              <svg class="icon">
                <use xlink:href="/static/src/svg/symbol-defs.svg#icon-pencil"></use>
              </svg>
            </a>
        
            {% if not scanner.scans %}
            <form action="/{{ view.type }}scanners/{{scanner.pk}}/delete/" method="post" style="display: inline-block;">
              {% csrf_token %}
              {{ form.as_p }}
              <button 
              type="submit"
              class="button button--small button--grey"
              onclick="return confirm('Ønsker du virkelig at slette denne scanner?\n{{scanner.name}}\n\nHandlingen kan ikke fortrydes.')"
              title="{% trans 'Delete' %}">
              <svg class="icon">
                <use xlink:href="/static/src/svg/symbol-defs.svg#icon-cross"></use>
              </svg>
            </button>
            </form>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}
    <p>
      {% trans "No scannerjob added" %}
    </p>
    {% endif %}
  </div>
</main>
{% endblock %}

{% block modal %}
<div class="modal" id="run-scanner-modal" tabindex="-1" role="dialog" aria-labelledby="run-scanner-modal-title" aria-hidden="true" data-href="/{{ view.type }}scanners/add/">
  <iframe src="about:blank" frameborder="0"></iframe>
</div>
{% endblock %}
