{% extends 'components/common/base.html' %}
{% load static %}
{% load i18n %}

{% block jquery_script %}
  <script type="text/javascript">
  (function ($) {

    // adding a new expression
    $("#button-add-expression").click(function () {
      var inputContainer = $("#{{ form.pattern_0.auto_id }}_container").find(".form-group").last(); // Take the last item instead of just number _1, as we may have added more items
      var inputNameParts = inputContainer.find("input[type=\"text\"]").first().attr("name").split(/(.+_)/); // define .+_ as capturing group so we can get at the delimiter inside nameParts[1]
      var baseName = inputNameParts[1];
      var numInput = parseInt(inputNameParts[2]) + 1;
      var newInputName = baseName + (numInput);
      var containerClone = inputContainer.clone();
      var inputClone = containerClone.find("input[type=\"text\"]").first().prop("required", false);
      var labelClone = containerClone.find("label").first();

      labelClone.attr("for", "id_" + newInputName);
      labelClone.text("Regulært Udtryk" + " " + (numInput + 1)); // plus one because the numInput is 0-indexed, and label should be 1-indexed
      inputClone.attr("name", newInputName).attr("id", "id_" + newInputName).val("").attr("value", "");
      if (!containerClone.find(".button-remove-expression").length) { // if we haven't already cloned a button for removal...
        inputClone.after($("<span />", { // ... add the button to remove expression
          class: "input-group-btn",
          html: $("<button />", {
            class: "button-remove-expression button button--danger",
            type: "button",
            text: "Fjern udtryk"
          })
        }));
        inputClone.next(".input-group-btn").addBack().wrapAll("<div class=\"input-group\"></div>"); // wrap it in the input-group wrapper for proper Bootstrap styling
      }
      inputContainer.after(containerClone);
    });

    // removing an expression. We need to bind dynamically as fields do not necessarily exist on page load
    $("body").on("click", ".button-remove-expression", function () {
      var btn = $(this);
      var inputValue = btn.closest(".input-group-btn").prev("input").val();
      if (inputValue) {
        var confirmation = confirm("Feltet indeholder en værdi. Tryk OK hvis du stadig vil slette feltet.");
        if (confirmation) {
          btn.closest(".form-group").remove();
        }
      } else {
        btn.closest(".form-group").remove();
      }
      cleanupPatternNumbers();
    });

    $("form").submit(function () {
      // delete any empty expression fields, BUT not the first one
      $("#{{ form.pattern_0.auto_id }}_container").find("input[type=\"text\"]").filter(function (idx) {
        return !this.value && idx > 0;
      }).closest(".form-group").remove();

      // clean up the pattern numbers on form submit, just to be safe (even though we already did it when adding a new expression field).
      cleanupPatternNumbers();
    });

    // function to clean up pattern numbers, as we need to have them numbered sequentially without gaps
    function cleanupPatternNumbers() {
      $("#{{ form.pattern_0.auto_id }}_container").find(".form-group").each(function (idx) {
        var $this = $(this);
        var input = $this.find("input[type=\"text\"]");
        var label = $this.find("label");
        var oldInputName = input.attr("name").split(/(.+_)/);
        input.attr("name", oldInputName[1] + idx).attr("id", "id_" + oldInputName[1] + idx);
        label.attr("for", "id_" + oldInputName[1] + idx).text("Regulært {{ form.pattern_0.label }} " + (idx + 1)); // we want 1-indexed label texts
      });
    }
  })(jQuery);

  </script>
  <script src="{% static 'js/filters/options.js' %}"></script>
{% endblock %}

{% block body %}
  {% include "components/common/header.html" %}
  <div class="wrapper">
    {% include "components/common/main.html" with active_tab="rules" %}

    <div class="content">

      {% include "components/common/breadcrumb.html" with page="rule_views" %}

      <div class="aside">
        {% if view.edit %}
          <h1 class="page-title">{% trans "Edit rule" %}</h1>
        {% endif %}

        {% if not view.edit %}
          <h1 class="page-title">{% trans "Create new rule" %}</h1>
        {% endif %}
      </div>

      {% if form.non_field_errors %}
        <div class="alert" role="alert">
          <ul>
            {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
          </ul>
        </div>
      {% endif %}

      <form class="form" role="form" method="post">
        {% csrf_token %}

        <section class="data-form">
          <fieldset class="form__fieldset">
            <h3>{% trans "General" %}</h3>
            <p class="description">{% trans "Name the rule and choose which organization the rule should belong to" %}</p>

            <div class="form__group{% if form.name.errors %} has-error{% endif %}">
              <label class="required-form" for="id_{{ form.name.name }}">{{ form.name.label }}</label>
              <input autofocus="autofocus"
                     type="text"
                     class="form-control"
                     name="{{ form.name.name }}"
                     id="id_{{ form.name.name }}"
                     placeholder="{% trans 'Name of rule' %}"
                     {% if form.name.value %}value="{{ form.name.value }}"{% endif %}>
              {% if form.name.help_text %}<span class="form__help-text">{{ form.name.help_text }}</span>{% endif %}
              {% if form.name.errors %}{{ form.name.errors }}{% endif %}
            </div>

            {% if form.organization %}
              {% include "components/scanner/scanner_form_select_option_field.html" with field=form.organization required="True" %}
            {% endif %}
          </fieldset>
        </section>

        <section class="data-form">
          <fieldset class="form__fieldset">
            <h3>{% trans "Rule" %}</h3>
            <p class="description">
              {% trans "A rule consists one or more regular expressions and defines which text strings are searched in a scannerjob" %}
            </p>

            <div id="{{ form.pattern_0.auto_id }}_container"
                 class="form__group {% if form.pattern_0.errors %}has-error{% endif %}">

              {% for pattern_name, pattern_value in view.get_pattern_fields %}
                <div class="form__group form-group">
                  <label class="required-form" for="id_{{ pattern_name }}">{% trans "Regular Expression" %} {{ forloop.counter }}</label>
                  {% if forloop.counter > 1 %}<div class="input-group">{% endif %}
                    <input type="text"
                           class="form-control"
                           name="{{ pattern_name }}"
                           id="id_{{ pattern_name }}"
                           placeholder="{% trans 'e.g. organization' %}"
                           {% if pattern_value %}value="{{ pattern_value }}"{% endif %}>
                    required state of pattern_0 is variable

                    {% if forloop.counter > 1 %}
                      <span class="input-group-btn">
                        <button class="button-remove-expression button button--danger" type="button">{% trans "Remove expression" %}</button>
                      </span>
                    {% endif %}

                    {% if form.pattern_0.help_text %}<span class="form__help-text">{{ form.pattern_0.help_text }}</span>{% endif %}

                    {% if form.pattern_0.errors %}{{ form.pattern_0.errors }}{% endif %}
                    {% if forloop.counter > 1 %}</div>{% endif %}
                </div>
              {% endfor %}

              <div class="row form__group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button id="button-add-expression"
                          type="button"
                          class="flex button button--grey button--grey--icon button--small">
                    <span class="items">
                      <span>
                        <i id="add"
                           title="{% trans 'Add another regular expression' %}"
                           class="material-icons">add</i>
                      </span>
                      <span class="text">{% trans "Add another regular expression" %}</span>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </fieldset>
        </section>

        <section class="data-form">
          <fieldset class="form__fieldset">
            <h3 class="required-form" for="id_{{ form.sensitivity.name }}">{{ form.sensitivity.label }}</h3>
            <p class="description">{% trans "Assess the sensitivity of the rule" %}</p>
            <div id="{{ form.sensitivity.auto_id }}_container"
                 class="form__group col-sm-12{% if form.sensitivity.errors %} has-error{% endif %}">

              {% if form.sensitivity.help_text %}<span class="form__help-text">{{ form.sensitivity.help_text }}</span>{% endif %}

              <div class="radio-content">
                {% for value, tag in form.sensitivity.field.choices %}
                  <label class="radio radio-before">
                    <span class="radio__input">
                      {% if value|add:'0' == form.sensitivity.value|add:'0' %}
                        <input type="radio"
                               name="{{ form.sensitivity.name }}"
                               id="id_{{ form.sensitivity.name }}"
                               value="{{ value }}"
                               checked="checked">
                      {% else %}
                        <input type="radio"
                               name="{{ form.sensitivity.name }}"
                               id="id_{{ form.sensitivity.name }}"
                               value="{{ value }}">
                      {% endif %}
                      {% if value == 0 %}
                        <span class="radio__control radio__control--notify"></span>
                      {% elif value == 1 %}
                        <span class="radio__control radio__control--warning"></span>
                      {% elif value == 2 %}
                        <span class="radio__control radio__control--problem"></span>
                      {% elif value == 3 %}
                        <span class="radio__control radio__control--critical"></span>
                      {% endif %}
                    </span>

                    <span class="radio__label">{{ tag }}</span>
                  </label>
                {% endfor %}
              </div>

              {% if form.sensitivity.errors %}{{ form.sensitivity.errors }}{% endif %}
            </div>
          </fieldset>
        </section>

        <section class="data-form">
          <fieldset class="form__fieldset">
            <h3 class="required-form" for="id_{{ form.description.name }}">{{ form.description.label }}</h3>
            <div id="{{ form.description.auto_id }}_container"
                 class="form__group col-sm-12{% if form.description.errors %} has-error{% endif %}">
              <textarea name="{{ form.description.name }}"
                        id="id_{{ form.description.name }}"
                        placeholder="{% trans 'Description of rule' %}"
                        rows="3">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
              {% if form.description.help_text %}
                <p>
                  <small>{{ form.description.help_text }}</small>
                </p>
              {% endif %}
              {% if form.description.errors %}{{ form.description.errors }}{% endif %}
            </div>
          </fieldset>
        </section>

        <div class="form__group last-btn">
          <button type="submit" class="button button--cta" name="save">{% trans "Save changes" %}</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
