{% load i18n %}
{% load static %}


{% comment %}
This component contains a rule selector widget which allows
the use to choose one of the available rules.

The component depends on the following variables which must be
set using a `with`-statement when including it in other templates:

- `rules`: the queryset containing the available rules.
- `is_required`: toggles on required for the <select> form.
- `selector_id`: the id tag of the rule <select> form for identification.
- `component_title`: Title of the data form section.
- `changed_id`: the id tag of the message when changing rules.

{% endcomment %}

<section class="data-form">
  <fieldset class="form__fieldset">
    <h3 {% if is_required %}class="required-form"{% endif %}>{% trans component_title %}</h3>
    <div id="{% if view.edit %}{{ changed_id }}_message_color{% endif %}"
         class="form__group{% if rules.errors %} has-error{% endif %}">
      <div class="select-rules">
        <div class="select-rules__available">
          <div class="dropdown">
            <select name="{{ selector_id }}"
                    id="{{ selector_id }}_id"
                    class="select-rules-selector"
                    {% if is_required %}required{% endif %}>
              <option value="" data-rule-id="">{% trans "-- Please select a rule below --" %}</option>
              {% for rule_value, rule_tag in rules.field.choices %}
                <option value="{{ rule_value }}"
                        data-rule-id="{{ rule_value }}"
                        {% if rule_value in rules.value %}selected{% endif %}>{{ rule_tag }}</option>
              {% endfor %}
            </select>
            <input type="hidden" id="{{ selector_id }}_input" name="{{ selector_id }}">
          </div>
        </div>

        {% if view.edit %}
          <div id="{{ changed_id }}" class="changed_rules">
            {% trans "Note, that changes in the rules means that all files will be scanned anew." %}
          </div>
        {% endif %}

        {% if rules.errors %}{{ rules.errors }}{% endif %}
      </div>
    </div>
  </fieldset>
</section>

<script type="text/javascript"
        src="{% static 'js/scannerjob/rule-selector.js' %}"></script>
<script defer type="text/javascript">
  {% if view.edit %}
  const {{ selector_id }}_is_edit = true;
  {% else %}
  const {{ selector_id }}_is_edit = false;
  {% endif %}
  
  registerRuleSelectorHandler("{{ selector_id }}", "{{ changed_id }}", {{ selector_id }}_is_edit);
</script>
