{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}
{% block scripts %}
  <script src="{% static "3rdparty/chart-4.0.1.min.js" %}"></script>
  <script src="{% static "3rdparty/chartjs-plugin-datalabels.min.js" %}"></script>
  <script type="text/javascript" src="/jsi18n/"></script>
  <script src="{% static "3rdparty/jquery.modal.js" %} "></script>
  <script src="{% static "3rdparty/htmx.min.js" %}"></script>
  <script src="{% static "js/analysisChartWrapper.js" %}"></script>
  <script src="{% static "js/analysisBar-ChartJS3.js" %}"></script>
  <script src="{% static "js/analysisPie-ChartJS3.js" %}"></script>
  <script src="{% static "js/index.js" %}"></script>
{% endblock %}

{% block body %}
  {% include "partials/header.html" %}

  <main class="wrapper">
    {% include "partials/main.html" with active_tab="analysis" %}
    {% include "components/analysis-template.html" %}
  </div>
{% endblock %}
