
<div class="content" hx-push-url="true">
  {% load i18n %}
  {% load l10n %}
  {% load static %}
  {% include "os2datascanner/scanner_tabs.html" with page="analysis"  %}

  <div class="aside">
    <h1 class="page-title">{% trans "Analysis" %}</h1>
  </div>

  {% if scanners %}
    <form name="analysis_page"
          hx-get="{% url "analysis" %}"
          hx-target=".content"
          hx-select=".content"
          hx-swap="outerHTML"
          hx-trigger="change">
      <div class="dropdown stats_dropdown">
        <select name="scannerjob" id="scannerjobs" data-compareto="none">
          <option value="none"
                  {% if scanners|last == "none" %}selected="selected"{% endif %}>-</option>
          {% for scanner in scanners|first %}
            <option value="{{ scanner.pk }}"
                    {% if scanners|last == scanner.pk|stringformat:"i" %} selected="selected" {% endif %}>
              {{ scanner.name|capfirst }}
            </option>
          {% endfor %}
        </select>
      </div>
    </form>
 
    {% if selected_scanner %}
      <div class="flex">
        <div class="response">
          <span class="response-icon response-icon--success"
                data-sync-for="{{ selected_scanner.first.pk }}"><i class="material-icons">check</i></span>
          <span class="response-text" data-sync-for="{{ selected_scanner.first.pk }}">
            {% trans 'Last updated' %} 14-11-2022, 13:22
          </span>
        </div>
      </div>
      <a
        href="#run-analysis-modal" {# This needs creation, backend not ready #}
        data-modal="modal:open"
        data-src="/webscanners/{{ selected_scanner.first.pk }}/askrun/"
        class="button button--small button--grey button--run_analysis"
        title="{% trans 'Run analysis scan' %}">
        <svg class="icon">
          <use xlink:href="/static/svg/symbol-defs.svg#icon-play"></use>
        </svg>
        {% trans 'Run analysis scan' %}
      </a>

      <div class="charts-container-box">
        <h2 class="page-title__sub">{% trans "Storage" %}</h2>
        <p class="chart_description">{% trans "Overview of storage for different filetypes" %}</p>
 
        <div class="pie-charts-container">
          {% for i in pie_list %}
            <div class="chart-container">
              <div class="pie-chart-content">
                <div class="chart-legend" id="pie{{ forloop.counter }}_legend"></div>
                <div class="chart-canvas">
                  <canvas id="pie{{ forloop.counter }}"> </canvas>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
 
      </div>
      <div class="charts-container-box">
        <h2 class="page-title__sub">{% trans "File size distribution" %}</h2>
        <p class="chart_description">{% trans "Overview of number of files " %}</p>
 
        <div class="bar-charts-container">
          {% for i in bar_list %}
            <div class="chart-container">
              <div class="bar-chart-content">
                <div class="chart-canvas">
                  <canvas id="bar{{ forloop.counter }}"> </canvas>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
 
    {% else %}
      <p class="hint-text">{% trans "Choose a scannerjob to start a new scan or view analysis" %}</p>
    {% endif %}
  {% endif %}
</div>


{% block modal %}
  <div class="modal"
       id="run-analysis-modal"
       tabindex="-1"
       role="dialog"
       aria-labelledby="run-analysis-modal-title"
       aria-hidden="true"
       data-href="/webscanners/add/">
    <iframe src="about:blank" frameborder="0"></iframe>
  </div>
{% endblock %}
