{% load staticfiles %}
{% load i18n %}

<nav class="navigation">
  <ul>
  {% if user.is_authenticated %}
    {% if not user.profile.is_upload_only %}
      <li>
        <a href="/status" class="{% if active_tab == 'status' %}active{% endif %}">
          {% include "components/svg-icons/scan_status.svg" %}
          <span class="width">
            {% trans "Scanner status" %}
          </span>
        </a>
      </li>
      <li>
        <a href="/" class="{% if active_tab == 'home' %}active{% endif %}">
          {% include "components/svg-icons/work.svg" %}
          <span class="width">
            {% trans "Scannerjob" %}
          </span>
        </a>
      </li>
      <li>
        <a href="/rules" class="{% if active_tab == 'rules' %}active{% endif %}">
          {% include "components/svg-icons/rule.svg" %}
          <span class="width">
            {% trans "Rules" %}
          </span>
        </a>
      </li>
      <li>
        <a href="/organizations" class="{% if active_tab == 'organizations' %}active{% endif %}">
          {% include "components/svg-icons/org.svg" %}
          <span class="width">
            {% trans 'organizations'|capfirst %}
          </span>
        </a>
      </li>
      {% if user.is_superuser or user.is_staff %}
      <li>
        <a href="/admin/" target="_NEW">
          {% include "components/svg-icons/admin_panel.svg" %}
          <span class="width">
            {% trans "Administration" %}
          </span>
        </a>
      </li>
      {% endif %}
    {% endif %}
  {% endif %}  
  </ul>
</nav>
