{% load static %}
{% load i18n %}

{% block scripts %}
<script src="{% static 'js/user_menu.js' %}"></script>
{% endblock %}

{% if request.user.is_authenticated %}
  <div class="user">
    <span class="user__avatar">
      <i id="account_circle" class="material-icons">account_circle</i>
    </span>

    <div class="user_menu">
      <button class="dropbtn" onclick="dropMenu()">
        <span class="user__name">{{ request.user }}</span>
        <span class="arrow">
          <i id="arrow_drop_down" class="material-icons">arrow_drop_down</i>
        </span>
      </button>
      <div class="user-content" id="userMenu">
        <div>
          <span class="user__avatar_big">
            <i id="account_circle" class="material-icons">account_circle</i>
          </span>
          <span class="user__name--bold">{{ request.user }}</span>
        </div>
        <a class="logout" href="/accounts/logout">
          {% trans "Logout" %}
        </a>
      </div>
    </div>
  </div>
{% endif %}