###############################################################
#                                                             #
#    All system requirements specific to the report module    #
#                                                             #
###############################################################

openssl
libxmlsec1-dev
