###############################################################
#                                                             #
#    All system requirements specific to the engine module    #
#                                                             #
###############################################################

tesseract-ocr
tesseract-ocr-dan
pdftohtml
imagemagick
cifs-utils
libsmbclient-dev


