##################################################################
#                                                                #
#    All system requirements shared by the two Django modules    #
#                                                                #
##################################################################

libpq-dev
gettext

# Hard dependencies through engine2 imports:
libsmbclient-dev
