#######################################################################
#                                                                     #
#    All system requirements specific to the administration module    #
#                                                                     #
#######################################################################

# Intentionally left empty
