.charts-container-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  align-items: left;
  background-color: white;
  -webkit-box-shadow: 0px 0px 40px #22222229;
  box-shadow: 0px 0px 40px #22222229;
  border-radius: 1.25rem;
  padding: 2rem
}



.pie-charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, auto);
}

.bar-charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(0, auto);
  column-gap: 2rem;
  row-gap: 5rem;
}

.chart-container {
  max-width: 90%;
  /* height: 40vh; */
  position: relative;
}

.chart-canvas {
  grid-area: chrt;
}


.pie-chart-content{ 
  display: -ms-grid;
	display: grid;
	// -ms-grid-columns: 1fr;
	// grid-template-columns: minmax(0, 1fr);
  -ms-grid-columns: 1fr 1fr;
	grid-template-columns:  repeat(2, minmax(0, 1fr));
	-ms-grid-rows: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr);
  align-items: center;
  -webkit-box-align: center;
	-ms-grid-row-align: center;
  grid-template-areas:
    "chrt lgnd"
  ;
}

.bar-chart-content{ 
  display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr ;
	grid-template-columns: minmax(0, 1fr);
	-ms-grid-rows: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr);
  align-items: center;
  -webkit-box-align: center;
	-ms-grid-row-align: center;
  grid-template-areas:
    "ttl"
    "chrt"
  ;
}

.chart-legend{
  list-style: none;
  vertical-align: middle;
	bottom: 0;
	margin: 0 0 0 0rem;
  grid-area: lgnd;
}

li>span {
	vertical-align: middle;
	cursor: pointer;
}

.charts-title {
  text-align: left;
  font-size: 1.5rem;
  color: rgba(100, 100, 100, 1);
  grid-area: ttl;
}

.bullet {
	content: "\2022 ";
	/* Add content: \2022 is the CSS Code/unicode for a bullet */
	font-weight: bold;
	padding-right: .2rem;
	font-size: 2rem;
	line-height: 1;
}