/*!
 * Select2-to-Tree CSS 1.1.1
 * https://github.com/clivezhg/select2-to-tree
 */

.treeview {
	width: 100%;
}

.treeview-label {
	margin-bottom: .25rem;
}

.s2-to-tree * {
	box-sizing: border-box;
}

.s2-to-tree .select2-results__option.l1 {
	margin-left: 0.6em;
	font-size: 1em;
}
.s2-to-tree .select2-results__option.l2 {
	margin-left: 1.4em;
	font-size: 1em;
}
.s2-to-tree .select2-results__option.l3 {
	margin-left: 2.2em;
	font-size: 1em;
}
.s2-to-tree .select2-results__option.l4 {
	margin-left: 3.0em;
	font-size: 1em;
}
.s2-to-tree .select2-results__option.l5 {
	margin-left: 3.8em;
	font-size: 1em;
}
.s2-to-tree .select2-results__option.l6 {
	margin-left: 4.5em;
	font-size: 1em;
}
.s2-to-tree .select2-results__option.l7 {
	margin-left: 5.3em;
	font-size: 1em;
}
.s2-to-tree .select2-results__option.l8 {
	margin-left: 6.0em;
	font-size: 1em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l1 {
	margin-right: 0.6em;
}
.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l2 {
	margin-right: 1.4em;
}
.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l3 {
	margin-right: 2.2em;
}
.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l4 {
	margin-right: 3.0em;
}
.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l5 {
	margin-right: 3.8em;
}
.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l6 {
	margin-right: 4.5em;
}
.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l7 {
	margin-right: 5.3em;
}
.s2-to-tree .select2-dropdown[dir*="rtl"] .select2-results__option.l8 {
	margin-right: 6.0em;
}

.s2-to-tree li.select2-results__option.non-leaf .expand-collapse:hover {
	color: var(--color-primary-dark);
	cursor: pointer;
}

.s2-to-tree li.select2-results__option.non-leaf .expand-collapse:before { /* no :: in IE8 */
	content: "";
	display: block;
	width: 10px;
	padding: 0.7rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 0.4rem !important;
	height: 28px;
	background-image: url("../svg/chevron-right.svg");
	position: absolute;
	left: -0.6em;
}

.s2-to-tree .select2-dropdown[dir*="rtl"] li.select2-results__option.non-leaf .expand-collapse:before {
	right: -0.35em;
}

.s2-to-tree li.select2-results__option.non-leaf.opened .expand-collapse:before {
	content: "";
	display: block;
	width: 10px;
	background-size: 0.55rem !important;
	height: 28px !important;
	background-image: url("../svg/chevron-down.svg");
	position: absolute;
	top: -0.3em !important;
    left: -.6em;
}

.s2-to-tree .select2-results__option[aria-disabled="true"] .expand-collapse {
	color: black;
}

.s2-to-tree .item-label {
	display: inline-block;
	margin-left: 0.5em;
	padding: 3px;
	width: calc(100% - 11px); /* IE8 will fit the content */
}

.s2-to-tree .select2-dropdown[dir*="rtl"] .item-label {
	margin-right: 0.5em;
}

.s2-to-tree li.select2-results__option {
	position: relative;
	padding: .2em;
	height: auto;
}

.s2-to-tree li.select2-results__option[data-pup] {
	display: none;
}

.s2-to-tree li.select2-results__option[data-pup].showme {
	display: block;
	overflow-y: visible;
}

.s2-to-tree.select2-container .select2-results__option--highlighted[aria-selected] > span.item-label {
	background-color: #5ca4cd40;
	color: black;
}

.s2-to-tree.select2-container li.select2-results__option--highlighted[aria-selected],
.s2-to-tree.select2-container li.select2-results__option[aria-selected="true"] {
	background-color: inherit;
	color: inherit;
}

.s2-to-tree li.select2-results__option.l1 {
	display: block;
	overflow-y: visible;
}

.s2-to-tree.searching-result li.select2-results__option {
	height: auto;
	display: block;
}

.select2-selection__choice {
	padding: .2rem .5rem !important;
    transition: var(--transition-default) !important;
	background-color: #e9e9e9 !important;
	margin-top: .35rem !important;
}

.select2-selection__choice__remove {
	margin-right: 0.4rem !important;
}

.select2-container--default .select2-selection--single {
	padding: .5rem !important;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
	border: none !important;
	border-radius: var(--border-radius-small) !important;
}

.select2-selection {
	padding: 0 !important;
	min-height: 2.65rem !important;
	width: 100% !important;
}

.select2-selection:after {
	top: 1.2rem !important;
}

.select2-selection[aria-expanded="true"]:after {
	top: 0.7rem !important;
}

.select2-selection__rendered {
	padding: 0 !important;
	min-width: 95% !important;
	height: 2.6rem !important;
}

.select2-container .select2-selection--single {
	height: 2.5rem !important;
	width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #222 !important;
	line-height: 26px !important;
}

.select2-selection__clear {
	display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	left: 0 !important;
	top: 70% !important;
}

.select2-dropdown {
	border: none !important;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
}

.select2-container .select2-search--inline {
	float: left;
	margin: 0 !important;
}

.select2-results__option {
	padding: 5px;
	user-select: none;
	-webkit-user-select: none;
	margin: 0px;
}

.select2-search__field {
	transition: var(--transition-default);
	outline: none !important;
	border: none !important;
	margin:  0 !important;
	padding: 0.75em 0.75em !important;
}

.s2-to-tree .org-icon {
	display: block;
	width: 20px;
	height: 20px;
	background-size: 100% 100%;
	background-image: url("../svg/users.svg");
	position: absolute;
	transition-delay: 0.1s;
	top: 0.1em;
	left: -0.35em;
	margin-left: 0.5em;
}

.s2-to-tree .org-icon-selected {
    background-color: #12496e;
	border-radius: 3px;
	display: block;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
	position: absolute;
	top: 0.3em;
	transition-delay: 0.2s;
	transition: var(--transition-default);
	left: -0.35em;
	margin-left: 0.5em;
	background-image: url("../svg/done.svg") !important;
}

.s2-to-tree .item-label {
	margin-left: .8em !important;
	padding-left: 2em !important;
}

.select2-results__options {
	max-width: 98% !important;
	max-height: 400px!important;
}

.select2-selection input {
	font-family:  "Inter var", system-ui, sans-serif;
}

// For IE support
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	.s2-to-tree .org-icon-selected::before {
		left: 0.15rem !important;
		bottom: 0.1rem;
		content: "✓";
		color: white;
	}

	.s2-to-tree li.select2-results__option.non-leaf.opened .expand-collapse:before {
		content: "⮞" !important;
		font-size: 1em !important;
		top: -.65em !important;
		transform: rotate(90deg);
		left: -0.25em !important;
	}

    .s2-to-tree li.select2-results__option.non-leaf .expand-collapse:before {
		content: "⮞" !important;
		font-size: 1em !important;
    	top: -0.75em !important;
		left: -1.2em !important;
	}
}
