.footer {
  background-color: var(--color-widget-bg);
  box-shadow: var(--box-shadow);
  line-height: 1;
  padding: 2rem;
  text-align: center;
}

.footer p {
  margin: 0;
}

.subtle_footer {
  position: fixed;
  right: 5px;
  bottom: 0;
  font-size: x-small;
  color: var(--color-text-secondary);
  z-index: -1;
}