.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  stroke-width: 0;
  stroke: #222;
  fill: #222;

  &--white {
    color: #fff;
    fill: #fff;
  }

  &--notify {
    color: var(--color-notification);
    fill: var(--color-notification);
  }

  &--warning {
    color: var(--color-warning);
    fill: var(--color-warning);
  }

  &--problem {
    color: var(--color-problem);
    fill: var(--color-problem);
  }

  &--critical {
    color: var(--color-error);
    fill: var(--color-error);
  }
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

/* datatable severity icons, start */
.level-label {
  background-color: rgba(0, 0, 0, 0.05);
  border-left: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px 1px 1px 3px;
  display: inline-block;
  font-size: 0.5rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}

.level-label--0 {
  border-left-color: var(--color-ok);
}

.level-label--1 {
  border-left-color: var(--color-warning);
}

.level-label--2 {
  border-left-color: var(--color-error);
}

.level-label--3 {
  border-left-color: var(--color-critical);
}

/* datatable severity icons, stop */


/* file type icons, start */
.icon-filetype {
  display: block;
  height: 2rem;
  width: 2rem;

  >svg {
    display: block;
    height: 100%;
    fill: #50565d;
    width: 100%;
  }

  &--msgraph-files svg {
    fill: var(--color-main);
  }

  &--msgraph-mail svg {
    fill: var(--color-main);
  }

  &--ews svg {
    fill: #EEB441;
  }

}

/* file type icons, stop */

.help-tooltip {

  svg {
    fill: var(--color-text-secondary);
    height: 1em;
    width: 1em;

    vertical-align: text-top;
  }
}