.orgunit-list {
  .orgunit-list-element {
    &.has_children {
      list-style: none;
      position: relative;

      >.orgunit_name {
        cursor: pointer;
      }

      &::before {
        content: "▸";
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        left: -1rem;
      }

      &.up::before {
        content: "▾";
      }
    }

    &.highlighted {
      background-color: var(--color-primary-lightest);
    }
  }
}