.sidemenu {
  display: none;
  background: transparent linear-gradient(180deg, var(--color-primary-light) 0%, var(--color-primary) 100%) 0% 0% no-repeat padding-box;
  position: fixed;
  width: 100%;
  box-shadow: var(--box-shadow);
  z-index: 20;

  @media (min-width: $break-lg) {
    position: static;
    width: 15rem;
    min-width: 15rem; // for IE11's sake, otherwise element will collapse completely if next to something that has flex-grow: 1
    min-height: 100%;
    display: block !important;
    box-shadow: none !important; // for some reason, IE11 ignores box-shadow: none; here, and falls back to the base style (ln. 6) which has a box-shadow
  }
}

.navi {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: fixed;
  top: 2rem;

  @media (min-width: $break-lg) {
    margin-left: 1rem;
    margin-top: 5rem;
  }
}

.navi ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navi li {
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;

  @media (min-width: $break-lg) {
    margin-top: 1.8rem;
    margin-right: 0;
  }
}

.navi a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 2.9rem;
  padding-left: .5rem;
  color: var(--color-text-white);
  text-decoration: none;
  font-weight: 700;

  @media (min-width: $break-sm) {
    height: 3.9rem;
    padding-left: 1rem;
  }

  @media (min-width: $break-lg) {
    width: 13rem;
  }

  svg {
    fill: var(--color-widget-bg);
    width: 2rem;
    height: auto;
  }

  .width {
    margin-left: 1rem;
  }
}

.navi a:hover {
  color: var(--color-primary-dark);

  svg {
    fill: var(--color-primary-dark);
  }

  .st1,
  .st2,
  .st3 {
    stroke: var(--color-primary-dark);
    fill: none;
  }
}

.navi a.active {
  color: var(--color-primary-dark);
  font-weight: 700;
  background-color: var(--color-body-bg);
  border-radius: 10px;

  @media (min-width: $break-lg) {
    border-radius: 10px 0px 0px 10px;
  }

  &::before,
  &::after {
    content: "";
    display: none;
    width: 10px;
    height: 10px;
    background-size: 100% 100%;
    background-image: url("../svg/navigation_corner.svg");
    position: absolute;
    right: 0;
  }

  &::before {
    transform: rotate(90deg);
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }

  svg {
    fill: var(--color-primary-dark);
  }

  .st1,
  .st2,
  .st3 {
    stroke: var(--color-primary-dark);
    fill: none;
  }
}

@media (min-width: $break-lg) {
  .navi .logout {
    display: none;
  }
}

@media screen and (min-width: $break-lg) {
  .navi li a.active::before {
    display: block !important;
  }

  .navi li a.active::after {
    display: block !important;
  }
}