.sidemenu {
  display: none;
  background: transparent linear-gradient(180deg, var(--color-primary-light) 0%, var(--color-primary) 100%) 0% 0% no-repeat padding-box;
  position: fixed;
  width: 100%;
  box-shadow: var(--box-shadow);
  z-index: 20;

  @media (min-width: $break-lg) {
    position: static;
    width: 15rem;
    min-width: 15rem; // for IE11's sake, otherwise element will collapse completely if next to something that has flex-grow: 1
    min-height: 100%;
    display: block !important;
    box-shadow: none !important; // for some reason, IE11 ignores box-shadow: none; here, and falls back to the base style (ln. 6) which has a box-shadow

    .navi {
      margin-left: 1rem;
      margin-top: 5rem;
      position: fixed;
      top: 2rem;
    }

    .navi li {
      margin-top: 1.8rem;
      margin-right: 0;

    }

    .navi a {
      width: 13rem;
    }

    .navi a.active {
      border-radius: 10px 0px 0px 10px;

      &::before,
      &::after {
        content: "";
        display: none;
        width: 10px;
        height: 10px;
        background-size: 100% 100%;
        background-image: url("../svg/navigation_corner.svg");
        position: absolute;
        right: 0;
      }

      &::before {
        transform: rotate(90deg);
        top: -10px;
      }

      &::after {
        bottom: -10px;
      }
    }
  }
}

.banner_menu {
  display: none;
  left: 0;
  top: 62px;
  width: 100%;
  z-index: 20;
  background: transparent linear-gradient(180deg, var(--color-primary-light) 0%, var(--color-primary) 100%) 0% 0% no-repeat padding-box;
  position: fixed;
  box-shadow: var(--box-shadow);

  @media (min-width: $break-lg) {
    display: flex;
    align-items: center;
    width: 70%;
    position: relative;
    height: 100%;
    top: 0;
    background: None;
    box-shadow: None;

    .navi {
      margin-top: 0;
      margin-bottom: 0;
      height: 100%;

      ul {
        padding-left: 0.5rem;
        display: flex;
        height: 100%;
        align-items: center;
      }

      li {
        display: inline-block;
        text-decoration: none;
        height: 100%;
      }

      a {
        height: 100%;
        padding: 0rem 0.5rem;

        color: var(--color-primary-dark);

        &:hover {
          color: var(--color-primary);

          svg {
            fill: var(--color-primary);
          }
        }

        &.active {
          color: var(--color-primary);

          svg {
            fill: var(--color-primary);
          }

          &::after {
            content: "";
            position: absolute;
            top: 58px;
            height: 4px;
            left: 0;
            width: inherit;
            background-color: var(--color-primary);
          }
        }

        svg {
          height: 30px;
          fill: var(--color-primary-dark);
        }
      }

      .width {
        margin-left: 0.5rem;
      }
    }
  }
}

.navi {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.9rem;
    padding-left: .5rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-text-white);

    @media (min-width: $break-sm) {
      height: 3.9rem;
      padding-left: 1rem;
    }

    &:hover {
      color: var(--color-primary-dark);

      svg {
        fill: var(--color-primary-dark);
      }

      .st1,
      .st2,
      .st3 {
        stroke: var(--color-primary-dark);
        fill: none;
      }
    }

    &.active {
      color: var(--color-primary-dark);
      font-weight: 700;
      background-color: var(--color-body-bg);
      border-radius: 10px;

      svg {
        fill: var(--color-primary-dark);
      }

      .st1,
      .st2,
      .st3 {
        stroke: var(--color-primary-dark);
        fill: none;
      }
    }

    svg {
      fill: var(--color-widget-bg);
      width: 2rem;
      height: auto;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      text-decoration: none;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .width {
    margin-left: 1rem;
  }
}

@media (min-width: $break-lg) {
  .navi .logout {
    display: none !important;
  }

  .navi .profile {
    display: none !important;
  }
}

@media screen and (min-width: $break-lg) {
  .navi li a.active::before {
    display: block !important;
  }

  .navi li a.active::after {
    display: block !important;
  }
}