.blue-box {
  display: flex;
  align-items: center;
  background-color: #dbe9ef;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: var(--border-radius-default);
  margin-right: 2rem;
  padding-left: .75rem;

  .material-icons {
    color: #21759c;
    font-size: 3rem;

  }
}

.flex-input {
  flex-wrap: row;
  flex-grow: 1;
  width: 100%;
}

.flex-dropdown {
  flex-wrap: row;
  flex-grow: 1;
  width: 25%;
}

.response {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: .8rem;

  .response-text {
    display: flex;
    margin-top: -.75rem;
  }

  .response-icon {
    display: flex;
    margin: 0 .25rem .75rem 1rem;
    font-size: .8rem;

    &--error {
      color: var(--color-error);
    }

    &--success {
      color: var(--color-ok-dark);
    }
  }
}

.userObjClass {

  .user-class-input+.user-class-input,
  button+.user-class-input {
    margin-top: 1rem;
  }
}

.orgunit-list {

  .root {

    ul {
      margin-bottom: 0;
    }

    li {
      padding: 0.5rem 0;

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .orgunit_name {
    display: inline-block;
    width: 30%;
    min-width: fit-content;
  }

  .orgunit_members {
    font-style: italic;
    display: inline-block;
    width: 15%;
    min-width: fit-content;
  }

  .orgunit_managers {
    display: inline-block;
    width: 20%;
    min-width: fit-content;

    ul {
      list-style: none;
      display: inline;

      li {
        display: inline;
        margin: 0;

        &:not(:last-of-type)::after {
          content: ", ";
        }
      }
    }

    .select_manager {
      height: 2rem;
      width: 15rem;
      font-size: inherit;
      font-weight: inherit;
    }

    .manager_li {
      cursor: pointer;

      &:hover {
        text-decoration: line-through;

      }
    }

  }
}