.rule-container {
  select {
    cursor: pointer;
    color: var(--color-text-main);
    padding: 0.75rem 2.25rem 0.75rem 0.75rem;
    width: fit-content;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none !important;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    appearance: none;
    background-color: var(--color-widget-bg);

    background-image: url("../svg/chevron-down.svg"), linear-gradient(to bottom, var(--color-widget-bg) 0%, var(--color-widget-bg) 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.75rem top 50%, 0 0;
    background-size: 0.75rem auto, 100%;
  }

  label {
    display: inline;
    font-size: var(--size-base-font-size) / 1.3;
  }

  input[type="text"] {
    width: auto;
  }

  span.logical-rule {
    display: block;
    padding-left: 2rem;
    margin-top: 0.2rem;
  }

  .destroyer,
  .inserter {
    text-align: center;
    vertical-align: center;
    height: 2rem;
    width: 2rem;
    border: none;
    color: currentColor;
    transition: var(--transition-default);
    transition-property: background-color;
    cursor: pointer;
    border-radius: var(--border-radius-button);
    margin: 0.2rem;
  }


}

.watcher {
  margin-top: 1rem;
}

#__templates {
  display: none;
}
