:root {
  --service-button-size: 100px;
  --service-button-gap: 10px;
  --service-widget-gap: 20px;
}

.service {
  position: fixed;
  width: 200px;
  right: 20px;
  bottom: var(--service-widget-gap);
  z-index: 10;

  >.service_button {
    margin-left: auto;
    height: var(--service-button-size);
    width: var(--service-button-size);
    border-radius: calc(var(--service-button-size)/2);
    background-color: var(--color-body-bg);
    font-size: calc(0.64 * var(--service-button-size));
    color: var(--color-main);
    line-height: var(--service-button-size);
    text-align: center;
    cursor: pointer;
    box-shadow: var(--box-shadow-widget);
    transition: all 200ms ease-in-out;
    position: absolute;
    right: 0px;
    bottom: 0px;

    &:hover {
      color: var(--color-body-bg);
      background-color: var(--color-main);

      +.popup {
        display: block;
      }
    }
  }

  .open_popup:hover .popup,
  .open_popup:hover .popup-container {
    display: block;
  }

  .popup-container {
    display: none;
    width: 300px;
    position: absolute;
    right: 160px;
    bottom: -18px;

    &:hover {
      display: block;
    }
  }

  &:hover>.popup {
    display: block;
  }

  >.popup {
    margin-bottom: calc(var(--service-button-size) + var(--service-button-gap));
  }

  .popup {
    display: none;
    background-color: var(--color-widget-bg);
    box-shadow: var(--box-shadow-widget);
    border-radius: var(--border-radius-widget);
    color: var(--color-main);
    position: relative;

    &:hover {
      display: block;
    }

    &.overview {
      top: 0px;
    }

    &.popup_overview {
      right: 40px;
      max-height: 70vh;
      overflow-y: scroll;
    }

    >ul {
      list-style: none;
      padding: 1rem;
      margin: 0;

      a,
      button {
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: inherit;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: inherit;
      }

      li {
        padding: 0.8rem;
        margin: 0.2rem;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        border-radius: 10px;

        &.user-input {
          overflow-x: hidden;
        }

        .popup-container {
          cursor: default;
        }

        &:hover {
          background-color: var(--color-main);
          color: var(--color-widget-bg)
        }

      }
    }
  }
}