.message-popup-area {
  position: fixed;
  width: 600px;
  margin: 5%;
  right: 5%;
  top: 0px;
  z-index: 1000;
  padding: 3rem 3rem 0 3rem;
  max-height: 100vh;
  overflow-y: scroll;

  .message-popup {
    border-radius: var(--border-radius-widget);
    box-shadow: var(--box-shadow-widget);
    background-color: var(--color-widget-bg);
    text-align: center;
    padding: 2rem;
    margin: 1rem 2rem;
  }
}
