.stats_dropdown{
	width: 15rem;
}

.statistic_wrapper {
	display: flex;
	margin: -1.75rem;
	flex-wrap: wrap;
}

.statistic {
	background-color: var(--color-widget-bg);
	-webkit-box-shadow: var(--box-shadow-widget);
	box-shadow: var(--box-shadow-widget);
	border-radius: var(--border-radius-widget);
	padding: 2rem;
	margin: 1.75rem;
	flex: 1 1 auto;
	min-width: 0;
	max-width: 100%;

	.statistic_header {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: -.5rem -.5rem 1.5rem;

		.page-title__sub {
			margin-bottom: 0;
		}

		> div {
			margin: .5rem;
			flex: 0 1 auto; // make explicit for IE11's sake
		}
	}

	p {
		margin: 0;
		font-size: 1rem;
		color: var(--color-text-secondary);
	}
	// Overwriting predefined a-tag from "_typography.css"
	// because the color from the prototype is different
	a {
		text-align: right;
		color: var(--color-primary);
		-ms-grid-column-align: end;
		justify-self: end;
		height: 0;
	}
}

.chart_container {
	max-width: 32rem;

	// use the approach below to visually hide charts from the screen.
	// if using display: none;, ChartJS can't determine the proper dimensions
	// for the chart, as it can't determine the bounding box of the container.
	&.hidden {
		opacity: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1000;
		pointer-events: none;
	}
}

.chart_description {
	&.hidden {
		display: none !important;
	}
}

// Pie chart CSS

.pie_chart_container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	-ms-grid-rows: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr);

	> div {
		display: flex;
		align-items: center;
	}

	div:nth-child(2) {
		-ms-grid-column: 2;
	}
}

.pie_legend_list {
	list-style: none;
	bottom: 0;
	margin: 0 0 0 1rem;
}

li > span {
	color: var(--color-text-secondary);
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	cursor: pointer;
}

.bullet {
	content: "\2022 "; /* Add content: \2022 is the CSS Code/unicode for a bullet */
	font-weight: bold;
	padding-right: .5rem;
	font-size: 2rem;
	line-height: 1;
}

// Doughnut

.doughnut_charts_container {
	display: flex;
	flex-wrap: wrap;
	max-width: none;
	> .doughnut_chart_container {
		flex: 1 1 100%;
		max-width: 19rem;
	}
}

.doughnut_chart_container {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	-ms-grid-rows: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr);
	-webkit-box-align: center;
	-ms-grid-row-align: center;
	align-items: center;

	h4 {
		font-weight: 600;
	}

	.doughnut_info_box {
		font-size: 1rem;
		line-height: 1;
		margin-left: 1rem;
		-ms-grid-column: 2;
		-ms-grid-row-align: center;
	}
}

// LINE

#line-chart-new-matches-tooltip {
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
