.tabs {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  margin-bottom: 1.5rem;
  position: relative;

  &__control {
    display: inline-block;
    position: relative;
    background-color: inherit;
    border: none;
    color: var(--color-text-main);
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    outline: none;
    padding: 1rem;
    text-decoration: none;
    transition: 0.1s;
    margin: 0 -1px -1px 0;

    &:focus,
    &:hover,
    &.active {
      box-shadow: inset 0 -3px 0 0 var(--color-primary-dark);
      color: var(--color-primary-dark);
    }

    &::after {
      content: "";
      pointer-events: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 20%;
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: #dadada;
      z-index: -1;
    }
  }

  &__content {
    display: none;
    padding: 1rem 0;
  }
}

.scrollbar-content {

  // scrollbar
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  .scroll-width-none {
    scrollbar-width: none;
  }
}

.bubble {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 2px 5px 2px 6px;
  border-radius: 12px;
  color: white;
  background-color: var(--color-primary-light);
  box-shadow: 1px 1px 1px gray;
  text-transform: uppercase;
  cursor: default;

  &.offset {
    left: -10px;
    bottom: -10px;
  }
}