{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block additional_styles %}
<style>
  html {
    background: transparent linear-gradient(180deg, #5CA4CD 0%, #21759C 100%) 0% 0% no-repeat padding-box;
  }
</style>
{% endblock %}

{%  block title %}
  {% trans 'Login' %}
{% endblock %}

{% block body %}

  <section class="login-form">
    <form class="form" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <h2>
        {% trans "Login" %} på<br> 
        <span class="line-height">administrationsmodulet</span>
      </h2>

          <fieldset>
            <div class="form__group{% if form.username.errors %} has-error{% endif %}">
              <label for="id_{{ form.username.name }}">{{ form.username.label }}</label>
              <input type="text" name="{{ form.username.name }}" id="id_{{ form.username.name }}" autofocus {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
              <label>{% if form.username.errors %}{{ form.username.errors }}{% endif %}</label>
            </div>

            <div class="form__group{% if form.password.errors %} has-error{% endif %}">
              <label for="id_{{ form.password.name }}">{{ form.password.label }}</label>
              <input type="password" name="{{ form.password.name }}" id="id_{{ form.password.name }}" {% if form.password.value %}value="{{ form.password.value }}"{% endif %}>
              <label>{% if form.password.errors %}{{ form.password.errors }}{% endif %}</label>

              {% for error in form.non_field_errors %}
                <div class="form__error">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="form__group">
              <div class="ds-checkbox">
                <input type="checkbox" name="remember-me" id="remember-me">
                <label for="remember-me">
                  {% trans "Remember me" %}
                </label>
              </div>
            </div>

            <div class="form__group">
              <button class="login-btn" type="submit">
                {% trans "Login" %}
              </button>
            </div>

            <div class="form__group">
              <label class="info">
                {% trans "Did you forget your password?" %}
                <a class="link" href="{% url 'password_reset' %}">
                  {% trans "Click here" %}
                </a>
              </label>
            </div>

            <div class="form__group logo">
              {% include "components/logo-o.html" %}
            </div>
          </fieldset>
      </form>
  </section>
{% endblock %}

{% block heading %} 
  OS2datascanner {% trans "Login" %}
{% endblock %}
