{% extends 'partials/base.html' %}
{% load static %}
{% load i18n %}

{% block additional_styles %}
<style>
  html {
    background: transparent linear-gradient(180deg, #5CA4CD 0%, #21759C 100%) 0% 0% no-repeat padding-box;
  }
</style>
{% endblock %}

{%  block title %}
  {% trans "Logout" %}
{% endblock %}

{% block body %}

<section class="logout-content">
    <p>
      {% trans "Thank you for using OS2datascanner." %}
    </p>
    <a href="/accounts/login/">
      {% trans "Log in" %}
    </a>
    <span>{% trans "again" %}</span>
</section>

{% endblock %}

{% block heading %} 
Logout
{% endblock %}
