{% extends 'os2datascanner/base.html' %}
{% load staticfiles %}

{%  block title %}
Logout
{% endblock %}

{% block styling %}
  {% if not settings.DEBUG %}
    <link href="{% static "dist/bundle.min.css" %}" rel="stylesheet" />
  {% else %}
    <link href="{% static "dist/bundle.css" %}" rel="stylesheet" />
  {% endif %}
{% endblock %}

{% block body %}

<div class="container">
    <p>
      Tak, fordi du brugte OS2datascanner.
    </p>
    <a href="/accounts/login/">Log ind</a> igen
</div>

{% endblock %}

{% block heading %} 
Logout
{% endblock %}
