{% extends 'partials/base.html' %}
{% load i18n %}

{% block additional_styles %}
<style>
  html {
    background: transparent linear-gradient(180deg, #5CA4CD 0%, #21759C 100%) 0% 0% no-repeat padding-box;
  }
</style>
{% endblock %}

{% block title %}
  {{ title }}
{% endblock %}

{% block heading %}
  <h1>
    {{ title }}
  </h1>
{% endblock %}

{% block body %}

<section class="reset-content">
  <form class="form" action="" method="post">
    <p style="word-break:keep-all;">
      {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
    </p>

    {% csrf_token %}
    {{ form.email.errors }}

    <label for="id_email">{% trans 'Email address' %}</label>
      {{ form.email }}
    <input class="reset-btn" type="submit" value="{% trans 'Reset my password' %}" />
  </form>
</section>
{% endblock %}
