{% extends 'partials/base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block body_class %}login-bg{% endblock %}

{% block heading %}<h1>{{ title }}</h1>{% endblock %}

{% block body %}
  <section class="login-card">
    <p>
      {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
    </p>

    <p>
      {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </p>

    <div class="form__group logo">{% include "components/logo-o.html" %}</div>
  </section>
{% endblock %}
