html {
  background-color: var(--color-body-bg);
}

body {
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
}

.content {
  max-width: 90%;
  min-height: calc(100vh - 9rem - var(--size-ds-unit) * 3);
  padding: 8rem 8rem;
}

.wrapper > *:first-child {
  margin-top: 0;
}
