html {
  background-color: var(--color-body-bg);
}

body {
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  max-width: 100%;
  min-height: 100%;
  align-items: stretch;
}

.content {
  max-width: 100%;
  padding-top: 10rem;
  padding-left: 20rem;
}

.wrapper > *:first-child {
  margin-top: 0;
}
