html {
  background-color: var(--color-body-bg);
}

body {
  padding: 0;
}

.wrapper {
  display: flex;
  max-width: 100%;
  min-height: 91%;
}

.content {
  max-width: 100%;
  padding-top: 8rem;
  padding-left: 8rem;
}

.wrapper > *:first-child {
  margin-top: 0;
}
