@import "_sass_vars";

@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/inter/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local("Material Icons"), local("MaterialIcons-Regular"),
		url(../fonts/inter/MaterialIcons-Regular.woff2) format("woff2"),
		url(../fonts/inter/MaterialIcons-Regular.woff) format("woff"),
		url(../fonts/inter/MaterialIcons-Regular.ttf) format("truetype");
}

:root {
	--transition-property: all;
	--transition-timing: 0.2s;
	--transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
	--transition-delay: 0s;
	--transition-default: var(--transition-property) var(--transition-timing)
		var(--transition-timing-function) var(--transition-delay);

	--size-ds-unit: 8px;
	--size-logo-height: calc(var(--size-ds-unit) * 3.75);
	--size-logo-width: calc(var(--size-ds-unit) * 3.75 * 6.3546875); // this number is the logo graphic's aspect ratio
	--size-base-font-size: calc(var(--size-ds-unit) * 2);

	//primary colors
	--color-body-bg: #f5f5f5;
	--color-widget-bg: #fff;
	--color-main: #3a69b4;
	--color-primary: #21759c;
	--color-primary-light: #5ca4cd;
	--color-primary-lightest: #d4efff;
	--color-primary-dark: #00496e;

	//text colors
	--color-text-main: #222;
	--color-text-secondary: #777777;
	--color-text-white: #fff;

	//hover color
	--color-hover: #f5f5f5;

	//sensitivity colors
	--color-ok: var(--color-main);
	--color-ok-dark: #32845e;

	--color-error: #e24e4e;

	--color-problem: #ffab00;

	--color-warning: #fed149;

	--color-notification: #21759c;

	--color-office365: #d83b01;

	// icon arrow color
	--color-icon: #777777;

	--color-logo-mark: var(--color-main);
	--color-logo-text: var(--color-text-main);

	//border-radius
	--border-radius-button: 0.2rem;
	--border-radius: 0.5rem;
	--border-radius-default: 0.625rem;
	--border-radius-filter: 0.625rem;
	--border-radius-small: 0.125rem;
	--border-radius-widget: 1.25rem;
	--border-radius-sensitivity: 20px 0px 0px 20px;

	//box-shadow
	--box-shadow: 10px 10px 30px #0000001a;
	--box-shadow-large: 0 0 2rem rgba(0, 0, 0, 0.2);
	--box-shadow-widget: 0px 0px 40px #22222229;
	--box-shadow-default: 0px 0px 5px #22222229;
	--box-shadow-filter: 0px 0px 5px #22222229;
	--box-shadow-login: 0px 0px 40px #00496e80;

	// statistics-specific colors

	--color-gradient-dark-yellow: #eac445;
	--color-grey-dark: #777777;
	--color-grey-light: #f5f5f5;
	--color-white: #fff; // ????
}
