html {
  background-color: var(--color-body-bg);
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  padding: 0;
}

.page {

  .iframe-modal & {
    padding: calc(var(--size-ds-unit) * 2);
  }
}

.wrapper {
  display: flex;
  max-width: 100%;
  min-height: calc(100vh - 9rem - var(--size-ds-unit) * 2);
}

.content {
  width: 100%;
  padding-top: 10rem;
  padding-left: 20rem;
}

.aside {
  display: flex;
  align-items: center;
  max-width: 90rem;
  width: calc(100% - 2rem);
  margin-bottom: 0.5rem;

  h1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .btn {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
}

.data-form {
  background-color: #fff;
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);
  max-width: 90rem;
  width: calc(100% - 2rem);
  padding: 2rem;
  margin-bottom: 2.5rem;

  &--sm {
    width: 55rem;
    margin-right: 5rem;
  }

}

.data-org {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: var(--box-shadow-widget);
  border-radius: var(--border-radius-widget);
  width: 30rem;
  padding: 2rem;
}

.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 90rem;
  width: calc(100% - 2rem);
}

.table {
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #bbb;
    td, th {
      vertical-align: top;
    }
    td {
      padding: 0 1em;
    }
    th {
      padding: 1em;
    }
  }
  tbody tr:last-child {
    border-bottom: 0;
  }

}
