{{ form.media }}
{% load static %}
{% load i18n %}

{% block scripts %}
  <script src="{% static 'js/rule-builder.js' %}"></script>
{% endblock %}

<div class="rule-container">
  <div data-template="rule_selector" id="select_slot"></div>
</div>

<textarea id="id_rule"
          class="watcher"
          {% if hidden %}hidden{% endif %}
          data-selector="#select_slot"
          data-function="stringifyRule"
          name="{{ widget.name|default:"rule" }}"
          readonly>{% if widget %}{{ widget.value }}{% else %}{}{% endif %}</textarea>

<div id="__templates" style="display: none">
  <span id="blank"></span>
  <span id="rule_selector">
    <select class="rule_selector">
      <option value="" selected>--</option>
      <option value="AndRule">{% trans "all of" %}</option>
      <option value="OrRule">{% trans "one of" %}</option>
      <option value="NotRule">{% trans "not" %}</option>
      <option value="CPRRule">{% trans "CPR-nr." %}</option>
      <option value="RegexRule">{% trans "regular expression" %}</option>
      <option value="CustomRule_Health">{% trans "health information" %}</option>
      <option value="CustomRule_Name">{% trans "names" %}</option>
      <option value="CustomRule_Address">{% trans "address" %}</option>
      <option value="EmailHeader">{% trans "e-mail header" %}</option>
      <optgroup label="{% trans "Experimental" %}">
        <option value="TurboCPRRule">{% trans "CPR-nr. (Turbo)" %}</option>
        <option value="TurboHealthRule">{% trans "health information (Turbo)" %}</option>
      </optgroup>
    </select>
    <span class="empty"></span>
  </span>
  <span id="and_fragment" class="logical-rule">
    <input class="destroyer" type="button" value="-">
    {% trans "and" %} <span data-template="rule_selector"></span>
  </span>
  <span id="AndRule">
    <input class="inserter"
           data-template-name="and_fragment"
           data-template-insert="before-sibling .target"
           type="button"
           value="+" />
    <span class="logical-rule">
      <span data-template="rule_selector"></span>
    </span>
    <span class="target"></span>
  </span>
  <span id="or_fragment" class="logical-rule">
    <input class="destroyer" type="button" value="-" />
    {% trans "or" %} <span data-template="rule_selector"></span>
  </span>
  <span id="OrRule">
    <input class="inserter"
           data-template-name="or_fragment"
           data-template-insert="before-sibling .target"
           type="button"
           value="+" />
    <span class="logical-rule">
      <span data-template="rule_selector"></span>
    </span>
    <span class="target"></span>
  </span>
  <span id="NotRule">
    <span data-template="rule_selector"></span>
  </span>
  <span id="CPRRule">
    ({% trans "with" %}
    <label>
      <input type="checkbox" checked />
      {% trans "modulus 11-," %}
    </label>
    <label>
      <input type="checkbox" checked />
      {% trans "probability,-" %}
    </label>
    {% trans "and" %}
    <label>
      <input type="checkbox" checked />
      {% trans "context check." %}
    </label>
    <label>
      {% trans "Exceptions:" %}
      <input type="text" id="exceptions_input" placeholder="XXXXXXXXXX,XXXXXXXXXX" />
    </label>
    )
  </span>
  <span id="RegexRule">
    <input type="text" placeholder="{% trans "Regular expression" %}" />
  </span>
  <span id="CustomRule_Health"></span>
  <span id="CustomRule_Name">
    ({% trans "with" %}
    <label class="cpr-rule-specs">
      <input type="checkbox" />
      {% trans "expanded matching" %}
    </label>
    )
  </span>
  <span id="CustomRule_Address"></span>
  <span id="EmailHeader">
    <input type="text" placeholder="{% trans "field name" %}" />
    <span class="logical-rule">
      {% trans "matches" context "verb" %}
      <span data-template="rule_selector"></span>
    </span>
  </span>
  <span id="TurboCPRRule">
    ({% trans "with" %}
    <label>
      <input type="checkbox" checked />
      {% trans "modulus 11-," %}
    </label>
    {% trans "and" %}
    <label>
      <input type="checkbox" checked />
      {% trans "context check" %}
    </label>
    )
    <span id="TurboHealthRule"></span>
  </span>
</div>
