version: '3.4'
services:
  requirements:
    build:
      context: ../
      dockerfile: ./dev-environment/Dockerfile
    command: >
      sh -c "set -ex &&
             pip-compile --allow-unsafe requirements-all.in"

    volumes:
      - ../requirements/python-requirements:/requirements/python-requirements
